
<div id="jsstatemessage" style="display:none;"></div>
<!-- BEGIN status -->
<div class="{STATUS_TYPE}">{STATUS_MESSAGE}</div>
<!-- END status -->
<!-- BEGIN message -->
<div id="license_message" class="upgrade {MESSAGE_TYPE}">
    <a class="link" href="{MESSAGE_LINK}" target="{MESSAGE_LINK_TARGET}">{MESSAGE_TITLE}</a>
    <!-- BEGIN upgradable -->
    <a id="button_upgrade" href="{LICENSE_UPGRADE_URL}">Upgrade</a>
    <!-- END upgradable -->
</div>
<!-- END message -->

<script type="text/javascript">


    cx.license = new function() {

        return {
            crc32: function(s) {
                s = String(s);
                var c=0, i=0, j=0;
                var polynomial = arguments.length < 2 ? 0x04C11DB7 : arguments[1],
                    initialValue = arguments.length < 3 ? 0xFFFFFFFF : arguments[2],
                    finalXORValue = arguments.length < 4 ? 0xFFFFFFFF : arguments[3],
                    crc = initialValue,
                    table = [], i, j, c;

                function reverse(x, n) {
                    var b = 0;
                    while (n) {
                    b = b * 2 + x % 2;
                    x /= 2;
                    x -= x % 1;
                    n--;
                    }
                    return b;
                }

                var range = 255, c=0;
                for (i = 0; i < s.length; i++){
                    c = s.charCodeAt(i);
                    if(c>range){ range=c; }
                }

                for (i = range; i >= 0; i--) {
                    c = reverse(i, 32);

                    for (j = 0; j < 8; j++) {
                    c = ((c * 2) ^ (((c >>> 31) % 2) * polynomial)) >>> 0;
                    }

                    table[i] = reverse(c, 32);
                }

                for (i = 0; i < s.length; i++) {
                    c = s.charCodeAt(i);
                    if (c > range) {
                    throw new RangeError();
                    }
                    j = (crc % 256) ^ c;
                    crc = ((crc / 256) ^ table[j]) >>> 0;
                }

                return (crc ^ finalXORValue) >>> 0;
            },
            strPad: function(i,l,s) {
                var o = i.toString();
                if (!s) { s = "0"; }
                while (o.length < l) {
                    o = s + o;
                }
                return o;
            },
            checkKey: function(key, id) {
                if (key === id) {
                    return false;
                }
                if (key.length != 40) {
                    return false;
                }
                var realKey = key.substr(0, 40 - 8);
                var realChecksum = this.strPad(this.crc32(realKey).toString(16), 8);
                return realKey + realChecksum === key;
            },
            appendIcon: function(element, id) {
                if (this.checkKey(element.val(), id)) {
                    element.parent().children("img").remove();
                    element.after(" <img src=\"/core/Core/View/Media/icons/check.gif\" />");
                    jQuery("input[name=save]").attr("disabled", false);
                } else {
                    element.parent().children("img").remove();
                    element.after(" <img src=\"/core/Core/View/Media/icons/delete.gif\" />");
                    jQuery("input[name=save]").attr("disabled", true);
                }
            }
        };
    }();

    jQuery("document").ready(function() {
        var selector = "input[name=licenseKey]";
        var id = jQuery("#installationId").html();

        cx.license.appendIcon(jQuery(selector), id);

        jQuery(selector).keyup(function() {
            cx.license.appendIcon(jQuery(this), id);
        });

        var edition = jQuery("#edition").html();
        if (edition == "Free" || edition == "Trial") {
            jQuery("#upgradeButton").show();
        }
    });
</script>
<form method="post" action="index.php?cmd=License">
    <table class="adminlist" width="100%">
        <tr>
            <th width="15%">{TXT_LICENSE_OVERVIEW}</th>
            <th width="85%"></th>
        </tr>
        <tr>
            <td>{TXT_LICENSE_STATE}</td>
            <td>{LICENSE_STATE}</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>{VERSION_NUMBER}</td>
        </tr>
        <tr>
            <td>{TXT_LICENSE_EDITION}</td>
            <td id="edition">{LICENSE_EDITION}</td>
        </tr>
        <tr>
            <td>{TXT_LICENSE_REGISTERED_DOMAINS}</td>
            <td>
<!-- BEGIN licenseDomain -->
                <div>{LICENSE_DOMAIN}</div>
<!-- END licenseDomain -->
            </td>
        </tr>
        <tr>
            <td>{TXT_LICENSE_VALID_TO}</td>
            <td>{LICENSE_VALID_TO}</td>
        </tr>
        <tr>
            <td>{TXT_LICENSE_CREATED_AT}</td>
            <td>{LICENSE_CREATED_AT}</td>
        </tr>
        <tr>
            <td>{TXT_INSTALLATION_ID}</td>
            <td id="installationId">{INSTALLATION_ID}</td>
        </tr>
<!-- BEGIN licenseAdmin -->
        <tr>
            <td>{TXT_LICENSE_KEY}</td>
            <td><input type="text" value="{LICENSE_KEY}" size="50" name="licenseKey" /><br /><input style="margin-top: 5px;" type="submit" name="save" value="{TXT_SAVE}" /></td>
        </tr>
    </table>
    <br />
    <input type="submit" name="update" value="{TXT_LICENSE_UPDATE}" />
<!-- END licenseAdmin -->
<!-- BEGIN licenseNotAdmin -->
        <tr>
            <td>{TXT_LICENSE_KEY}</td>
            <td>{LICENSE_KEY}</td>
        </tr>
    </table>
<!-- END licenseNotAdmin -->
</form>
