<!-- BEGIN skipAjaxBlock -->
<div id="message">
    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="adminlist">
        <tr>
            <th>{TXT_CRM_SHOW_COMMENT_HISTORY}</th>
        </tr>
    </table>
    <table id="notesTab" cellspacing="0" cellpadding="3" border="0" width="100%" class="adminlist">
        <thead>
            <tr class="row3" style="height:22px;">
                <td width="1%">{TXT_CRM_COMMENT_TITLE}</td>
                <td width="25%">{TXT_CRM_NOTES_TYPE}</td>
                <td width="15%">{TXT_CRM_ADDED_BY}</td>
                <td width="15%">{TXT_CRM_LAST_UPDATED_BY}</td>
                <td width="15%">{TXT_CRM_DUE_DATE}</td>                
                <td width="10%" style="text-align: right;">{TXT_CRM_TASK_FUNCTIONS}</td>
            </tr>
        </thead>
        <tbody>
            <!-- END skipAjaxBlock -->
            <!-- BEGIN noNotesEntries -->
            <tr class="row1">
                <td colspan="9"><i>{TXT_CRM_NO_RECORDS_FOUND}</i></td>
            </tr>
            <!-- END noNotesEntries -->
            <!-- BEGIN showComment -->
            <tr style="height:27px;" class="{ENTRY_ROWCLASS}" {TXT_SHOWTASK_STYLESHEET}>
                <td rowspan="2">
                    <img src="{CRM_NOTES_TYPE_ICON}" alt="{CRM_NOTES_TYPE}" style="padding: 7px 10px 10px 10px;"/>
                </td>
                <td >{CRM_NOTES_TYPE}</td>
                <td >
                    {CRM_ADDED_USER} <br />
                    {CRM_COMMENT_ADDEDDATETIME}</td>
                <td>
                    <div>{CRM_UPDATED_USER}</div>
                    <div>{CRM_COMMENT_UPDATEDDATETIME}</div>
                </td>
                <td>{CRM_COMMENT_DATE}</td>                
                <td style="text-align: right;">
                    <a title="{TXT_CRM_IMAGE_EDIT}" target="_self" href="index.php?cmd={MODULE_NAME}&amp;act=customers&tpl=addnote&{CSRF_PARAM}&id={TXT_COMMENT_ID}&cust_id={TXT_CUST_ID}{CRM_REDIRECT}"><img border="0" title="{TXT_CRM_IMAGE_EDIT}" alt="{TXT_CRM_IMAGE_EDIT}" src="/core/Core/View/Media/icons/edit.gif" /></a>
                    <a title="{TXT_CRM_IMAGE_DELETE}" target="_self" href="javascript:deleteCommentEntry({TXT_COMMENT_ID},{TXT_CUST_ID});"><img border="0" title="{TXT_CRM_IMAGE_DELETE}" alt="{TXT_CRM_IMAGE_DELETE}" src="/core/Core/View/Media/icons/delete.gif" /></a>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    {TXT_CRM_COMMENT_DESCRIPTION}
                </td>
            </tr>
            <!-- END showComment -->

            <!-- BEGIN skipAjaxBlock1 -->
        </tbody>
    </table>
    <br>    
    <input onclick="window.location='./index.php?cmd={MODULE_NAME}&act=customers&tpl=addnote&cust_id={CRM_CUST_ID}&csrf='+cx.variables.get('csrf', 'contrexx')" type="button" name="{TXT_CRM_ADD_NOTE}" value="{TXT_CRM_ADD_NOTE}" />
</div>
<!-- END skipAjaxBlock1 -->
