{FORUM_JAVASCRIPT_GOTO}
{FORUM_JAVASCRIPT_DELETE} 
{FORUM_JAVASCRIPT_SCROLLTO}
{FORUM_JAVASCRIPT_INSERT_TEXT}
<div id="forum">
    <!-- BEGIN threadDisplay -->
    <!-- <div class="links">{FORUM_COMMUNITY_LINKS}</div> -->
    <!-- <div class="dropdown">{FORUM_DROPDOWN}</div> -->
    <div class="breadcrumb">
        {FORUM_TREE}{FORUM_NAME}
    </div>
    <span class="text-danger">{TXT_FORUM_ERROR}&nbsp;</span>
    <span class="text-success">{TXT_FORUM_SUCCESS}&nbsp;</span>
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <!-- BEGIN addPostAnchor -->
                <div class="anchor col-xs-12 col-md-5 pull-left">
                    <input class="btn btn-default" onclick="location.href = '#post';" value="{TXT_FORUM_CREATE_POST}" type="button" />
                </div>                
                <!-- END addPostAnchor -->
                <!-- BEGIN threadActionsSelect -->
                <div class="anchor-polo col-xs-12 col-md-5 pull-right">
                    <select class="form-control" onchange="doAction(this.options[this.options.selectedIndex].value);" name="thread_actions">
                        <option value="">{TXT_FORUM_THREAD_ACTION_DESC}</option>
                        <option value="sticky" {FORUM_THREAD_ACTIONS_DISABLED_STICKY}>{TXT_FORUM_THREAD_ACTION_STICKY}</option>
                        <option value="move" {FORUM_THREAD_ACTIONS_DISABLED_MOVE}>{TXT_FORUM_THREAD_ACTION_MOVE}</option>
                        <option value="close" {FORUM_THREAD_ACTIONS_DISABLED_CLOSE}>{TXT_FORUM_THREAD_ACTION_CLOSE}</option>
                        <option value="delete" {FORUM_THREAD_ACTIONS_DISABLED_DELETE}>{TXT_FORUM_THREAD_ACTION_DELETE}</option>
                    </select>
                </div>
                <!-- END threadActionsSelect -->
            </div>
        </div>
    </div>
    <div class="posts table-responsive">
        <table class="table" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <!-- BEGIN forumPosts -->
                <tr class="row{FORUM_POST_ROWCLASS}">
                    <th width="99%"><span style="padding-right: 60px;">{FORUM_USER_NAME}, {FORUM_POST_DATE} </span>
                        <span class="rating"> {TXT_FORUM_RATING}:     {FORUM_POST_RATING}   </span>
                        <!-- BEGIN rating -->
                        <span id="forum_rating_{FORUM_RATING_POST_ID}">
                            <a title="+1" href="javascript:void(0);" onclick="ratePost({FORUM_RATING_POST_ID}, 1);" >
                                [
                                <span class="rate">
                                    +
                                </span>
                                ]
                            </a>
                            <a title="-1" href="javascript:void(0);" onclick="ratePost({FORUM_RATING_POST_ID}, - 1);">
                                [
                                <span class="rate">
                                    -
                                </span>
                                ]
                            </a>
                        </span>
                        <!-- END rating -->
                    </th>
                    <th width="1%">{FORUM_POST_NUMBER}</th>
                </tr>
                <tr class="row{FORUM_POST_ROWCLASS}">
                    <td colspan="2"><h3>{FORUM_POST_SUBJECT} {FORUM_POST_ICON}</h3>{FORUM_POST_MESSAGE}  </td>
                </tr>
                <!-- BEGIN attachment -->
                <tr class="row_{FORUM_POST_ROWCLASS}">
                    <td colspan="2">
                        {TXT_FORUM_FILE_ATTACHMENT}:
                        <a href="{FORUM_POST_ATTACHMENT_LINK}">
                            <img alt="{FORUM_POST_ATTACHMENT_FILENAME}" src="{FORUM_POST_ATTACHMENT_ICON}" />
                            {FORUM_POST_ATTACHMENT_FILENAME} ({FORUM_POST_ATTACHMENT_FILESIZE} Bytes)
                        </a>
                    </td>
                </tr>
                <!-- END attachment -->
                <tr class="row{FORUM_POST_ROWCLASS}">
                    <td colspan="2" align="right">
                        <!-- BEGIN postEdit -->
                        <input class="btn btn-default" onclick="location.href = '?section=Forum&amp;cmd=thread&amp;id={FORUM_THREAD_ID}&amp;act=edit&amp;postid={FORUM_POST_ID}';" value="{TXT_FORUM_EDIT}" type="button" />&nbsp;<!-- END postEdit -->
                        <!-- BEGIN postQuote -->
                        <input class="btn btn-default" onclick="{FORUM_QUOTE_ONCLICK}" value="{TXT_FORUM_QUOTE}" type="button" />&nbsp;<!-- END postQuote -->               
                        <!-- BEGIN postDelete -->
                        <input class="btn btn-default" onclick="deletePost('{FORUM_THREAD_ID}', '{FORUM_POST_ID}');
                            return false;" value="{TXT_FORUM_DELETE}" type="button" />&nbsp;
                        <!-- END postDelete --> 
                    </td>
                </tr>
                <!-- END forumPosts -->
            </tbody>
        </table>
    </div>
    <div class="paging">
        {FORUM_POSTS_PAGING}
    </div>
    <!-- BEGIN addThread --><!-- END addThread -->
    {FORUM_POST_REPLY_REDIRECT}
    <!-- BEGIN addPost -->
    <div class="addpost">
        <a name="post"></a>
        <fieldset> 
            <legend>{TXT_FORUM_ADD_POST}</legend>
            <form enctype="multipart/form-data" name="frm_thread" action="./index.php?section=Forum&amp;cmd=thread&amp;id={FORUM_THREAD_ID}" method="post" onsubmit="setScrollPos();">
                <input type="hidden" name="post_edit_user_id" value="{FORUM_POST_EDIT_USERID}" />     
                <input type="hidden" name="post_id" value="{FORUM_EDIT_POST_ID}" />   
                <input type="hidden" name="thread_id" value="{FORUM_THREAD_ID}" />    
                <input type="hidden" name="category_id" value="{FORUM_CATEGORY_ID}" />    
                <input type="hidden" name="pos" value="{FORUM_PAGING_POS}" />
                <!-- <p>
                    <label>{TXT_FORUM_ICON}</label> -->
                <!-- BEGIN icons -->
                <!-- <input type="radio" id="icons_{FORUM_ICON_VALUE}" name="icons" value="{FORUM_ICON_VALUE}" /><label class="description" for="icons_{FORUM_ICON_VALUE}"><img src="{FORUM_ICON_SRC}" alt="{FORUM_ICON_ALT}" title="{FORUM_ICON_TITLE}" /></label><br /> -->
                <!-- END icons -->
                <!-- </p> -->
                <p><label for="thread_subject">{TXT_FORUM_SUBJECT}</label><input type="text" name="subject" id="thread_subject" value="{FORUM_SUBJECT}" /></p>
                <p><label for="keywords">{TXT_FORUM_KEYWORDS}</label><input onfocus="showToolTip('{TXT_FORUM_COMMA_SEPARATED_KEYWORDS}', this, 'forumKeywordsHelp')" onblur="hideToolTip('forumKeywordsHelp')" title="{TXT_FORUM_COMMA_SEPARATED_KEYWORDS}"  type="text" name="keywords" id="keywords" value="{FORUM_KEYWORDS}" /></p>
                <p><label for="forum_attachment">{TXT_FORUM_FILE_ATTACHMENT}</label><input class="inputtext" type="file" value="{FORUM_ATTACHMENT_VALUE}" name="forum_attachment" id="forum_attachment" /></p>
                <!-- BEGIN delAttachment -->
                <br />
                <span class="checkbox">
                    <label for="delAttachment"><input type="checkbox" id="delAttachment" name="forum_delete_attachment" value="1" />{TXT_FORUM_DELETE_ATTACHMENT}</label>
                </span>
                <input type="hidden" name="forum_attachment_oldname" value="{FORUM_ATTACHMENT_OLDNAME}" />
                <!-- END delAttachment -->
                <p><a href="javascript:void(0);" onclick="showAllowedExtensions();">Allowed extensions</a></p>
                <p><label for="message">{TXT_FORUM_MESSAGE}<br />
                        <a style="font-size:0.9em;" href="http://de.wikipedia.org/wiki/BBCode" title="BBCode">About BB-Code</a></label>{FORUM_MESSAGE_INPUT}</p>
                <!-- BEGIN captcha -->
                <p>
                    <label for="captcha">{TXT_FORUM_CAPTCHA}</label>
                    {FORUM_CAPTCHA_CODE}
                </p>
                <!-- END captcha -->
                <!-- BEGIN notificationRow -->
                <p>
                    <span class="checkbox">                   
                        <label class="description" for="forum_notify"> <input id="forum_notify" type="checkbox" name="notification" value="notify" {FORUM_NOTIFICATION_CHECKBOX_CHECKED} />{TXT_FORUM_NOTIFY_NEW_POSTS}</label>
                </p>
                <!-- END notificationRow -->
                <p class="thread-button">
                    <input class="btn btn-default" type="reset" value="{TXT_FORUM_RESET}" />&nbsp;
                    <!-- BEGIN createPost --><input class="btn btn-default" type="submit" name="create" value="{TXT_FORUM_CREATE_POST}" />&nbsp;<!-- END createPost -->                
                    <!-- BEGIN updatePost --><input class="btn btn-default" type="submit" name="update" value="{TXT_FORUM_UPDATE_POST}" />&nbsp;<!-- END updatePost -->                  
                    <!-- BEGIN previewNewPost --><input type="submit"  class="btn btn-default" name="preview_new" value="{TXT_FORUM_PREVIEW}" />&nbsp;<!-- END previewNewPost -->                 
                    <!-- BEGIN previewEditPost --><input type="submit" class="btn btn-default" name="preview_edit" value="{TXT_FORUM_PREVIEW}" />&nbsp;<!-- END previewEditPost -->   
                </p>
            </form>
        </fieldset> 
    </div>
    <!-- END addPost -->
    <!-- END threadDisplay -->
    <!-- BEGIN threadActions -->
    <br /><span style="color: rgb(255, 0, 0);">{TXT_THREAD_ACTION_ERROR}&nbsp;</span>
    <br /><span style="color: #006900;">{TXT_THREAD_ACTION_SUCCESS}&nbsp;</span>
    <!-- BEGIN moveForm -->
    <form action="index.php?section=Forum&amp;cmd=thread&amp;action=move&amp;id={FORUM_THREAD_ID}" method="POST" name="frmThreadMove">
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control col-md-4" name="moveToThread" size="32">
                            {FORUM_THREADS}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <input type="submit" class="btn btn-default" value="{TXT_FORUM_THREAD_ACTION_MOVE}" />
    </form>
    <!-- END moveForm -->
    <!-- END threadActions -->
</div>
