/***************************************************/
/* CSS GLOBAL DEFINITIONS FOR FORMS IN MODULES     */
/***************************************************/
form p,
form > fieldset > div {
    float: left;
    padding: 0 0 10px 0;
}

/* Start old contact form structure */
form p {
    width: 400px;
    padding-left: 250px;
}

#contactFormError {
    display: none;
    color: #f00;
}

form p span {
    margin-left: 0px;
    width: auto;
}

form p label {
    margin: 0 0 0 -250px;
}

form p label.description {
    margin: 0;
}
/* END old contact form structure */

form .is_required {
    padding: 0 0 0 5px;
    color: #FF0000;
}

form .contactFormGroup {
    float: left;
    width: 326px;
}

form .contactFormGroup input[type=checkbox] {
    clear: left;
}

form #uploadFormField_uploadWidget {
    padding: 0 0 0 250px;
}

form .contactFormUpload,
form .formUploadedFiles,
form .contactFormUpload div,
form .formUploadedFiles div {
    float: left;
    width: 326px;
}

form .contactFormUpload ul,
form .formUploadedFiles ul {
    float: left;
    width: 326px;
    padding: 0 0 5px 0;
}

form .contactFormUpload li,
form .formUploadedFiles li {
    float: left;
    width: 306px;
    padding: 0 0 5px 20px;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #DDDDDD;
}

form .contactFormUpload span,
form .formUploadedFiles span {
    float: left;
    width: 280px;
    padding: 0 10px 0 0;
}

form .contactFormUpload .deleteIcon,
form .formUploadedFiles .deleteIcon {
    float: left;
    width: 16px;
    height: 16px;
    margin: 2px 0 0 0;
    overflow: hidden;
    text-indent: 16px;
    background: url('../../cadmin/images/icons/delete.gif') no-repeat;
}

form label {
    float: left;
    width: 250px;
}

form input[type="submit"] {
    margin-right: 10px;
    float: left;
}

#login form input.remember_me,
#login form label.remember_me {
    margin-left: 0;
    margin-top: 7px;
    padding: 0 0 21px 0;
    border: 0 none;
}

#login form input.remember_me {
    margin-top: 9px;
}

/***************************************************/
/* CSS GLOBAL DEFINITIONS FOR TABLES IN MODULES    */
/***************************************************/
table {
    float: left;
    width: 100%;
}

table th {
    padding: 6px 8px 6px 8px;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
    background-color: #0A85C8;
}

table th a {
    color: #FFFFFF;
}

table tr.row1,
table tr.marketRow2 {
    background-color: #FFFFFF;
}

table tr.row2,
table tr.marketRow3 {
    background-color: #F6F6F6;
}

table tr.row3,
table tr.marketRow1 {
    background-color: #FFEE9F;
}

table td {
    padding: 6px 8px 6px 8px;
    vertical-align:top;
}

table td.none {
    border: 0;
}

/***************************************************/
/* CSS GLOBAL DEFINITIONS FOR LAYER RWO CLASS     */
/***************************************************/
div.row_1,
div.row1 {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ECEDF3;
}
div.row_2,
div.row2 {
    background-color: #ffffff;
    border-bottom: 1px solid #ECEDF3;
}
/***************************************************/
/* CSS GLOBAL DEFINITIONS FOR CAPTCHA              */
/***************************************************/
#captcha {
    float: left !important;
    width: auto !important;
    clear: none !important;
    margin: 0;
    padding: 0;
}
#captcha #coreCaptchaLabel {
    float: left;
    clear: both;
    margin: 2px 0 2px 0;
    font-weight: normal;
}
#captcha .row {
    clear: both;
    display: block;
}
#captcha #coreCaptchaCode {
    float: left;
    width: 79px !important;
    height: 17px;
    margin: 0 7px 0 0;
}
#captcha #coreCaptchaImage {
    float: left;
    width: 93px;
    height: 31px;
}

/***************************************************/
/* CSS DEFINITIONS FOR CONTACT MODULE              */
/***************************************************/
#contactForm {
    float: left;
    width: 100%;
    padding: 15px 0 0 0;
}

#contactFormError {
    display: none;
    width: 100%;
    padding: 15px 0 0 0;
    color: #FF0000;
}

/***************************************************/
/* CSS DEFINITIONS FOR VOTING MODULE               */
/***************************************************/
#voting {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#voting div.form,
#voting div.voting,
#voting div.results,
#voting div.votes,
#voting div.archive{
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    float:left;
}
#voting div.message{
    color: #ff0000;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
}
#voting input[type=radio],
#voting  input.radio{
    float: none;
}
.voting label{
    float: none
}


/***************************************************/
/* CSS DEFINITIONS FOR GALLERY MODULE              */
/***************************************************/
#gallery {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#gallery div.category_tree,
#gallery div.category_comment,
#gallery div.category_images,
#gallery div.show_image,
#gallery div.image_navigation,
#gallery div.category_paging {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
    height:auto !important;
}
#gallery div.category_image,
#gallery div.category_informations {
    float: left;
    height:auto !important;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#gallery div.category_informations h2 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#gallery div.image_voting,
#gallery div.image_comment {
    float: left;
    height:auto !important;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
}
#gallery div.category {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#gallery div.category_images div.image {
    width: 33%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align:left;
    float: left;
}
#gallery div.show_image img, #gallery div.category_image img, #gallery div.category_images img{
    margin: 0px 15px 0px 0px;
}
#gallery div.show_image, #gallery div.image_navigation {
    text-align: center;
}
/***************************************************/
/* CSS DEFINITIONS FOR MARKET MODULE               */
/***************************************************/
#market {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#market div.search,
#market div.type_selection,
#market div.title,
#market div.message,
#market div.form,
#market div.data,
#market div.message_error,
#market div.categories,
#market div.entries,
#market div.no_entries
{
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
    height:auto !important;
}
#market div.message_error {
    color:#FF0000;
}
#market div.image,
#market div.description {
    width:50%;
    float: left;
    height:auto !important;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
}
#market div.image img {
    margin: 0px 15px 15px 0px;
}
#market div.insert_entries,
#market div.functions,
#market div.paging  {
    width: 100%;
    margin: 15px 0px 0px 0px;
    text-align:center;
    float:left;
}
#market div.type_selection input {
    float:none;
}
/***************************************************/
/* CSS DEFINITIONS FOR CALENDAR MODULE             */
/***************************************************/
#calendar {
    float: left;
    width: 100%;
}
#calendar li {
    padding: 0 0 10px 0;
    border-bottom: 1px solid #D6D6D6;
    background: none;
}
#calendar div.back,
#calendar div.registration,
#calendar div.categories,
#calendar div.details,
#calendar div.search  {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}
#calendar ul.event-list {
    float: left;
    width: 100%;
    border-top: 1px solid #DDDDDD;
}
#calendar div.registration  {
    text-align: right;
}
#calendar div.note {
    float: left;
    width: 100%;
}
#calendar div.logo {
    float: left;
}
#calendar div.logo img {
    max-width: 250px;
    max-height: 250px;
    margin: 0 15px 5px 0;
}
#calendar div.description {
    margin: 0 0 15px 0;
}
#calendar div.export {
    float: right;
}
#calendar div.export img {
    margin: 0 0 5px 15px;
}
#calendar div.adress,
#calendar div.organizer {
    float: left;
    width: 50%;
}
#calendar div.adress address,
#calendar div.organizer address {
    font-style: normal;
}
#calendar-boxes {
    float: left;
    width: 250px;
    padding: 0 0 0 40px;
}
#calendar-details {
    float: left;
    width: 100%;
}
#calendar-details li a img {
    float: left;
    padding: 0 5px 0 0;
}
#calendar-info {
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
}
#calendar-info h2.first {
    padding-top: 0;
}
#calendar-image {
    float: left;
    width: 30%;
}
#calendar-image img {
    max-width: 95%;
}
#calendar-description {
    float: left;
    width: 70%;
}

/* Calendar Headlines */
.calendar-headlines .monthnavigation{
    display: none;
}

/***************************************************/
/* CSS DEFINITIONS FOR ACCESS MODULE               */
/***************************************************/
#access {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#access div.message,
#access div.message_ok,
#access div.message_error,
#access div.profile,
#access div.paging,
#access div.member_list,
#access div.letter_index,
#access div.search,
#access div.functions {
    float: left;
    width: 100%;
    padding: 0 0 15px 0;
}
#access div.message_error {
    padding: 5px 0 10px 0;
    color: #ff0000;
}
#access div.message_ok {
    color: #029202;
}
#access img.member_gender_female {
    background-color:#f4d7f4;
    padding:2px;
}
#access img.member_gender_male {
    background-color:#a2c0ff;
    padding:2px;
}
#access img.member_gender_undefined {
    background-color:#dddddd;
    padding:2px;
}
/***************************************************/
/* CSS DEFINITIONS FOR PODCAST MODULE              */
/***************************************************/
#podcast {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#podcast div.showMedium, #podcast div.categories, #podcast div.noMedium, #podcast div.player, #podcast div.information, #podcast div#podcast_container {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
    height:auto !important;
}
#podcast div.media {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#podcast div.image {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#podcast div.image img {
    padding: 0px 0px 0px 0px;
    margin: 0px 15px 15px 0px;
}
#podcast div.description {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#podcast div.description h2 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
}
/***************************************************/
/* CSS DEFINITIONS FOR RECOMMEND MODULE            */
/***************************************************/
#recommend {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#recommend div.text, #recommend div.status, #recommend div.form  {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
    height:auto !important;
}
#recommend div.status {
    color: #ff0000;
}
/***************************************************/
/* CSS DEFINITIONS FOR DIRECTORY MODULE            */
/***************************************************/
#directory {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#directory div.search,
#directory div.navtree,
#directory div.categories,
#directory div.directoryLatest,
#directory div.no_feeds,
#directory div.insert_feeds,
#directory div.message,
#directory div.fields,
#directory div.feed
{
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
}
#directory div.feeds{
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#directory div.insert_feeds,
#directory div.paging {
    margin: 15px 0px 0px 0px;
    text-align:left;
    float:left;
}
#directory div.feed h2 {
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px solid #ECEDF3;
}
#directory div.image {
    float:left;
    height:auto !important;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
     width: 20%;
}
#directory div.image img {
    margin: 0px 15px 15px 0px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    padding: 8px;
}
#directory div.infos {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height:auto !important;
}
#directory div.infos h3 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
}
#directory div.voting {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float: right;
}
#directory div.link {
    width: 100%;
    padding: 5px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
    float: left;
    border-top: 1px solid #ECEDF3;
}
#directory .selector {
    /*clear: left;*/
    clear: left;
    margin-top: -15px;
    padding-left: 190px;
}
/***************************************************/
/* CSS DEFINITIONS FOR LOGIN MODULE                */
/***************************************************/
#login {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#login a.register{
    padding-left:18px;
    background-image:url(/core_modules/Login/View/Media/register_small.gif);
    background-position:left center;
    background-repeat:no-repeat;
}
#login a.lostpw{
    padding-left:18px;
    background-image:url(/core_modules/Login/View/Media/lost_pw_small.gif);
    background-position:left center;
    background-repeat:no-repeat;
}
/***************************************************/
/* CSS DEFINITIONS FOR FORUM MODULE                */
/***************************************************/
#forum {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#forum div.links,
#forum div.dropdown,
#forum div.latest,
#forum div.category,
#forum div.navtree,
#forum div.paging,
#forum div.anchor,
#forum div.threads,
#forum div.addthread,
#forum div.posts,
#forum div.addpost,
#forum div.forums,
#forum div.searchform,
#forum div.notification,
#forum div.message_error,
#forum div.message_ok,
#forum div.text,
#forum div.profile,
#forum div.navtree,
#forum div.dropdown  {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
}
#forum div.links {
    text-align: right;
}
#forum div.paging {
    text-align: left;
}
#forum div.message_error {
    color: #ff0000;
}
#forum div.message_ok {
    color: #029202;
}
#forum .posts h3 {
    padding:3px 0px 3px 0px;
    margin: 0px;
    font-size:1.2em;
}
#forum .posts div.code{
    padding: 3px;
    background-color: #fcfce6;
    border: 1px solid #7390AF;
    font-family:"Courier New", Courier, mono;
    max-height: 150px;
    overflow:auto;
}
#forum .posts div.quote{
    padding: 3px;
    background-color: #fcfcff;
    border: 1px solid #7390AF;
    max-height: 150px;
    overflow:auto;
}
#forum div.notification_left, #forum div.notification_right {
    float: left;
    margin: 0 0 15px;
    min-height: 600px;
    padding: 0;
    width: 42%;
}
#forum div.notification_center {
    padding: 250px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
    width: 9%;
    text-align:center;
    height: 281px;
}
.forumTagCloud {
    padding: 0px;
    margin: 0px;
    float:left;
    height:auto !important;
}
.forumTagCloud li {
    padding: 0px 3px 0px 3px;
    margin: 0px;
    float:left;
    height:auto !important;
}
.forumTagCloudSmallest {
    height: 20px;
    margin: 0px 2px 0px 2px;
    font-size: 10px;
    list-style: none;
    float: left;
}
.forumTagCloudSmall {
    height: 20px;
    margin: 0px 2px 0px 2px;
    font-size: 12px;
    list-style: none;
    float: left;
    padding: 0px;
}
.forumTagCloudMedium {
    height: 20px;
    margin: 0px 2px 0px 2px;
    font-weight: bold;
    font-size: 14px;
    list-style: none;
    float: left;
    padding: 0px;
}
.forumTagCloudLarge {
    height: 20px;
    margin: 0px 2px 0px 2px;
    font-weight: bold;
    font-size: 16px;
    list-style: none;
    float: left;
    padding: 0px;
}
.forumTagCloudLargest {
    height: 20px;
    margin: 0px 2px 0px 2px;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    padding: 0px;
    float: left;
}
/***************************************************/
/* CSS DEFINITIONS FOR BLOG MODULE                 */
/***************************************************/
#blog {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#blog div.categories,
#blog div.posted_comment,
#blog div.entries,
#blog div.content,
#blog div.message_ok,
#blog div.message_error,
#blog div.entry,
#blog div.voting,
#blog div.link,
#blog div.addcomment,
#blog div.networks,
#blog div.searchform
{
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
    height:auto !important;
}
#blog div.entries h2 {
    color: #222222;
    font: bold 16px/20px 'Open Sans',Arial,Helvetica,sans-serif;
}
#blog div.entries h2 a{
    color: #222222;
}
#blog div.entries h2 a:hover{
    color: #95A105;
}
.posted a{
    color:#777777
}
.posted a:hover{
    color:#95A105
}
#blog div.comments,
#blog div.code,
#blog div.statistics {
    padding: 7px 7px 7px 7px;
    margin: 0px 0px 15px 0px;
    background-color: #f9f9f9;
    border: 1px dotted #E6E6E6;
    clear:both;
}
#blog div.message_error {
    color: #ff0000;
}
#blog div.message_ok {
    color: #029202;
}
#blog div.posted {
    font-size: 0.9em;
    color: #888888;
    font-style: italic;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 0px 0px;
}
#blog div.comment_posted {
    font-size: 0.9em;
    color: #888888;
    font-style: italic;
}
#blog div.comment_avatar {
    float:right;
    padding: 0px 0px 5px 5px;
    margin: 0px 0px 0px 0px;
}
#blog div.comment_text {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#blog div.text {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    height:auto !important;
}
#blog div.image {
    float:left;
    height:auto !important;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#blog div.image img {
    border: 1px solid #F5F5F5;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 19px;
    padding: 8px;
    width: 634px;
    height: 284px;
    float: left;
}
#blog div.search_date {
    float:left;
    width: 200px;
    padding: 0px 0px 0px 190px;
    margin: -15px 0px 0px 0px;
    height:auto !important;
}
.blogTagCloud {
    padding: 0px;
    margin: 0px;
    float:left;
    height:auto !important;
}
.blogTagCloud li {
    padding: 0px 3px 0px 3px;
    margin: 0px;
    float:left;
    height:auto !important;
}
.blogTagCloudSmallest {
    height: 20px;
    margin: 0px 2px 0px 2px;
    font-size: 10px;
    list-style: none;
    float: left;
}
.blogTagCloudSmall {
    height: 20px;
    margin: 0px 2px 0px 2px;
    font-size: 12px;
    list-style: none;
    float: left;
    padding: 0px;
}
.blogTagCloudMedium {
    height: 20px;
    margin: 0px 2px 0px 2px;
    font-weight: bold;
    font-size: 14px;
    list-style: none;
    float: left;
    padding: 0px;
}
.blogTagCloudLarge {
    height: 20px;
    margin: 0px 2px 0px 2px;
    font-weight: bold;
    font-size: 16px;
    list-style: none;
    float: left;
    padding: 0px;
}
.blogTagCloudLargest {
    height: 20px;
    margin: 0px 2px 0px 2px;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    padding: 0px;
    float: left;
}
/***************************************************/
/* CSS DEFINITIONS FOR GUESTBOOK  MODULE           */
/***************************************************/
#guestbook {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#guestbook div.entries,
#guestbook div.status,
#guestbook div.paging,
#guestbook div.add_entry,
#guestbook div.error_message,
#guestbook div.information,
#guestbook div.form,
#guestbook div.count_entries
{
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
    height:auto !important;
}
#guestbook div.entry {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 100%;
    padding: 10px 5px 10px 5px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#guestbook div.error_message {
    color:#FF0000;
}
#guestbook div.title {
    float:left;
    height: 27px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 60%;
}
#guestbook div.title h3{
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
}
#guestbook div.location {
    float:left;
    height: 22px;
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 20%;
    font-style:italic;
}
#guestbook div.date {
    float:left;
    height: 22px;
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 20%;
    text-align:right;
}
#guestbook div.message,
#guestbook div.links {
    padding: 0px 0px 0px 0px;
    margin: 7px 0px 0px 0px;
    height:auto !important;
    float:left;
    width:100%;
}
/***************************************************/
/* CSS DEFINITIONS FOR MEMBERDIR  MODULE           */
/***************************************************/
#memberdir {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#memberdir div.category_tree,
#memberdir div.subcategories,
#memberdir div.char_list,
#memberdir div.search_form,
#memberdir div.adress_list,
#memberdir div.paging,
#memberdir div.detail_list,
#memberdir div.back  {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
}
/***************************************************/
/* CSS DEFINITIONS FOR SITEMAP MODULE              */
/***************************************************/
#sitemap {
    width: 100%;
    float: left;
}

#sitemap ul li {
    padding: 0 0 5px;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #F1F1F1;
    background: none;
}

#sitemap ul li.sitemap_level_1 {
    font-weight: bold;
}

#sitemap ul li.sitemap_level_2 {
    padding-left: 25px;
}

#sitemap ul li.sitemap_level_3 {
    padding-left: 50px;
}

#sitemap ul li.sitemap_level_4 {
    padding-left: 75px;
}

#sitemap ul li.sitemap_level_5 {
    padding-left: 100px;
}

/***************************************************/
/* CSS DEFINITIONS FOR DOCSYS MODULE               */
/***************************************************/
#docsys {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#docsys div.categories,
#docsys div.doc_list,
#docsys div.paging {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
}
/***************************************************/
/* CSS DEFINITIONS FOR SHOP MODULE                 */
/***************************************************/
#shop {
    float: left;
    width: 100%;
}
#shop table tr.row1,
#shop table tr.row2 {
    border-bottom: 1px solid #DDDDDD;
}
#shop table tr.row2 {
    background: #FFFFFF;
}
#shop table tr.row3 {
    border-bottom: 1px solid #FFFFFF;
    background: #F6F6F6;
}
#shop div.menu,
#shop div.cart_info,
#shop div.informations,
#shop div.payment,
#shop div.message,
#shop div.lsv_form,
#shop div.cart_links,
#shop div.message_error,
#shop div.account_details,
#shop div.order {
    float:left;
    width: 100%;
    padding: 0 0 20px 0;
}
#shop .customer_old {
    float: left;
    width: 445px;
    margin: 0 20px 0 0;
    border-right: 1px solid #DDDDDD;
}
#shop .customer_old p {
    width: auto;
    padding-left: 150px;
}
#shop .customer_old p label {
    width: 150px;
    margin-left: -150px;
}
#shop .customer_old p input[type=text],
#shop .customer_old p input[type=password] {
    width: 248px;
}
#shop .customer_new {
    display: block;
}
#shop .customer_old h2,
#shop .customer_new h2 {
    padding: 0 0 15px 0;
}
#shop .customer_address,
#shop .shipping_address {
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
}
#shop div.customer_address h2,
#shop div.shipping_address h2 {
    padding-top: 0;
}
#shop .a_right {
    text-align: right;
}
#shop .a_center {
    text-align: center;
}
#shop .shop_cart_input {
    width: 150px !important;
}
#shop .delete-icon {
    position: relative;
    top: 4px;
}
#shop input.shop_quantity {
    width: 30px;
    padding: 5px;
    text-align: right;
}
#shop div.message_error {
    color:#FF0000;
}
#shop div.categories {
    float: left;
    width: 100%;
}
#shop div.category {
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 0px 0px;
    float:left;
    height: auto !important;
    min-height: 120px;
    width: 25%;
}
#shop div.discount {
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 0px 0px;
    float:left;
    height: auto !important;
    min-height: 120px;
    width: 49%;
}
#shop div.paging {
    float: left;
    width: 100%;
    text-align: center;
}
#shop div.product {
    float:left;
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #DDDDDD;
}
#shop div.product.detail {
    padding: 0;
    margin: 0;
    border: 0;
}
#shop div.images {
    float: left;
    width: 25%;
}
#shop div.images a img {
    max-width: 90%;
    max-height: 150px;
}
#shop div.info {
    float: left;
    width: 75%;
}
#shop div.short-description {
    float: left;
    width: 80%;
}
#shop div.details {
    float: left;
    width: 20%;
}
#shop div.price {
    float: right;
    padding: 7px 10px 5px 10px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    background: #AAAAAA;
}
#shop div.price s {
    padding: 0 5px 0 0;
    text-decoration: none;
}
#shop div.price-detail {
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
    font-size: 20px;
    text-align: right;
}
#shop div.description {
    float: left;
    width: 75%;
}
#shop div.description table td {
    padding: 5px 5px 5px 0;
}
#shop div.detail-link {
    float: left;
    width: 25%;
    padding: 0 0 15px 0;
    text-align: right;
}
#shop div.description h2,
#shop div.categories h2,
#shop div.informations h2,
#shop div.info h3,
#shop div.description h3,
#shop div.informations h3 {
    padding: 0;
    margin: 0 0 5px 0;
}
#shop div.stock,
#shop div.detail_link {
    float: left;
    width: 100%;
    padding: 0 0 5px 0;
}
#shop div.shop_options,
#shop div.manufacturer {
    float: left;
    width: 100%;
    padding: 20px 0 0 0;
}
#shop div.shop_options a {
    float: left;
    padding: 0 0 0 12px;
    background: url('images/arrows.png') no-repeat 0 7px;
}
#shop div.shop_options a.active {
    background-position: 0 -8px;
}
#shop div.shop_options_click {
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
}
#shop div.product_id {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 0px;
    height: auto !important;
    width: 100%;
}
#shop div.functions {
    float: right;
    padding: 20px 0 0 0;
}
#shop div.functions input[type=submit] {
    margin: 0;
}
#shop div.message p {
    padding-left: 362px;
}
#shop div.message p label {
    width: 370px;
}
#shop div.vat {
    float: left;
    width: 100%;
}
#shopping_cart {
    background: url("images/shopping_cart.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 60px;
    margin-left: 9px;
    width: 80px;
}
#shop div.price > s,
#shop div.price-detail > s {
    float: right;
    clear: right;
}
#shop .discount {
    color: #FF2626;
}
#shop .discount h2 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
    border-bottom: 0 none;
    font-weight: normal;
    padding: 0;
}
#shop .error {
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
    color: red;
}
#shop input.error[type=radio] {
    background-color: red;
    background-image: url("images/logo.png");
}
#shop div.order table {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
}
#shop table.order-address span {
    float: left;
    clear: left;
}

#shop figure a {
    float: left;
    width: 30%;
    margin: 0 3% 20px 0;
    border: 1px solid #DDDDDD;
    box-shadow: 3px 3px 8px #DDDDDD;
    -moz-box-shadow: 3px 3px 8px #DDDDDD;
    -webkit-box-shadow: 3px 3px 8px #DDDDDD;
    -o-box-shadow: 3px 3px 8px #DDDDDD;
}

#shop figure a:hover {
    border: 1px solid #AAAAAA;
    box-shadow: 3px 3px 8px #AAAAAA;
    -moz-box-shadow: 3px 3px 8px #AAAAAA;
    -webkit-box-shadow: 3px 3px 8px #AAAAAA;
    -o-box-shadow: 3px 3px 8px #AAAAAA;
}

#shop figure a .categorie-image-wrapper {
    float: left;
    width: 90%;
    height: 150px;
    padding: 5%;
    text-align: center;
}

#shop figure a .categorie-image-wrapper img {
    max-width: 80%;
    max-height: 80%;
    padding: 10%;
}

#shop figure a h3 {
    float: left;
    width: 90%;
    padding: 4px 5% 6px 5%;
    margin: 0;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    background: #0A85C8;
}

#shop .continue-button {
    margin: 0;
}

#shop .cart-links {
    float: left;
    padding: 10px 0 0 8px;
}

#shop .cart-buttons {
    float: right;
    padding: 10px 8px 0 0;
}

#shop button.details-button {
    float: right;
    padding-right: 25px;
    color: #FFFFFF;
    font-weight: bold;
    background: #0A85C8 url('images/arrow-right-white.png') no-repeat 62px 13px;
}

#shop button.add-to-cart {
    float: right;
    height: 33px;
    padding: 5.5px 10px 7px 33px;
    color: #FFFFFF;
    font-weight: bold;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -o-border-top-left-radius: 0;
    -o-border-bottom-left-radius: 0;
    background: #0A85C8 url('images/cart-white.png') no-repeat 10px 7px;
}

#shop button.details-button:hover,
#shop button.add-to-cart:hover {
    background-color: #1F97D8;
}

/***************************************************/
/* CSS DEFINITIONS FOR E-CARD MODULE               */
/***************************************************/
.ecardColumn1 {
    float:left;
    width:33%;
}
.ecardColumn2 {
    float:left;
    width:33%;
}
.ecardColumn3 {
    float:left;
    width:33%;
}
/***************************************************/
/* CSS DEFINITIONS FOR NEWS MODULE                 */
/***************************************************/
#news {
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
    margin: 20px 0 0 0;
    border-top: 1px solid #DDD;
}

#news li {
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #D6D6D6;
    background: none;
}

.news-image {
    float: left;
    width: 15%;
}

.news-image img {
    max-width: 120px;
    max-height: 120px;
}

.news-text {
    float: left;
    width: 85%;
}

.news-teaser {
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
}

.news-info {
    float: left;
    width: 100%;
    color: #9C9C9C;
    font-size: 12px;
}

#news-date {
    float: left;
    width: 100%;
    padding: 0 0 5px 0;
    color: #9C9C9C;
}

#news-content {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}

#news-links {
    float: left;
    width: 100%;
    padding: 5px 0 5px 0;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #E3E4E5;
    background: #F5F6F7;
}

#news-links ul {
    float: left;
    padding: 0 10px 0 10px;
}

#news-social-media {
    float: left;
    width: 100%;
    padding: 0 0 5px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #D6D6D6;
}

#news-social-media li {
    padding: 0 30px 0 0;
    margin: 0;
    background: none;
}

#news-social-media li.last {
    padding: 0;
    margin: 0;
}

#news-social-media .google-plus {
    width: 67px;
}

#news-social-media .facebook {
    width: 114px;
}

#news-social-media .twitter {
    width: 92px;
}

#news-social-media .xing {
    width: 82px;
}

#news-social-media .rss-feed a {
    position: relative;
    float: left;
    width: 22px;
    height: 22px;
    background: url('images/feed-icon.png');
}

#news-no-comments {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
}

#news-toggle {
    margin: 0 0 20px 0;
}

#news-comment-form {
    display: none;
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}

.news-comment {
    float: left;
    width: 100%;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #E3E4E5;
    background: #F5F6F7;
}

.news-comment-poster {
    color: #9C9C9C;
}

.news-comment-poster,
.news-comment-title,
.news-comment-message {
    padding: 0 10px 0 10px;
}

/***************************************************/
/* CSS DEFINITIONS FOR NEWSLETTER MODULE           */
/***************************************************/
#newsletter {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#newsletter div.errorMessage,
#newsletter div.okMessage,
#newsletter div.form  {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
    height:auto !important;
}
#newsletter div.errorMessage {
    color: #ff0000;
}
#newsletter_home input[type=radio],
#newsletter_home input[type=checkbox]{
    float: none;
}
/***************************************************/
/* CSS DEFINITIONS FOR EGOV MODULE                 */
/***************************************************/
#egov {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#egov table tr td  {
    border: 0px;
}
/***************************************************/
/* CSS DEFINITIONS FOR U2U MODULE                  */
/***************************************************/
#u2u {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float:left;
    height:auto !important;
}
#u2u div.inbox,
#u2u div.functions,
#u2u div.message,
#u2u div.message_ok,
#u2u div.message_error,
#u2u div.preview,
#u2u div.details,
#u2u div.outbox,
#u2u div.paging  {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
    height:auto !important;
}
#u2u div.buttons {
    float: left;
    width: 100%;
    padding: 20px 0 0 0;
}
#u2u div.message_error {
    color:#FF0000;
}
#u2u div.message_ok {
    color: #029202;
}
#u2u #cke_private_message {
    float: left;
    width: 100%;
}
#u2u div.functions table td {
    vertical-align: middle;
}

/***************************************************/
/* CSS DEFINITIONS FOR KNOWLEGE MODULE             */
/***************************************************/
#knowledge ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#knowledge li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-bottom: 10px;
    position: relative;
}

#knowledge dd {
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    padding-top: 5px;
}

#knowledge dt {
    font-weight: bold;
}

#knowledge form {
    padding: 10px 0 0 0;
}

#knowledge #content_search {
    position: relative;
}

#knowledge .crumbtrail,
#knowledge .answer,
#knowledge .informations {
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
}

#knowledge .category_title {
    padding: 15px 0 10px 0;
}

#knowledge .articlelist li {
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px #C6C6C6;
}

#knowledge .articlelist .title_row {
    padding: 8px 8px 5px 8px;
    background: #F9F9F9;
}

#knowledge .articlelist .opener {
    float: left;
    width: 40px;
    padding: 2px 0 2px 0;
}

#knowledge .articlelist .question_active {
    background-color: #F5F5F5;
    font-weight: bold;
    border-bottom: solid 1px #C6C6C6;
}

#knowledge #overview {
    padding: 5px 0 0 0;
}

#knowledge #overview div.category {
    float: left;
    width: 50%;
}

#knowledge #overview div.row {
}

#knowledge #overview div.row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin-bottom: 1em;
}

/* FOR IE */
* html #knowledge #overview div.row {
    height: 1%;
}

#knowledge #overview div div.title {
    font-weight: bold;
}

#knowledge #overview div div.title a {
    display: block;
}

#knowledge #overview div div.content {
    background-color: white;
}

#knowledge h2.category_list_title {
    padding: 3px;
}

#knowledge h2.article_list_title {
    clear: left;
    padding: 15px 0 10px 0;
}

#knowledge h2.article_list_title a {
    color: white;
}

#knowledge .most_read {
    background-color: #DAEDC6;
    font-weight: bold;
}

#knowledge .tags li, #knowledge .articlelist .tags li {
    margin: 0;
    padding: 0 3px 0 0;
    float: left;
    list-style: none;
    border: none;
    background: none;
}

#knowledge_search_results {
    padding-left: 0px;
}

#knowledge_search_results ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}

#knowledge_search_results ul li {
    padding: 0px;
    margin: 0px;
    margin: 5px 5px;
    list-style-type: none;
}

.knowledge_sidebar {
    margin: 0px;
    padding: 0px;
}

.knowledge_sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.knowledge_sidebar li {
    width: 100%;
    display: block;
    margin: 0px;
}

.knowledge_sidebar li:hover {}

/* FOR IE */
* html .clearfix { height: 1%; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#resultbox {
    border: 1px solid #BBBBBB;
    position: absolute;
    width: 60%;
    padding: 5px;
    overflow: auto;
    z-index: 10;
    left: 0px;
    top: 43px;
    background-color: white;
}

#resultbox ul {
    list-style-type: none;
    padding: 2px;
    margin: 0px;
}

#resultbox li {
    list-style-type: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
}

#resultbox li a {
    display: block;
}

#resultbox li:hover {
    background-color: #F0F8FA;
}

.cloud {
    margin: 0 0 1em 0;
    padding: 0px;
    list-style: none;
    border: none;
}

.cloud li {
    margin: 0px !important;
    padding: 0px 5px !important;
    list-style: none !important;
    float: left !important;
    vertical-align: bottom !important;
    border: none !important;
    line-height: 1em !important;
}

.cloud li:hover {
    background-color: #cdcdcd;
}

.cloud li a{
    color: #646464;
}

/************************************/
/* CSS DEFINITIONS FOR DATA-MODULE  */
/************************************/
div.datalist_block dl dt {
    margin: 0px;
    padding: 0px 0 0px 0;
    font-weight: bold;
    display: block;
}
div.datalist_block dl dd {
    margin: 0px;
    padding: 0px 0 0px 0;
    border-top: 0px solid #cbb354;
}
div.datalist_block dl dt.cattitle {
    font-weight: bold;
    margin: 0 0 1em;
    padding: 2px;
    display: block;
    background-color: #EEEEEE;
    border: 0px #bcbcbc solid;
    margin-top: 11px;
}
div.datalist_block dl dd.catcontent {
    padding: 0px;
    border: 0px #bcbcbc solid;
    border-top: none;
    padding-top:5px;
}
div.datalist_block dl dd.catcontent2 p{
    padding: 0px;
}
div.datalist_block dl dd.catcontent2 p{
    padding: 0px;
}
div.datalist_block img {
    margin-right: 5px;
}
/** overlay stuff **/
dl.data_module {
    padding: 10px;
    color: #EEEEEE;
    font-family:"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size:75%;
    line-height:1.5;
}
dl.data_module dt {
    font-weight: bold;
}
dl.data_module dd {
    margin: 5px 0;
}
dl.data_module img {
    margin-right: 20px;
    margin-bottom: 10px;
}
/****************************************/
/* CSS DEFINITIONS FOR DOWNLOADS-MODULE */
/****************************************/
#downloads {
    width: 100%;
}
#downloads div.breadcrumb {
    margin: 20px 0 0 0;
}
#downloads div.category {
}
#downloads div.overview div.row div.category {
    float: left;
    width: 50%;
    padding: 0 0 5px 0;
}
#downloads div.overview div.row div.category div.title {
    font-weight: bold;
}
#downloads div.overview div.row div.category div.content a {
    color: black;
}
#downloads div.overview div.row div.category div.content a:hover {
    color: #B8D30B;
}
#downloads div.overview div.row div.category div.content a.more {
    color: #8b9581;
}
#downloads div.overview div.row div.category div.content a.more:hover {
    color: #B8D30B;
}
#downloads div.file_list {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}
#downloads div.category-info {
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
}
#downloads div.subcategories {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}
#downloads div.file {
    float: left;
    width: 100%;
    padding: 10px 0 10px 0;
}
#downloads div.image {
    float: left;
    width: 15%;
    text-align: right;
}
#downloads div.image img {
    margin: 0px 0px 15px 0px;
}
#downloads div.delete {
    clear: right;
    float: right;
}
#downloads div.file_list .infos {
    float: left;
    width: 85%;
}
#downloads div.infos,
#downloads div.file_addon {
    float: left;
    width: 100%;
}
#downloads div.infos h3 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
}
#downloads div.infos .shortdetail_top {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    height:auto !important;
    color: #808080;
    font-size: 0.95em;
}
#downloads div.infos .shortdetail_top img, #downloads div.infos .shortdetail_bottom img {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 10px;
    height: 10px;
}
#downloads div.infos .shortdetail_bottom a {
    color: #808080;
}
#downloads div.infos .shortdetail_bottom a:hover {
    color: #000000;
}
#downloads div.infos .shortdetail_bottom {
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
    height:auto !important;
    color: #808080;
    font-size: 0.95em;
}
#downloads div.infos .detail_desc {
    float: left;
    width: 85%;
    padding: 0 0 5px 0;
}
#downloads div.infos .file_info {
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
}
#downloads div.infos .file_info img {
    padding: 0px 2px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 10px;
    height: 10px;
}
#downloads div.download {
    position: relative;
    float: left;
    width: 200px;
    padding: 0 0 10px 0;
}
#downloads div.download h3 img {
    padding: 0 5px 0 0;
    margin: 0px 0px 0px 0px;
    width: 24px;
    height: 24px;
    float:left;
    top: 16px;
}
#downloads div.infos .file_owner, #downloads div.infos .file_owner a {
    float: left;
    width: 100%;
    color: #808080;
    font-size: 0.95em;
    text-align: right;
}
#downloads div.infos .file_owner a:hover {
    color: #000000;
}
#downloads div.file_list div.paging {
    float:left;
}
#downloads div.subcategories div.category {
    float: left;
    width: 50%;
}
#downloads div.message,
#downloads div.message_ok,
#downloads div.message_error {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
    height:auto !important;
}
#downloads div.message_error {
    color: #ff0000;
}
#downloads div.message_ok {
    color: #029202;
}
#downloads #download_view_types_wrapper {
    display: block;
    padding: 2em 0em 0em 0em;
    clear:both;
}
#downloads #download_view_types {
    display: block;
    clear:both;
    margin: 0px;
    padding: 0px;
}
#downloads #download_view_types li{
    float:left;
    display: block;
    padding-right: 1px;
}
#downloads #download_view_types li a.active{
    float:left;
    display: block;
    background-color: #6983b6;
    color:white;
    padding: 0.4em 1em 0.4em 1em;
}
#downloads #download_view_types li a{
    float:left;
    display: block;
    background-color: #f0f0f0;
    padding: 0.4em 1em 0.4em 1em;
    font-weight: bold;
}
#downloads #download_tabbar_closer {
    margin-top: 2.2em;
    border-top: 1px solid #f0f0f0;
}
/***************************************************/
/* CSS DEFINITIONS FOR MEDIADIR MODULE             */
/***************************************************/
#mediadir {
    float: left;
    width: 100%;
}
#mediadir div.mediadirInputfieldWysiwyg{
    font-size: 12px;
    font-family: Verdana;
    border: 1px solid #d3d3d3;
    background-color:#ffffff;
    color:#000000;
    padding: 4px;
    margin: 1px 2px 3px 0px;
    height: 80px;
    width: 300px;
    overflow:auto;
    margin-left: 190px;
    cursor:text;
}
#mediadir div.mediadirInputfieldWysiwyg, #mediadir div.mediadirInputfieldWysiwyg:hover, #mediadir div.mediadirInputfieldWysiwyg:link {
    outline-style:none;
}
#mediadir div.mediadirGroupMultilang{
    padding-left: 190px;
}
#mediadir div.mediadirReference{
    float: left;
    padding-bottom: 15px;
    width: 50%;
}
#mediadir span.mediadirReferenceTitle{
    float: left;
    width: 100%;
    font-weight: bold;
}
#mediadir span.mediadirReferenceDescription{
    float: left;
    width: 100%;
}
#mediadir div.mediadirDownload{
    float: left;
    padding-bottom: 15px;
    width: 50%;
}
#mediadir span.mediadirDownloadTitle{
    float: left;
    width: 100%;
    font-weight: bold;
}
#mediadir span.mediadirDownloadDescription{
    float: left;
    width: 100%;
}
#mediadir span.mediadirDownloadFile{
    padding-top: 5px;
    float: left;
    width: 100%;
}
#mediadir div.mediadirResponsible{
    float: left;
    padding-bottom: 15px;
    width: 50%;
}
#mediadir span.mediadirResponsibleName{
    float: left;
    width: 100%;
    font-weight: bold;
}
#mediadir span.mediadirResponsibleFunction{
    float: left;
    width: 100%;
    font-style: italic;
}
#mediadir span.mediadirResponsiblePhone{
    padding-top: 5px;
    float: left;
    width: 100%;
}
#mediadir span.mediadirResponsibleFax{
    float: left;
    width: 100%;
}
#mediadir span.mediadirResponsibleMail{
    padding-top: 5px;
    float: left;
    width: 100%;
}
#mediadir .mediadirSelector,
#mediadir .mediadirGoogleMap{
    clear: both;
    margin-bottom: 15px;
    margin-top: -15px;
    padding-left: 180px;
}
.mediadirSelectorCenter{
    padding: 60px 5px 0 !important;
}
#mediadir .map{
    margin-top: 10px;
    border: 1px solid #CFCFCF;
    width: 489px;
    height: 250px;
}
#mediadir table.list{
    padding: 0px 20px 10px 20px;
    width: 710px !important;
    margin-bottom: 20px;
    margin-left: -20px;
    background-image:url(images/list_radius_bg.gif);
    background-repeat:repeat-x;
    background-position:bottom left;
}
#mediadir table.list h3{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#mediadir table.list tr td{
    padding: 4px 0px 4px 0px;
}
#mediadir .mapLarge{
    margin-top: 10px;
    border: 0px solid #CFCFCF;
    width: 620px;
    height: 600px;
}
#mediadir input[type="button"].active {
    font-weight:bold;
    text-transform:uppercase;
    color: #74CC00;
}
#mediadir input.mediadirInputfieldGoogleMapLarge {
    width: 185px;
}
#mediadir input.mediadirInputfieldGoogleMapSmall {
    width: 35px;
}
#mediadir input.mediadirVoteButton {
    font-weight:normal;
    min-width:1px;
    width: 30px !important;
}
#mediadir .mediadirCommentOk,
#mediadir .mediadirVotingOk{
    border: 1px solid #9DCF5A;
    background-color:#F8FFEF;
    padding: 10px;
    color: #9DCF5A;
}
#mediadir .mediadirCommentErr,
#mediadir .mediadirVotingErr{
    border: 1px solid #FF8F8F;
    background-color:#FFEFEF;
    padding: 10px;
    color: #FF8F8F;
}
#mediadir .mediadirSearchForm {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}
#mediadir .mediadirButtonSearch {
    float: none;
    margin: 0 0 0 5px;
}
#mediadir .employee {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #DDDDDD;
}
#mediadir .employee.last {
    padding: 0;
    margin: 0;
    border: 0;
}
#mediadir .employee-left {
    float: left;
    width: 25%;
}
#mediadir .employee-left img {
    float: left;
    max-width: 90%;
    max-height: 200px;
}
#mediadir .employee-middle {
    float: left;
    width: 30%;
}
#mediadir .employee-title {
    float: left;
    padding: 3px 0 10px 0;
    font-size: 24px;
}
#mediadir .employee-description {
    float: left;
    clear: left;
}
#mediadir .employee-right {
    float: left;
    width: 45%;
}
#mediadir .employee-more {
    float: left;
}
#mediadir .reference {
    float: left;
    width: 30%;
    height: 120px;
    margin: 0 3% 20px 0;
    text-align: center;
    border: 1px solid #DDDDDD;
    box-shadow: 3px 3px 8px #DDDDDD;
    -moz-box-shadow: 3px 3px 8px #DDDDDD;
    -webkit-box-shadow: 3px 3px 8px #DDDDDD;
    -o-box-shadow: 3px 3px 8px #DDDDDD;
}
#mediadir .reference:hover {
    border: 1px solid #AAAAAA;
    box-shadow: 3px 3px 8px #AAAAAA;
    -moz-box-shadow: 3px 3px 8px #AAAAAA;
    -webkit-box-shadow: 3px 3px 8px #AAAAAA;
    -o-box-shadow: 3px 3px 8px #AAAAAA;
}
#mediadir .reference img {
    width: 80%;
    max-height: 60px;
}
#mediadir .reference-left {
    float: left;
    width: 60%;
}
#mediadir .reference-left h2 {
    border-bottom: 1px solid #DDDDDD;
}
#mediadir .reference-right {
    float: left;
    width: 33%;
    padding: 0 0 10px 3%;
    margin: 0 0 0 3%;
    border-left: 1px solid #DDDDDD;
}
#mediadir .reference-right img {
    max-width: 100%;
    margin: 20px 0 0 0;
}
/*************************************/
/* CSS DEFINITIONS FOR MEDIA ARCHIVE */
/*************************************/
#media {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
}
#media a img {
    border: 0px;
}
#media #insertform #filename {
    width: 140px;
}
#media_div div.message_ok,
#media_div div.message_error {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    float:left;
    height:auto !important;
}
#media_div div.message_error {
    color: #ff0000;
}
#media_div div.message_ok {
    color: #029202;
}

/***************************************/
/* CSS DEFINITIONS FOR CHECKOUT MODULE */
/***************************************/
#checkout .left {
    width: 470px;
    padding: 0;
}

#checkout .right {
    padding: 0;
}

#checkout #ok_message,
#checkout #error_message,
#checkout #payment_methods,
#checkout #description,
#checkout form {
    clear: both;
    display: inline-block;
    padding: 0 0 20px 0;
}

#checkout form {
    width: 442px;
}

#checkout #ok_message {
    color: #008000;
}

#checkout #error_message {
    color: #ff0000;
}

#checkout #payment_methods img {
    float: left;
    width: 96px;
    height: 58px;
    margin: 0 10px 0 0;
}

#checkout form p {
    padding-left: 0;
    width: auto;
}

#checkout form legend {
    display: block;
}

#checkout form input[type=text],
#checkout form input[type=password],
#checkout form textarea {
    width: 394px;
    margin-right: 0;
    margin-left: 0;
}

#checkout form select {
    width: 420px;
}

#checkout form input.label,
#checkout form select.label,
#checkout form textarea.label {
    opacity: 0.6;
}

#checkout form input.highlight,
#checkout form select.highlight,
#checkout form textarea.highlight {
    border: 1px solid #ff0000;
}

#checkout form input#invoice_amount {
    float: left;
    width: 264px;
    margin-right: 10px;
}

#checkout form select#invoice_currency {
    float: left;
    width: 120px;
}

#checkout form input#contact_postcode  {
    float: left;
    width: 94px;
    margin-right: 10px;
}

#checkout form input#contact_place {
    float: left;
    width: 264px;
}

#checkout form #buttons {
    display: block;
    position: static;
    margin: 20px 0 0 0;
}

#checkout form #buttons input {
    width: auto;
}

/***************************/
/* HIDE UPLOADER EMBED TAG */
/***************************/
#deployJavaPlugin {
    display: none;
}
