<!-- START module_livecam_settings.html -->
<form action="index.php?cmd=Livecam&amp;act=settings" method="post">
	<table cellspacing="0" cellpadding="2" width="100%" border="0" class="adminlist">
		<tr>
			<th colspan="2">{TXT_SETTINGS}</th>
		</tr>
		<tr class="row1">
			<td width="220" nowrap="nowrap" style="vertical-align: top;">{TXT_NUMBER_OF_CAMS}</td>
			<td nowrap="nowrap" style="vertical-align: top;">
                <input type="text" style="width: 250px;" name="number_of_cams" value="{NUMBER_OF_CAMS}" />
			</td>
		</tr>
	</table>
	<br />
	<input type="submit" name="store" value="{TXT_SAVE}" />
</form>
<!-- END module_livecam_settings.html -->
