<!-- START module_news_list.html -->
<script type="text/javascript">
function deletePage(pageId) {
  if (confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
    window.location.replace("index.php?cmd=DocSys{MODULE_INDEX}&{CSRF_PARAM}&act=delete&id=" + pageId);
  }
}
function deletePages() {
  with (document.formDocSys) {
    if (confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
      action = "index.php?cmd=DocSys{MODULE_INDEX}&act=delete";
      method = "post";
      submit();
      return true;
    }
  }
}
/**
 * Checks/unchecks all checkboxes
 * @param   string   the form name
 * @param   boolean  whether to check or to uncheck the element
 * @return  boolean  always true
 */
function setCheckboxes(do_check) {
  with (document.formDocSys) {
    var box = elements['selectedId[]'];
    var box_cnt = (typeof(box.length) != 'undefined') ? box.length : 0;
    if (box_cnt) {
      for (var i = 0; i < box_cnt; i++) {
        box[i].checked = do_check;
      }
    } else {
      box.checked = do_check;
    }
    return true;
  }
}
</script>
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
  <tbody>
    <tr>
      <th valign="top" colspan="2">
  {TXT_EDIT_DOCSYS_MESSAGE}
</th>
</tr>
<tr class="row1">
  <td valign="top">
    <form action="index.php?cmd=DocSys{MODULE_INDEX}&act=edit" method="post" name="form2">
      {TXT_EDIT_DOCSYS_ID}:
      <input type="text" maxlength="5" size="5" name="id" />
    </form>
  </td>
</tr></tbody></table>
<br />
<form name="formDocSys" method="post" action="index.php?cmd=DocSys{MODULE_INDEX}&act=changeStatus">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
      <th valign="top" colspan="8">{TXT_ARCHIVE}</th>
    </tr>
    <tr class="row2">
      <td style="white-space: nowrap; width: 1%; vertical-align: top;"><b>#</b></td>
      <td style="white-space: nowrap; width: 2%; vertical-align: top;"><b>{TXT_STATUS}</b></td>
      <td style="white-space: nowrap; width: 5%; vertical-align: top;"><b>{TXT_DATE}</b></td>
      <td style="white-space: nowrap; vertical-align: top;"><b>{TXT_TITLE}</b></td>
      <td style="white-space: nowrap; width: 10%; vertical-align: top;"> <b>{TXT_CATEGORY}</b></td>
      <td style="white-space: nowrap; width: 10%; vertical-align: top;"> <b>{TXT_AUTHOR}</b></td>
      <td style="white-space: nowrap; width: 12%; vertical-align: top;"> <b>{TXT_LAST_EDIT}</b></td>
      <td style="white-space: nowrap; width: 2%; vertical-align: top;"><div align="right"><b>{TXT_ACTION}</b></div></td>
    </tr>
    <!-- BEGIN row -->
    <tr class="{DOCSYS_CLASS}">
      <td style="white-space: nowrap; vertical-align: top;"><input type="checkbox" value="{DOCSYS_ID}" name="selectedId[]" /></td>
      <td style="white-space: nowrap; vertical-align: top;"><img border="0" title="{DOCSYS_STATUS}" alt="{DOCSYS_STATUS}" src="/core/Core/View/Media/icons/{DOCSYS_STATUS_PICTURE}" /></td>
      <td style="white-space: nowrap; vertical-align: top;">{DOCSYS_DATE}&nbsp;</td>
      <td style="white-space: nowrap; vertical-align: top;"><a href="?cmd=DocSys{MODULE_INDEX}&act=edit&id={DOCSYS_ID}">{DOCSYS_TITLE}</a>&nbsp;</td>
      <td style="white-space: nowrap; vertical-align: top;">{DOCSYS_CATEGORY}&nbsp;</td>
      <td style="white-space: nowrap; vertical-align: top;">&nbsp;{DOCSYS_AUTHOR}</td>
      <td style="white-space: nowrap; vertical-align: top;">{DOCSYS_CHANGELOG}: {DOCSYS_USER}&nbsp;</td>
      <td style="white-space: nowrap; vertical-align: top;">
        <div align="right">
          <a title="{TXT_EDIT}" href="?cmd=DocSys{MODULE_INDEX}&act=edit&id={DOCSYS_ID}"><img border="0" alt="{TXT_EDIT}" src="/core/Core/View/Media/icons/edit.gif" /></a>
          <a title="{TXT_DELETE}" href="javascript:deletePage({DOCSYS_ID})"><img border="0" alt="{TXT_DELETE}" src="/core/Core/View/Media/icons/delete.gif" /></a></div>
      </td>
    </tr>
    <!-- END row -->
  </table>
  <img src="/core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" title="{TXT_MARKED}:" alt="{TXT_MARKED}:" />
  <a href="" onclick="setCheckboxes(true);
    return false;">{TXT_SELECT_ALL}</a>&nbsp;/&nbsp;
  <a href="" onclick="setCheckboxes(false);
    return false;">{TXT_REMOVE_SELECTION}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="submit" name="delete" value="{TXT_DELETE}" onclick="deletePages();
    return false;" />&nbsp;&nbsp;
  <input type="submit" name="activate" value="{TXT_ACTIVATE}" />&nbsp;&nbsp;
  <input type="submit" name="deactivate" value="{TXT_DEACTIVATE}" />
</form>
<br />
<br />
{DOCSYS_PAGING}
<br />
<!-- END module_docsys_list.html -->
