<!-- START module_shop_settings_currency.html -->
<script type="text/javascript">
<!-- //
function deleteCurrency(cId)
{
  if (confirm('{TXT_CONFIRM_DELETE_CURRENCY}\n{TXT_ACTION_IS_IRREVERSIBLE}!'))
    window.location.replace("index.php?cmd=Shop{MODULE_INDEX}&{CSRF_PARAM}&act=settings&tpl=currency&currencyId="+cId);
}

{SHOP_CURRENCY_INCREMENT_JS_ARRAY}

function updateCurrencyCode(selectElement)
{
  var code = selectElement.value;
  var name = selectElement.options[selectElement.selectedIndex].text;
  // By default, the name is followed by the code in parentheses
  name = name.replace(/\s*\([A-Z]+\)$/, "");
  var increment = currency_increment[code];
console.log("code "+code+", name: "+name+", increment: "+increment);
  document.getElementById("currencySymbolNew").value = code;
  document.getElementById("currencyNameNew").value = name;
  document.getElementById("currencyIncrementNew").value = increment;
}

function updateExchangeRates(selectedElement)
{
  // The Currency ID
  var indexSelected = selectedElement.value;
  // The ID of the previous standard Currency.
  // This can only be determined if its rate is exactly 1.
  var indexStandard = -1;
  // The factor used to calculate the new exchange rates
  var standardFactor = document.getElementsByName("currencyRate["+indexSelected+"]")[0].value;
//alert("standard factor: "+standardFactor);
  // If no standard factor can be determined, use 1.
  // This means that none of the rates are actually changed, except for
  // the new standard currency, whose rate is always set to 1.
  if (standardFactor <= 0) {
    standardFactor = 1;
  }
  // Find all input elements
  var arrInputElement = document.getElementsByTagName('input');
//alert("element: "+arrInputElement+", length: "+arrInputElement.length);
  // Array to store all exchange rate elements,
  // except for the new standard currency.
  var arrRateElement = new Array();
  // Loop through the input elements
  for (var i = 0; i < arrInputElement.length; ++i) {
    var element = arrInputElement[i];
    // Skip non currency rate fields
    if (!element.name.match(/^currencyRate\[(\d+)\]/)) {
      continue;
    }
    // The index, aka Currency ID
    var index = RegExp.$1
    // Nothing to do for the new standard currency here.
    if (index == indexSelected) {
      continue;
    }
    // Any currency having a rate of 1 is considered as
    // being the previous standard.
    if (element.value == 1) {
      indexStandard = index;
//alert("standard: i: "+i+", value: "+element.value);
    }
    // Remember those rate elements that need to be updated.
    arrRateElement.push(element);
//alert("i: "+i+", rate: "+arrInputElement[i].value);
  }
  // Only if there was a previous standard currency with a rate of 1...
  if (indexStandard != -1) {
    for (var i = 0; i < arrRateElement.length; ++i) {
      element = arrRateElement[i];
      // ...update the other rates
      element.value = (element.value / standardFactor).toFixed(6);
    }
  }
  // Finally, set the new standard currency rate to 1.
  document.getElementsByName("currencyRate["+indexSelected+"]")[0].value = "1.000000";
  return true;
}
// -->
</script>
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<ul id="tabmenu">
<li><a id="currencyTab_content1" class="active" href="javascript:{}" onclick="selectTab('content1')" title="{TXT_CURRENCIES}">{TXT_CURRENCIES}</a></li>
<li><a id="currencyTab_content2" href="javascript:{}" onclick="selectTab('content2')" title="W&auml;hrung hinzuf&uuml;gen">{TXT_ADD}</a></li>
</ul>
<form name="shopForm" method="post" action="index.php?cmd=Shop{MODULE_INDEX}&amp;act=settings&amp;tpl=currency">
<!-- start content1 div -->
<div id="content1" class="currencyTab" style="display:block">
<table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
    <tr>
      <th colspan="7" class="f_bold">{TXT_CURRENCIES}</th>
      <th colspan="2" class="a_right">
        <a href="http://www.xe.com/" target="_blank">{TXT_CURRENCY_CONVERTER}</a>
      </th>
      </tr>
    <tr class="row3">
      <td width="05%" class="f_bold">{TXT_ID}&nbsp;</td>
      <td width="10%" class="f_bold">{TXT_CODE}&nbsp;</td>
      <td width="10%" class="f_bold">{TXT_SYMBOL}&nbsp;</td>
      <td width="20%" class="f_bold">{TXT_NAME}</td>
      <td width="15%" class="a_right f_bold">{TXT_RATE}</td>
      <td width="10%" class="a_right f_bold">{TXT_SHOP_CURRENCY_INCREMENT}</td>
      <td width="10%" class="a_center f_bold">{TXT_STANDARD}</td>
      <td width="05%" class="a_center f_bold">{TXT_ACTIVE}</td>
      <td width="02%" class="a_right f_bold">{TXT_FUNCTIONS}</td>
    </tr>
<!-- BEGIN shopCurrency -->
    <tr class="{SHOP_CURRENCY_STYLE}">
      <td>{SHOP_CURRENCY_ID}</td>
      <td>
        <input name="currencyCode[{SHOP_CURRENCY_ID}]" type="text"
            value="{SHOP_CURRENCY_CODE}" size="10" maxlength="3" />
      </td>
      <td>
        <input name="currencySymbol[{SHOP_CURRENCY_ID}]"
            type="text" value="{SHOP_CURRENCY_SYMBOL}" size="10" maxlength="20" />
      </td>
      <td>
        <input type="text" name="currencyName[{SHOP_CURRENCY_ID}]"
            value="{SHOP_CURRENCY_NAME}" style="width: 340px;" maxlength="255" />
      </td>
      <td class="a_right">
        <input type="text" name="currencyRate[{SHOP_CURRENCY_ID}]"
               class="a_right"
               value="{SHOP_CURRENCY_RATE}" size="6" maxlength="11" />
      </td>
      <td class="a_right">
        <input type="text" name="currencyIncrement[{SHOP_CURRENCY_ID}]"
               class="a_right"
               value="{SHOP_CURRENCY_INCREMENT}" size="4" maxlength="7" />
      </td>
      <td class="a_center">
        <input name="currencyDefault" type="radio" value="{SHOP_CURRENCY_ID}"
            {SHOP_CURRENCY_STANDARD} onchange="updateExchangeRates(this)" />
      </td>
      <td class="a_center">
        <input type="checkbox" name="currencyActive[{SHOP_CURRENCY_ID}]"
            value="1" {SHOP_CURRENCY_ACTIVE} />
      </td>
      <td class="a_right">
        <a href="javascript:deleteCurrency('{SHOP_CURRENCY_ID}')" title="{TXT_DELETE}">
          <img src="/core/Core/View/Media/icons/delete.gif" alt="{TXT_DELETE}" border="0" />
        </a>
      </td>
    </tr>
<!-- END shopCurrency -->
  </table>
<br />
<input type="submit" name="currency" value="{TXT_STORE}" />
</div>
<!-- end content1 div -->

<!-- start content2 div -->
<div id="content2" class="currencyTab" style="display:none">
<table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
    <tr>
      <th colspan="6" class="f_bold">{TXT_ADD}</th>
      <th colspan="2" class="number">
        <a href="http://www.xe.com/" target="_blank">{TXT_CURRENCY_CONVERTER}</a>
      </th>
    </tr>
    <tr class="row1">
      <td width="05%" class="f_bold">{TXT_ID}&nbsp;</td>
      <td width="20%" class="f_bold">{TXT_CODE}&nbsp;</td>
      <td width="10%" class="f_bold">{TXT_SYMBOL}&nbsp;</td>
      <td width="20%" class="f_bold">{TXT_NAME}</td>
      <td width="15%" class="a_right f_bold">{TXT_RATE}</td>
      <td width="10%" class="a_right f_bold">{TXT_SHOP_CURRENCY_INCREMENT}</td>
      <td width="10%" class="a_center f_bold">{TXT_STANDARD}</td>
      <td width="05%" class="a_center f_bold">{TXT_ACTIVE}</td>
    </tr>
    <tr class="row2">
      <td>N/A</td>
      <td>
        <select name="currencyCodeNew" onchange="updateCurrencyCode(this)" style="width: 430px;">
          {SHOP_CURRENCY_NAME_MENUOPTIONS}
        </select>
      </td>
      <td>
        <input name="currencySymbolNew" id="currencySymbolNew" type="text" value="" size="10" maxlength="20" />
      </td>
      <td>
        <input type="text" name="currencyNameNew" id="currencyNameNew" value=""
               style="width: 430px;" maxlength="255" />
      </td>
      <td class="a_right">
        <input type="text" name="currencyRateNew" value="1.0000"
               class="a_right" size="6" maxlength="11" />
      </td>
      <td class="a_right">
        <input type="text"
               name="currencyIncrementNew" id="currencyIncrementNew"
               class="a_right" value="0.01" size="4" maxlength="7" />
      </td>
      <td class="a_center">
        <input type="checkbox" name="currencyDefaultNew" value="1" />
      </td>
      <td class="a_center">
        <input type="checkbox" name="currencyActiveNew" value="1" checked="checked" />
      </td>
    </tr>
  </table>
<br />
<input type="submit" name="currency_add" value="{TXT_ADD}" />
</div>
<!-- end content2 div -->
</form>
<!-- END module_shop_settings_currency.html -->
