<!-- start module_shop_settings_payment.html -->
<script type="text/javascript">
// <![CDATA[
function deletePayment(pId)
{
  if (confirm('{TXT_CONFIRM_DELETE_PAYMENT}\n{TXT_ACTION_IS_IRREVERSIBLE}'))
    window.location.replace("index.php?cmd=Shop{MODULE_INDEX}&{CSRF_PARAM}&act=settings&tpl=payment&delete_payment="+pId);
}
// ]]>
</script>
<style type="text/css">
    .table {
        display: table;
    }
    .table-row {
        display: table-row;
    }
    .table-cell {
        display: table-cell;
    }
    #content .shop_payment_fee {
        white-space: nowrap;
        min-width: 174px;
    }
    #content .shop_payment_fee input {
        float: left;
    }
    #content .shop_payment_fee select {
        height: 23px;
        border-left: 0;
        width: 100px;
    }
</style>
<!-- BEGIN statusBar -->
<span class="red">{CONTENT_STATUS}</span>
<!-- END statusBar -->
<div class="infobox">
    {TXT_SHOP_PAYMENT_POSTFINANCE_ONLY_FOR_SWITZERLAND}
</div>
<ul id="tabmenu">
  <li><a id="paymentTab_content1" class="active" href="javascript:{}" onclick="selectTab('content1')" title="{TXT_PAYMENT_TYPE}">{TXT_PAYMENT_TYPES}</a></li>
  <li><a id="paymentTab_content2" href="javascript:{}" onclick="selectTab('content2')" title="{TXT_ADD}">{TXT_ADD}</a></li>
  <li><a id="paymentTab_content3" href="javascript:{}" onclick="selectTab('content3')" title="{TXT_PAYMENT_HANDLER}">{TXT_PAYMENT_HANDLER}</a></li>
</ul>
<form name="shopForm" method="post" action="index.php?cmd=Shop{MODULE_INDEX}&amp;act=settings&amp;tpl=payment">
<!-- start content1 div -->
  <div id="content1" class="paymentTab" style="display:block">
    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
      <tr>
        <th colspan="7">{TXT_PAYMENT_TYPES}</th>
      </tr>
      <tr class="row1">
        <td class="f_bold">
          {TXT_PAYMENT_TYPE}
        </td>
        <td class="f_bold">
          {TXT_FEE}
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_PAYMENT_FEE_INFO}</span>
        </td>
        <td class="f_bold">
          {TXT_FREE_OF_CHARGE}
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_FREE_OF_CHARGE_TIP}</span>
        </td>
        <td class="f_bold">
          {TXT_HANDLER}
        </td>
        <td class="f_bold">
          {TXT_ZONE}
        </td>
        <td width="100%" class="f_bold">
          {TXT_ACTIVE}
        </td>
        <td width="2%">&nbsp;</td>
      </tr>
<!-- BEGIN shopPayment -->
      <tr class="{SHOP_PAYMENT_STYLE}">
        <td>
          <input name="name[{SHOP_PAYMENT_ID}]" type="text"
                 value="{SHOP_PAYMENT_NAME}" size="30" maxlength="50" />
        </td>
        <td class="shop_payment_fee">
          <input type="text" name="fee[{SHOP_PAYMENT_ID}]"
                 value="{SHOP_PAYMENT_COST}" size="6" maxlength="50" />
          <select name="fee_type[{SHOP_PAYMENT_ID}]">
            <option value="fix"
                <!-- BEGIN shopPaymentFeeFix -->
                    selected="selected"
                <!-- END shopPaymentFeeFix --> />
                {SHOP_PAYMENT_CURRENCY}
            </option>
            <option value="percent"
                <!-- BEGIN shopPaymentFeePercent -->
                    selected="selected"
                <!-- END shopPaymentFeePercent --> />
                {TXT_SHOP_PERCENTAGE}
            </option>
          </select>
        </td>
        <td>
          <input type="text" name="free_from[{SHOP_PAYMENT_ID}]"
                 value="{SHOP_PAYMENT_COST_FREE_SUM}" size="15" maxlength="50" />
        </td>
        <td>
          <select name="processor_id[{SHOP_PAYMENT_ID}]">
            {SHOP_PAYMENT_HANDLER_MENUOPTIONS}
          </select>
        </td>
        <td>{SHOP_ZONE_SELECTION}</td>
        <td>
          <input type="checkbox" name="active[{SHOP_PAYMENT_ID}]"
                 value="1" {SHOP_PAYMENT_STATUS} />
        </td>
        <td class="a_right">
          <a href="javascript:deletePayment('{SHOP_PAYMENT_ID}')" title="{TXT_DELETE}">
            <img src="/core/Core/View/Media/icons/delete.gif" alt="{TXT_DELETE}" border="0" />
          </a>
        </td>
      </tr>
<!-- END shopPayment -->
    </table>
    <br />
    <input type="submit" name="bpayment" value="{TXT_STORE}" />
  </div>
<!-- end content1 div -->

<!-- start content2 div -->
  <div id="content2" class="paymentTab" style="display:none">
    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
      <tr>
        <th colspan="6">{TXT_ADD}</th>
      </tr>
      <tr class="row1">
        <td class="f_bold">{TXT_PAYMENT_TYPE}</td>
        <td class="f_bold">
          {TXT_FEE}
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_SHOP_PAYMENT_FEE_INFO}</span>
        </td>
        <td class="f_bold">
          {TXT_FREE_OF_CHARGE}
          <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_FREE_OF_CHARGE_TIP}</span>
        </td>
        <td class="f_bold">{TXT_HANDLER}</td>
        <td class="f_bold">{TXT_ZONE}</td>
        <td width="100%" class="f_bold">
          {TXT_ACTIVE}
        </td>
      </tr>
      <tr class="row2">
        <td class="f_bold"><input name="name_new" type="text" value="" size="30" maxlength="50" /></td>
        <td class="shop_payment_fee">
          <input type="text" name="fee_new" value="0.00" size="6" maxlength="50" />
          <select name="fee_type_new">
            <option value="fix" selected="selected">
                {SHOP_PAYMENT_CURRENCY}
            </option>
            <option value="percent">
                {TXT_SHOP_PERCENTAGE}
            </option>
          </select>
        </td>
        <td><input type="text" name="free_from_new" value="0.00" size="15" maxlength="50" /></td>
        <td>
          <select name="processor_id_new">
            {SHOP_PAYMENT_HANDLER_MENUOPTIONS_NEW}
          </select>
        </td>
        <td>{SHOP_ZONE_SELECTION_NEW}</td>
        <td>
          <input type="checkbox" name="active_new" value="1" checked="checked" />
        </td>
      </tr>
    </table>
    <br />
    <input type="submit" name="payment_add" value="{TXT_ADD}" />
  </div>
<!-- end content2 div -->

<!-- start content3 div -->
<div id="content3" class="paymentTab" style="display:none;">
  <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
    <tr>
      <th colspan="3">{TXT_PAYMENT_HANDLER}</th>
    </tr>
    <tr class="row1">
      <td class="nowrap f_bold" width="15%">{TXT_NAME}</td>
      <td width="80%" class="f_bold">{TXT_STATEMENT}</td>
      <td width="5%" class="nowrap a_center f_bold">
        {TXT_ACTIVE}
      </td>
    </tr>
    <tr class="row2">
      <td width="15%" class="nowrap">{TXT_SHOP_PAYMENT_PAYREXX}</td>
      <td class="nowrap">
        <label for="payrexx_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
        <input id="payrexx_swapper" type="checkbox"
               onclick="swapBlock('payrexx');" />
        <div id="payrexx" style="display:none;">
          <table width="100%">
            <tr>
              <td width="20%">
                {TXT_SHOP_PAYMENT_PAYREXX_INSTANCE_NAME}
                <span class="tooltip-trigger icon-info"></span>
                <span class="tooltip-message">
                  {TXT_SHOP_PAYMENT_PAYREXX_INSTANCE_NAME_HINT}
                </span>
              </td>
              <td width="80%">
                <input type="text" name="payrexx_instance_name"
                       value="{SHOP_PAYREXX_INSTANCE_NAME}"
                       style="width: 270px;" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td width="20%">
                {TXT_SHOP_PAYMENT_PAYREXX_DOMAIN_NAME}
                <span class="tooltip-trigger icon-info"></span>
                <span class="tooltip-message">
                  {TXT_SHOP_PAYMENT_PAYREXX_DOMAIN_NAME_HINT}
                </span>
              </td>
              <td width="80%">
                <input type="text" name="payrexx_domain_name"
                       value="{SHOP_PAYREXX_DOMAIN_NAME}"
                       style="width: 270px;" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>
                {TXT_SHOP_PAYMENT_PAYREXX_API_SECRET}
              </td>
              <td>
                <input type="text" name="payrexx_api_secret"
                       value="{SHOP_PAYREXX_API_SECRET}"
                       style="width: 270px;" maxlength="50" />
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td class="nowrap a_center">
        <input type="checkbox" name="payrexx_active" value="1"
               {SHOP_PAYREXX_STATUS} />
      </td>
    </tr>
    <tr class="row2">
      <td width="15%" class="nowrap">{TXT_YELLOWPAY_POSTFINANCE}</td>
      <td class="nowrap">
        <label for="postfinance_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
        <input name="postfinance_swapper" id="postfinance_swapper" type="checkbox" onclick="swapBlock('postfinance');" value="1" />&nbsp;
        <div id="postfinance" style="display:none;">
          <table width="100%">
            <tr>
              <td width="20%">{TXT_SHOP_YELLOWPAY_PSPID}</td>
              <td width="80%">
                <input type="text" name="postfinance_shop_id" value="{SHOP_YELLOWPAY_SHOP_ID}" style="width: 270px;" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>{TXT_SHOP_YELLOWPAY_HASH_SIGNATURE_IN}</td>
              <td>
                <input type="text" name="postfinance_hash_signature_in" value="{SHOP_YELLOWPAY_HASH_SIGNATURE_IN}" style="width: 270px;" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>{TXT_SHOP_YELLOWPAY_HASH_SIGNATURE_OUT}</td>
              <td>
                <input type="text" name="postfinance_hash_signature_out" value="{SHOP_YELLOWPAY_HASH_SIGNATURE_OUT}" style="width: 270px;" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>{TXT_AUTORIZATION}</td>
              <td>
                <select name="postfinance_authorization_type" style="width: 270px;">
                  {SHOP_YELLOWPAY_AUTHORIZATION_TYPE_OPTIONS}
                </select>
              </td>
            </tr>
            <!-- OBSOLETE tr>
              <td>{TXT_SHOP_ACCEPTED_PAYMENT_METHODS}</td>
              <td>
                {SHOP_YELLOWPAY_ACCEPTED_PAYMENT_METHODS_CHECKBOXES}
              </td>
            </tr-->
            <tr>
              <td>{TXT_SHOP_YELLOWPAY_USE_TESTSERVER}</td>
              <td>
                <input id="postfinance_use_testserver" type="checkbox"
                  name="postfinance_use_testserver" value="1"
                  {SHOP_YELLOWPAY_USE_TESTSERVER_CHECKED} />
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td class="nowrap a_center">
        <input type="checkbox" name="postfinance_active" value="1"
               {SHOP_YELLOWPAY_STATUS} />
      </td>
    </tr>

    <tr class="row2">
      <td class="nowrap">{TXT_SHOP_SAFERPAY_JSON}</td>
      <td class="nowrap"><label for="saferpay_json_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
        <input name="saferpay_json_swapper" id="saferpay_json_swapper" type="checkbox" onclick="swapBlock('saferpay_json');" value="1" />&nbsp;
        <div id="saferpay_json" style="display:none;">
          <table width="100%">
            <tr>
              <td width="20%">{TXT_SAFERPAY_JSON_ACCOUNT_ID}</td>
              <td width="80%">
                <input type="text" name="saferpay_json_id" value="{SHOP_SAFERPAY_JSON_ID}" style="width: 270px;" maxlength="60" />
              </td>
            </tr>
            <tr>
              <td width="20%">{TXT_TERMINAL_ID}</td>
              <td width="80%">
                <input type="text" name="saferpay_json_terminal_id" value="{SHOP_SAFERPAY_JSON_TERMINAL_ID}" style="width: 270px;" maxlength="60" />
              </td>
            </tr>
            <tr>
              <td width="20%">{TXT_USERNAME}</td>
              <td width="80%">
                <input type="text" name="saferpay_json_user" value="{SHOP_SAFERPAY_JSON_USER}" style="width: 270px;" maxlength="60" />
              </td>
            </tr>
            <tr>
              <td width="20%">{TXT_PASSWORD}</td>
              <td width="80%">
                <input type="text" name="saferpay_json_pass" value="{SHOP_SAFERPAY_JSON_PASS}" style="width: 270px;" maxlength="60" />
              </td>
            </tr>
            <tr>
              <td>{TXT_USE_TEST_ACCOUNT}</td>
              <td>
                <input type="checkbox" name="saferpay_json_use_test_account" value="1" {SHOP_SAFERPAY_JSON_TEST_STATUS} />
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td class="nowrap a_center">
        <input type="checkbox" name="saferpay_json_active" value="1"
               {SHOP_SAFERPAY_JSON_STATUS} />
      </td>
    </tr>

    <tr class="row2">
      <td>{TXT_PAYPAL}</td>
      <td><label for="paypal_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
        <input name="paypal_swapper" id="paypal_swapper" type="checkbox" onclick="swapBlock('paypal');" value="1" />&nbsp;
        <div id="paypal" style="display:none;">
          <table width="100%">
            <tr>
              <td width="20%">{TXT_PAYPAL_EMAIL_ACCOUNT}</td>
              <td width="80%">
                <input type="text" name="paypal_account_email" value="{SHOP_PAYPAL_EMAIL}" style="width: 270px;" maxlength="254" style="margin-bottom:1px;" />
              </td>
            </tr>
            <tr>
              <td>{TXT_SHOP_PAYPAL_DEFAULT_CURRENCY}</td>
              <td>
                <select name="paypal_default_currency" style="width: 270px;">
                  {SHOP_PAYPAL_DEFAULT_CURRENCY_MENUOPTIONS}
                </select>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td class="a_center">
        <input type="checkbox" name="paypal_active" value="1"
               {SHOP_PAYPAL_STATUS} />
      </td>
    </tr>

    <tr class="row1">
      <td class="nowrap">{TXT_PAYMENT_LSV}</td>
      <td>&nbsp;</td>
      <td class="a_center">
        <input type="checkbox" name="payment_lsv_active" value="1"
               {SHOP_PAYMENT_LSV_STATUS} />
      </td>
    </tr>

    <tr class="row2">
      <td class="nowrap">{TXT_SHOP_DATATRANS}{SAFERPAY_EXPERIMENTAL}</td>
      <td class="nowrap">
        <label for="datatrans_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
        <input name="datatrans_swapper" id="datatrans_swapper" type="checkbox" onclick="swapBlock('datatrans');" value="1" />&nbsp;
        <div id="datatrans" style="display:none;">
          <table width="100%">
            <tr>
              <td width="20%">{TXT_SHOP_DATATRANS_MERCHANT_ID}</td>
              <td width="80%">
                <input type="text" name="datatrans_merchant_id" value="{SHOP_DATATRANS_MERCHANT_ID}" style="width: 270px;" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>{TXT_SHOP_AUTHORIZATION}</td>
              <td>
                <select name="datatrans_request_type" style="width: 270px;">
                  {SHOP_DATATRANS_AUTHORIZATION_TYPE_OPTIONS}
                </select>
              </td>
            </tr>
            <!--tr>
              <td>{TXT_SHOP_ACCEPTED_PAYMENT_METHODS}</td>
              <td>{SHOP_DATATRANS_ACCEPTED_PAYMENT_METHODS_CHECKBOXES}</td>
            </tr-->
            <tr>
              <td>{TXT_SHOP_DATATRANS_USE_TESTSERVER}</td>
              <td>
                <input id="datatrans_use_testserver_yes" type="radio"
                  name="datatrans_use_testserver" value="1"{SHOP_DATATRANS_USE_TESTSERVER_YES_CHECKED} />
                <label for="datatrans_use_testserver_yes">{TXT_SHOP_YES}</label>
                <br />
                <input id="datatrans_use_testserver_no" type="radio"
                  name="datatrans_use_testserver" value="0"{SHOP_DATATRANS_USE_TESTSERVER_NO_CHECKED} />
                <label for="datatrans_use_testserver_no">{TXT_SHOP_NO}</label>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td class="nowrap a_center">
        <input type="checkbox" name="datatrans_active" value="1"
               {SHOP_DATATRANS_STATUS} />
      </td>
    </tr>

    <tr class="row1">
      <td class="nowrap">{TXT_SHOP_POSTFINANCE_MOBILE}{SAFERPAY_EXPERIMENTAL}</td>
      <td class="nowrap">
        <label for="postfinance_mobile_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
        <input name="postfinance_mobile_swapper" id="postfinance_mobile_swapper"
            type="checkbox" onclick="swapBlock('postfinance_mobile');" value="1" />&nbsp;
        <div id="postfinance_mobile" style="display: none;">
          <table width="100%">
            <tr>
              <td width="20%">
                {TXT_SHOP_POSTFINANCE_MOBILE_WEBUSER}
              </td>
              <td width="80%">
                <input type="text" name="postfinance_mobile_webuser" value="{SHOP_POSTFINANCE_MOBILE_WEBUSER}" style="width: 270px;" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>
                {TXT_SHOP_POSTFINANCE_MOBILE_SIGN}
              </td>
              <td>
                <input type="text" name="postfinance_mobile_sign" value="{SHOP_POSTFINANCE_MOBILE_SIGN}" style="width: 270px;" maxlength="50" />
              </td>
            </tr>
            <tr>
              <td>
                {TXT_SHOP_POSTFINANCE_MOBILE_IJUSTWANTTOTEST}
              </td>
              <td>
                <input type="checkbox" id="postfinance_mobile_ijustwanttotest_yes"
                    name="postfinance_mobile_ijustwanttotest" value="1"
                    {SHOP_POSTFINANCE_MOBILE_IJUSTWANTTOTEST_CHECKED} />
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td class="nowrap a_center">
        <input type="checkbox" name="postfinance_mobile_status" value="1"
               {SHOP_POSTFINANCE_MOBILE_STATUS} />
      </td>
    </tr>

    <tr class="row1">
      <td class="nowrap">{TXT_SAFERPAY}{SAFERPAY_EXPERIMENTAL}</td>
      <td class="nowrap"><label for="safperpay_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
        <input name="safperpay_swapper" id="safperpay_swapper" type="checkbox" onclick="swapBlock('safperpay');" value="1" />&nbsp;
        <div id="safperpay" style="display:none;">
          <table width="100%">
            <tr>
              <td width="20%">{TXT_ACCOUNT_ID}</td>
              <td width="80%">
                <input type="text" name="saferpay_id" value="{SHOP_SAFERPAY_ID}" style="width: 270px;" maxlength="60" />
              </td>
            </tr>
            <tr>
              <td>{TXT_USE_TEST_ACCOUNT}</td>
              <td>
                <input type="checkbox" name="saferpay_use_test_account" value="1" {SHOP_SAFERPAY_TEST_STATUS} />
              </td>
            </tr>
            <tr>
              <td>{TXT_FINALIZE_PAYMENT}</td>
              <td>
                <input type="checkbox" name="saferpay_finalize_payment" value="1" {SHOP_SAFERPAY_FINALIZE_PAYMENT} />
              </td>
            </tr>
            <tr>
              <td>{TXT_INDICATE_PAYMENT_WINDOW_AS}</td>
              <td>
                <select name="saferpay_window_option" id="saferpay_window_option"
                    style="width: 270px;">
                  {SHOP_SAFERPAY_WINDOW_MENUOPTIONS}
                </select>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td class="nowrap a_center">
        <input type="checkbox" name="saferpay_active" value="1"
               {SHOP_SAFERPAY_STATUS} />
      </td>
    </tr>

    <tr class="row2">
      <td>{TXT_SHOP_PAYMILL}{SAFERPAY_EXPERIMENTAL}</td>
      <td>
          <label for="paymill_swapper">{TXT_SHOP_EDIT}&nbsp;</label>
          <input name="paymill_swapper" id="paymill_swapper" type="checkbox" onclick="swapBlock('paymill');" value="1" />&nbsp;
        <div id="paymill" style="display:none;">
          <table width="100%">
            <tr>
              <td class="table" style="width:100%">
                  <div class="table-row">
                        <div style="width:20%" class="table-cell">{TXT_SHOP_MODE}</div>
                        <div style="width:80%" class="table-cell">
                            <select name="paymill_use_test_account" style="width: 270px;">
                                <option value="0" {SHOP_PAYMILL_TEST_SELECTED} >{TXT_SHOP_TEST}</option>
                                <option value="1" {SHOP_PAYMILL_LIVE_SELECTED} >{TXT_SHOP_LIVE}</option>
                            </select>
                        </div>
                  </div>
              </td>
            </tr>
            <tr>
                <td>{TXT_SHOP_PAYMILL_TEST_ACCOUNT}</td>
            </tr>
            <tr>
                <td class="table" style="width:100%">
                    <div class="table-row">
                        <div style="width:20%" class="table-cell">{TXT_SHOP_PAYMILL_PRIVATE_KEY}</div>
                        <div style="width:80%" class="table-cell">
                            <input type="text" name="paymill_test_private_key" value="{SHOP_PAYMILL_TEST_PRIVATE_KEY}" style="width: 270px;" maxlength="254" style="margin-bottom:1px;" />
                        </div>
                    </div>
                    <div class="table-row">
                        <div style="width:20%" class="table-cell">{TXT_SHOP_PAYMILL_PUBLIC_KEY}</div>
                        <div style="width:80%" class="table-cell">
                            <input type="text" name="paymill_test_public_key" value="{SHOP_PAYMILL_TEST_PUBLIC_KEY}" style="width: 270px;" maxlength="254" style="margin-bottom:1px;" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{TXT_SHOP_PAYMILL_LIVE_ACCOUNT}</td>
            </tr>
            <tr>
                <td class="table" style="width:100%">
                    <div class="table-row">
                        <div style="width:20%" class="table-cell">{TXT_SHOP_PAYMILL_PRIVATE_KEY}</div>
                        <div style="width:80%" class="table-cell">
                            <input type="text" name="paymill_live_private_key" value="{SHOP_PAYMILL_LIVE_PRIVATE_KEY}" style="width: 270px;" maxlength="254" style="margin-bottom:1px;" />
                        </div>
                    </div>
                    <div class="table-row">
                        <div style="width:20%" class="table-cell">{TXT_SHOP_PAYMILL_PUBLIC_KEY}</div>
                        <div style="width:80%" class="table-cell">
                            <input type="text" name="paymill_live_public_key" value="{SHOP_PAYMILL_LIVE_PUBLIC_KEY}" style="width: 270px;" maxlength="254" style="margin-bottom:1px;" />
                        </div>
                    </div>
                </td>
            </tr>
          </table>
        </div>
      </td>
      <td class="a_center">
        <input type="checkbox" name="paymill_active" value="1" {SHOP_PAYMILL_STATUS} />
      </td>
    </tr>
  </table>
  <br />
  <input type="submit" name="bpayment" value="{TXT_STORE}" />
</div>
<!-- end content3 div -->

</form>
<!-- end module_shop_settings_payment.html -->
