<div id="subnavbar_level2">
    <ul>
        <li><a class="{NEWSLETTER_DISPATCH_ACTIVE}" href="index.php?cmd=Newsletter&amp;act=Settings&amp;tpl=Dispatch" title="{TXT_NEWSLETTER_GENERAL}">{TXT_NEWSLETTER_GENERAL}</a></li>
        <li><a class="{NEWSLETTER_TEMPLATES_ACTIVE}" href="index.php?cmd=Newsletter&amp;act=Settings&amp;tpl=Templates" title="{TXT_NEWSLETTER_TEMPLATES}">{TXT_NEWSLETTER_TEMPLATES}</a></li>
        <li><a class="{NEWSLETTER_INTERFACE_ACTIVE}" href="index.php?cmd=Newsletter&amp;act=Settings&amp;tpl=Interface" title="{TXT_NEWSLETTER_INTERFACE}">{TXT_NEWSLETTER_INTERFACE}</a></li>
        <li><a class="{NEWSLETTER_CONFIGHTML_ACTIVE}" href="index.php?cmd=Newsletter&amp;act=Settings&amp;tpl=Confightml" title="{TXT_GENERATE_HTML}">{TXT_GENERATE_HTML}</a></li>
        <li><a class="{NEWSLETTER_EMAILTEMPLATES_ACTIVE}" href="index.php?cmd=Newsletter&amp;act=Settings&amp;tpl=EmailTemplates" title="{TXT_NEWSLETTER_EMAIL_TEMPLATES}">{TXT_NEWSLETTER_EMAIL_TEMPLATES}</a></li>
    </ul>
</div>
<br />
{NEWSLETTER_SETTINGS_FILE}
