<!-- START module_newsletter_templates.html -->
<script language="JavaScript" type="text/javascript">
// <![CDATA[
    function newsletterDeleteTpl(tplId, tplName)
    {
        strConfirm = '{TXT_NEWSLETTER_CONFIRM_DELETE_TEMPLATE}';
        if(confirm(strConfirm.replace('%s', tplName)+'\n{TXT_NEWSLETTER_CANNOT_UNDO_OPERATION}'))
            window.location.href = "index.php?cmd=Newsletter&{CSRF_PARAM}&act=Settings&tpl=Tpldel&id="+tplId;
    }
// ]]>
</script>
<br />
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
    <tr>
        <th colspan="5">{TXT_NEWSLETTER_TEMPLATES}</th>
    </tr>
    <tr class="row3">
        <td width="1%" valign="top"><b>{TXT_NEWSLETTER_ID_UC}</b></td>
        <td width="20%" valign="top"><b>{TXT_NEWSLETTER_NAME}</b></td>
        <td width="40%"><b>{TXT_NEWSLETTER_DESCRIPTION}</b></td>
        <td width="40%"><b>{TXT_NEWSLETTER_TYPE}</b></td>
        <td style="text-align:right;"><b>{TXT_NEWSLETTER_FUNCTIONS}</b></td>
    </tr>
    <!-- BEGIN templates_row -->
        <tr class="{NEWSLETTER_TEMPLATE_ROW_CLASS}">
            <td width="1%" style="vertical-align:top;">{NEWSLETTER_TEMPLATE_ID}</td>
            <td style="vertical-align:top; white-space:nowrap;">{NEWSLETTER_TEMPLATE_NAME}</td>
            <td>{NEWSLETTER_TEMPLATE_DESCRIPTION}</td>
            <td>{NEWSLETTER_TEMPLATE_TYPE}</td>
            <td style="vertical-align:top; text-align:right; white-space:nowrap;">
                <a href="index.php?cmd=Newsletter&amp;act=Settings&amp;tpl=Tpledit&amp;id={NEWSLETTER_TEMPLATE_ID}" title="{TXT_NEWSLETTER_MODIFY_TEMPLATE}" style="float: right;"><img src="/core/Core/View/Media/icons/edit.gif" width="16" height="16" alt="{TXT_NEWSLETTER_MODIFY_TEMPLATE}" border="0" /></a>
                <!-- BEGIN newsletter_template_delete -->
                    <a href="javascript:void(0);" onclick="newsletterDeleteTpl('{NEWSLETTER_TEMPLATE_ID}', '{NEWSLETTER_TEMPLATE_NAME_JS}')" title="{TXT_NEWSLETTER_DELETE_TEMPLATE}"><img src="/core/Core/View/Media/icons/delete.gif" width="17" height="17" alt="{TXT_NEWSLETTER_DELETE_TEMPLATE}" border="0" /></a>
                <!-- END newsletter_template_delete -->
                <!-- BEGIN newsletter_templalte_spacer -->
                    <img src="/core/Core/View/Media/icons/pixel.gif" alt="blank" width="17" height="17" />
                <!-- END newsletter_templalte_spacer -->
            </td>
        </tr>
    <!-- END templates_row -->
</table>
<br />
<input type="button" name="newsletter_add_tpl" onclick="window.location.href='index.php?cmd=Newsletter&{CSRF_PARAM}&amp;act=Settings&amp;tpl=Tpledit'" value="{TXT_TEMPLATE_ADD_NEW_TEMPLATE}" />
<!-- END module_newsletter_templates.html -->
