{CALENDAR_JAVASCRIPT}
<form name="calendarSearch" method="get" action="index.php">
    <input type="hidden" value="{CALENDAR_MODULE_NAME}" name="section" /> <input type="hidden" value="category" name="cmd" />
    <p>
        <label>{TXT_CALENDAR_CATEGORY}</label>
        <select class="form-control" onchange="document.calendarSearch.submit();" name="catid">{CALENDAR_SEARCH_CATEGORIES}</select>
    </p>
</form>
<br />
<!-- BEGIN categoryList -->
<div style="width: 100%; float: left; height: auto !important;">
    <h2>{CALENDAR_CATEGORY_NAME}</h2>
    <table>
        <tbody>
            <tr>
                <th>Wann</th>
                <th>Anlass</th>
                <th>Wo</th>
            </tr>
            <!-- BEGIN eventList -->
            <tr class="{CALENDAR_EVENT_ROW}">
                <td class="cal-sml-col">
                    <!-- BEGIN calendarDateList -->
                    {CALENDAR_DATE_LIST}{CALENDAR_SEP_DATE_TIME_LIST}{CALENDAR_TIME_LIST}{TXT_CALENDAR_CLOCK_LIST}
                    <!-- END calendarDateList -->
                </td>
                <td class="cal-lag-col">
                    <!-- BEGIN event_detail_view --><a href="{CALENDAR_EVENT_DETAIL_LINK}" target="{CALENDAR_EVENT_DETAIL_TARGET}">{CALENDAR_EVENT_TITLE}</a><!-- END event_detail_view -->
                    <!-- BEGIN event_no_detail_view -->{CALENDAR_EVENT_TITLE}<!-- END event_no_detail_view -->
                </td>
                <td class="cal-lag-col">{CALENDAR_EVENT_PLACE}</td>
            </tr>
            <!-- END eventList -->           
            <!-- BEGIN emptyEventList -->
            <tr class="{CALENDAR_EVENT_ROW}">
                <td colspan="3"><i>{TXT_CALENDAR_NO_EVENTS}</i></td>
            </tr>
            <!-- END emptyEventList -->
        </tbody>
    </table>
    <br />
</div>
<!-- END categoryList -->
