{CALENDAR_JAVASCRIPT}
<form role="form" action="index.php" method="get" name="calendarSearch" >
    <input name="section" value="{CALENDAR_MODULE_NAME}" type="hidden"/>
    <input name="cmd" value="list" type="hidden"/>
    <p><label>{TXT_CALENDAR_CATEGORY}</label>
        <select class="form-control" name="catid" onchange="document.calendarSearch.submit();">{CALENDAR_SEARCH_CATEGORIES}</select></p>
</form>
<br />
<table>
    <tbody> 
        <tr>
            <td><h2>Wann</h2></td>
            <td><h2>Anlass</h2></td>
            <td><h2>Wo</h2></td>
        </tr>
        <!-- BEGIN eventList -->
        <tr>
            <td class="cal-sml-col">
                <!-- BEGIN calendarDateList -->
                {CALENDAR_DATE_LIST}{CALENDAR_SEP_DATE_TIME_LIST}{CALENDAR_TIME_LIST}{TXT_CALENDAR_CLOCK_LIST}
                <!-- END calendarDateList -->
            </td>
            <td class="cal-lag-col">
                <!-- BEGIN event_detail_view --><a href="{CALENDAR_EVENT_DETAIL_LINK}" target="{CALENDAR_EVENT_DETAIL_TARGET}">{CALENDAR_EVENT_TITLE}</a><!-- END event_detail_view -->
                <!-- BEGIN event_no_detail_view -->{CALENDAR_EVENT_TITLE}<!-- END event_no_detail_view -->
            </td>
            <td class="cal-lag-col">{CALENDAR_EVENT_PLACE}</td>
        </tr>
        <!-- END eventList -->  
        <!-- BEGIN emptyEventList -->
        <tr>
            <td colspan="3"><i>{TXT_CALENDAR_NO_EVENTS}</i></td>
        </tr>    
        <!-- END emptyEventList -->
    </tbody>
</table>
<br />
{CALENDAR_PAGING}
