{EGOV_JS}
<div id="egov">
    <h2>{EGOV_PRODUCT_TITLE}</h2>
    <div class="text-danger">Bitte &uuml;berpr&uuml;fen Sie ihre Eingabe!</div>
    {EGOV_PRODUCT_DESC}
    <h3>Kosten: CHF {EGOV_PRODUCT_PRICE}</h3>
    {EGOV_FORM}
</div>