<!-- START module_mediadir_manage_comments.html -->
<script language="JavaScript" type="text/javascript">
// <![CDATA[

function deleteComment(commentId, entryId)
{
    if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd={MODULE_NAME}&act=delete_comment&id="+entryId+"&cid="+commentId);
    }
}


function commentsAreChecked(fieldName, objForm)
{
    x = 0;
    for (i = 0; i < objForm.elements.length; ++i) {
        e = objForm.elements[i];
        if (e.name == fieldName && e.checked == true) return true;
    }
    return false;
}

function commentsDoAction(formId, objSelect, entryId)
{
    objForm = document.getElementById(formId);

    if (commentsAreChecked("commentsFormSelected[]", objForm) == true) {
        switch(objSelect.value) {
            case "delete_comment":
                if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
                    actionValue = "index.php?cmd={MODULE_NAME}&act=delete_comment&id="+entryId;
              }
                break
        }

        if(actionValue != '') {
            objForm.action = actionValue;
            objForm.submit();
        }
    } else {
        alert("{TXT_MEDIADIR_MAKE_SELECTION}");
    }

    objSelect.value = "0";
}

// ]]>
</script>
<form id="manageCommentsForm" action="index.php?cmd={MODULE_NAME}&act=comments" method="post">
<table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
    <tr>
        <th colspan="9">{TXT_MEDIADIR_PAGE_TITLE}</th>
    </tr>
    <tr class="row3">
        <td width="1%" style="text-align: center;"><strong>#</strong></td>
        <td width="15%" nowrap="nowrap"><strong>{TXT_MEDIADIR_NAME}</strong></td>
        <td width="44%" nowrap="nowrap"><strong>{TXT_MEDIADIR_COMMENT}</strong></td>
        <td width="16%" nowrap="nowrap"><strong>{TXT_MEDIADIR_DATE}</strong></td>
        <td width="13%" nowrap="nowrap"><strong>{TXT_MEDIADIR_ADDED_BY}</strong></td>
        <td width="10%" nowrap="nowrap"><strong>{TXT_MEDIADIR_IP}</strong></td>
        <td width="1%"  nowrap="nowrap"><strong>{TXT_MEDIADIR_ACTION}</strong></td>
    </tr>
    <!-- BEGIN mediadirEntryComments -->
        <tr class="{MEDIADIR_ENTRY_COMMENT_ROW_CLASS}">
            <td valign="top"><input type="checkbox" name="commentsFormSelected[]" value="{MEDIADIR_ENTRY_COMMENT_ID}" />
            <td nowrap="nowrap" valign="top">{MEDIADIR_ENTRY_COMMENT_NAME}</td>
            <td valign="top">{MEDIADIR_ENTRY_COMMENT_COMMENT}</td>
            <td valign="top" nowrap="nowrap">{MEDIADIR_ENTRY_COMMENT_DATE}</td>
            <td valign="top">{MEDIADIR_ENTRY_COMMENT_ADDED_BY}</td>
            <td valign="top">{MEDIADIR_ENTRY_COMMENT_IP}</td>
            <td valign="top" style="text-align: right;" nowrap="nowrap">
                <a href="javascript:deleteComment('{MEDIADIR_ENTRY_COMMENT_ID}', '{MEDIADIR_ENTRY_COMMENT_ENTRY_ID}');" title="{MEDIADIR_ENTRY_COMMENT_NAME} {TXT_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{MEDIADIR_ENTRY_NAME} {TXT_DELETE}" title="{MEDIADIR_ENTRY_COMMENT_NAME} {TXT_DELETE}" /></a>
            </td>
        </tr>
    <!-- END mediadirEntryComments -->
</table>
<table border="0" cellpadding="3" cellspacing="0" width="100%">
    <tr>
        <td valign="top">
        <img src="/core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" alt="" />
        <a href="javascript:{void(0)};" onclick="changeCheckboxes('manageCommentsForm','commentsFormSelected[]',true); return false;">{TXT_SELECT_ALL}</a> / <a href="javascript:{void(0)};" onclick="changeCheckboxes('manageCommentsForm','commentsFormSelected[]',false); return false;">{TXT_DESELECT_ALL}</a>
        <img src="/core/Core/View/Media/icons/strike.gif" width="34" height="22" alt="strike" />
        <select name="selectAction" onchange="commentsDoAction('manageCommentsForm', this, '{MEDIADIR_ENTRY_ID}');">
            <option value="0" selected="selected">{TXT_SELECT_ACTION}</option>
            <option value="delete_comment">{TXT_DELETE_ALL}</option>
        </select>
        </td>
    </tr>
</table>
<br />
</form>
<!-- END module_mediadir_manage_comments.html -->
