html {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    color: #444444;
}

body {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    margin: 0;
}


/* layout */
#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 53px;
    background-color: #0071bc;
}

#header .logo {
    position: absolute;
    left: 12px;
    top: 14px;
    width: 145px;
    height: 25px;
    background: url(../images/design/contrexx_logo.png) no-repeat;
    outline: 0;
}

#container {
    float: none;
    width: 552px;
    margin: 0 auto;
}

#wrapper {
    position: relative;
    float: left;
    width: 520px;
    height: auto;
    min-height: 419px;
    padding: 15px 15px 66px 15px;
    border: 1px solid #e8e8e8;
    margin: 153px 0 124px 0;
}

#wrapper-bottom-left,
#wrapper-bottom-right {
    position: absolute;
    float: left;
    width: auto;
}

#wrapper-bottom-left *,
#wrapper-bottom-right * {
    margin: 0;
}

#wrapper-bottom-left {
    left: 15px;
    bottom: 15px;
}

#wrapper-bottom-right {
    right: 15px;
    bottom: 15px;
}

#wrapper-content {
    float: left;
    width: 100%;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 24px;
    background-color: #0071bc;
}

#footer a {
    position: absolute;
    left: 12px;
    top: 5px;
    width: auto;
    font-size: 11px;
    color: #ffffff;
    outline: 0;
}

#footer a:hover,
#footer a:focus {
    background: transparent;
}


/* text */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

h1 {
    padding: 15px 0 8px 0;
    font-size: 24px;
}

h2 {
    padding: 14px 0 6px 0;
    font-size: 18px;
}

h3, h4, h5, h6 {
    padding: 13px 0 4px 0;
    font-size: 13px;
    font-weight: bold;
}

h1.first {
    padding: 0 0 15px 0;
}


h1.no-space-top, h2.no-space-top, h3.no-space-top, h4.no-space-top, h5.no-space-top, h6.no-space-top {
    padding-top: 0;
}

h1.no-space-bottom, h2.no-space-bottom, h3.no-space-bottom, h4.no-space-bottom, h5.no-space-bottom, h6.no-space-bottom {
    padding-bottom: 0;
}

ul {
    padding: 0 0 5px 20px;
    margin: 0;
}

a,
a:link,
a:visited {
    color: #1a74bd;
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    color: #0b4c7a;
    cursor: pointer;
}

textarea,
input,
object,
select {
    padding: 1px;
    border: 1px solid #bbbbbb;
    margin: 0;
    font-size: 12px;
    color: #444444;
}
input[type=text],
input[type=password] {
    width: 200px;
}
select {
    width: 204px;
}
input[type=radio],
input[type=checkbox] {
    width: 13px;
    height: 13px;
    border: 0;
    margin: 0 3px 0 0;
}
input[type=button],
input[type=reset],
input[type=submit],
a.button {
    border: 1px solid #BBBBBB;
    color: #444444;
    padding: 2px 10px;
    margin-bottom: 2px;
    background: #dadada url(../images/design/button.png) repeat-x scroll left top;
    text-shadow: 1px 1px #FFFFFF;
}
*+html input[type=button],
*+html input[type=reset],
*+html input[type=submit],
*+html a.button {
    overflow: visible;
    filter: chroma(color=#000000);
}

table,
table tbody,
table tr,
table th,
table td {
    float: none;
    width: 100%;
    height: auto;
    background: transparent;
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    vertical-align: top;
    text-align: left;
    empty-cells: show;
    border-collapse: collapse;
}
table.adminlist {
    background: #ffffff;
}
table.adminlist th {
    height: 25px;
    line-height: 25px;
    background: #0071bc;
    padding: 0 5px;
    font-weight: bold;
    color: #ffffff;
}
table.adminlist th a {
    color: #ffffff;
}
table.adminlist th a:hover,
table.adminlist th a:focus,
table.adminlist th a:active {
    color: #ececec;
}
table.adminlist td {
    height: auto;
    min-height: 20px;
    line-height: 20px;
    padding: 3px 3px 2px 3px;
    border-bottom: #e5e5e5 1px solid;
    vertical-align: center;
}


/* messages */
.message-alert {
    margin: 10px 0 10px 0;
    background: #f2dede;
    padding: 8px;
    color: #b94a48;
}
.message-warning {
    margin: 10px 0 10px 0;
    background: #fEf0d0;
    padding: 8px;
    color: #DA7A0A;
}
.message-success {
    margin: 10px 0 10px 0;
    background: #dff0d8;
    padding: 8px;
    color: #39950c;
}
.message-info {
    margin: 10px 0 10px 0;
    background: #d9edf7;
    padding: 8px;
    color: #3a87ad;
}

.successful {
    color: #008000;
    font-weight: bold;
}
.failed {
    color: #ff0000;
    font-weight: bold;
}
.warning {
    color: #E59400;
    font-weight: bold;
}

#debug_message {
    display: none;
}

.list,
.list ul {
    padding: 0 0 10px 20px;
    margin: 0;
}

.list ul {
    padding-bottom: 0;
}

.td-status {
    float: left;
    width: 200px;
    padding-right: 10px !important;
    text-align: right;
}

.content-migration-dialog {
    top: 20px !important;
}

.content-migration-dialog .ui-dialog-titlebar-close {
    display: none;
}

.page-grouping-title {
    float: left;
    width: 965px;
    padding: 5px 0 7px 20px;
    margin: 0 0 3px 0;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px solid #DDDDDD;
    background: url(../images/icons/folding-icons.png) no-repeat 5px -1px;
}

.page-grouping-title.open {
    background-position: 5px -20px;
}

.page-grouping-info {
    float: left;
    width: 985px;
    margin: 5px 0 10px 0;
}

.page-grouping-info a {
    color: #0071bc !important;
}

.page-grouping-h3 {
    padding: 7px 0 5px 0;
}

.page-grouping-languages-scroll {
    float: left;
    width: 980px;
    margin: 0 0 10px 0;
    overflow-x: auto;
}

.page-grouping-languages-wrapper,
.page-grouping-language {
    float: left;
}

.page-grouping-pages-scroll {
    float: left;
    width: 320px;
    max-height: 250px;
    margin: 0 10px 10px 0;
    overflow-y: auto;
}

.page-grouping-pages-border {
    position: relative;
    float: left;
    width: 272px;
    padding: 10px;
    margin: 0 10px 0 0;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    background: #FCFCFC;
}

.page-grouping-button,
.page-option-button {
    padding: 2px 10px 2px 10px;
    margin: 0 0 5px 0;
    color: #0071bc;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.6;
    cursor: pointer;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    background: #F6F6F6 url(../images/content/bg-grey-inactive.png) 50% 50% repeat-x;
}

.page-grouping-button.disabled {
    cursor: default;
    color: #888888;
    background: none;
}

.page-grouping-button:hover,
.page-option-button:hover {
    color: #FFFFFF;
    border: 1px solid #0071bc;
    background: #0071bc url(../images/content/bg-blue-hover.png) 50% 50% repeat-x;
}

.page-grouping-button.disabled:hover,
.page-grouping-button.disabled:active {
    color: #888888;
    border: 1px solid #DDDDDD;
    background: none;
}

.page-grouping-button:active {
    color: #85BE0B;
    border: 1px solid #DDDDDD;
    background: #FFFFFF url(../images/content/bg-grey-active.png) 50% 50% repeat-x;
}

.page-grouping-button.active {
    color: #FFFFFF;
    border: 1px solid #85BE0B;
    background: #FFFFFF url(../images/content/bg-green-active.png) 50% 50% repeat-x;
}

.page-grouping-buttons,
.page-option-buttons {
    float: left;
    margin: 0 10px 10px 0;
}

.page-grouping-button-group,
.page-grouping-button-delete,
.page-option-button-import,
.page-option-button-export {
    float: left;
    padding: 5px 12px 5px 12px;
    margin: 0 10px 0 0;
}

.page-grouping-show-removed-pages-wrapper {
    position: relative;
    float: left;
}

.page-grouping-show-removed-pages {
    display: none;
    z-index: 1;
    position: absolute;
    width:  380px;
    height: 20px;
    padding: 4px 0 6px 20px;
    line-height: 1.6;
    cursor: pointer;
    background: url(../images/icons/folding-icons.png) no-repeat 5px 0;
}

.page-grouping-show-removed-pages.open {
    background-position: 5px -19px;
}

.page-grouping-removed-pages {
    display: none;
    z-index: 2;
    overflow-y: auto;
    position: absolute;
    top: 30px;
    left: 0;
    width: 380px;
    max-height: 250px;
    padding: 10px;
    cursor: default;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    background: #FCFCFC;
}

.page-grouping-removed-page {
    position: relative;
    padding: 2px 10px 2px 30px;
    margin: 0 0 5px 0;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
}

.page-grouping-removed-page-restore {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: url(../images/icons/restore.png) no-repeat;
}

.page-grouping-removed-page-restore:hover {
    background-image: url(../images/icons/restore-active.png);
}

.page-grouping-grouped-scroll-x,
.page-grouping-options {
    display: none;
    float: left;
    width: 980px;
    margin: 10px 0 10px 0;
    overflow-x: auto;
}

.page-grouping-grouped-scroll-y {
    float: left;
    max-height: 250px;
    margin: 0 0 10px 0;
    overflow-y: auto;
}

.page-grouping-grouped-border {
    position: relative;
    float: left;
    width: 579px;
    padding: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    background: #FCFCFC;
}

.page-grouping-grouped-node {
    float: left;
    padding: 2px 0 2px 0;
    margin: 0 0 5px 0;
    line-height: 1.6;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
}

.page-grouping-grouped-page {
    float: left;
}

.page-grouping-grouped-page.no-page {
    color: #FF0000;
}

.page-grouping-ungroup {
    float: left;
    width: 24px;
    color: #999999;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 0.9;
    cursor: pointer;
}

.page-grouping-ungroup:hover {
    color: #555555;
}

.hide,
.grouped,
.removed,
.inactive-language {
    display: none;
}

#pageGroupFromUserInput {
    width: 95%;
    height: 95%;
}

.inserted {
    background: #CCFF99;
}

/* icons */
.icon-info {
    float: none;
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../images/icons/info.png) no-repeat left center;
}
.icon-warning {
    float: none;
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../images/icons/warning.png) no-repeat left center;
}

/* jquery tools tooltip */
.tooltip-message {
    display: none;
    float: left;
    background: #d9edf7;
    width: auto;
    max-width: 250px;
    padding: 3px;
    border: #3f91b9 1px solid;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.3;
    white-space: normal;
    z-index: 9999;
    color: #25556d;
}
.processStatusBar {
    background-color: #0873bb;
    display: block;
    height: 13px;
    position: relative;
    top: -13px;
}

.code {
    display: block;
    font-family: monospace;
    margin: 10px 0;
    padding: 10px;
    background-color: #ddd;
    color: #000;
    overflow-x: scroll;
    white-space: pre;
}

ul.tab {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.3s;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    color: #000;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
