<select class="registration-date-filter" style="font-weight: bold;font-size: 12px;">
    <option value="">{TXT_CALENDAR_DATE}</option>
    <!-- BEGIN calendar_registration_date -->
    <option value="{CALENDAR_REGISTRATION_FILTER_DATE_KEY}" {CALENDAR_REGISTRATION_FILTER_DATE_SELECTED}>{CALENDAR_REGISTRATION_FILTER_DATE_INTENT} {CALENDAR_REGISTRATION_FILTER_DATE_NAME}</option>
    <!-- END calendar_registration_date -->
</select>