<div id="shop">
    <!-- BEGIN core_message -->
    <div class="{MESSAGE_CLASS}">{MESSAGE_TEXT}</div>
    <!-- END core_message -->
    <!-- BEGIN shopCart -->
    <form action="index.php?section=Shop&amp;cmd=cart" name="shopForm" method="post">
        <div class="table-responsive">
            <table class="table" summary="" cellspacing="0">
                <tr valign="top" id="th_bg">
                    <th width="50%">{TXT_PRODUCT}</th>
                    <th width="12%">{TXT_UNIT_PRICE}</th>
                    <th width="12%">{TXT_QUANTITY}</th>
                    <th width="12%" class="a_right">{TXT_TOTAL}</th>
                </tr>
                <!-- BEGIN shopCartRow -->
                <tr valign="top" class="{SHOP_PRODUCT_ROW}">
                    <td>
                        <a href="index.php?section=Shop&amp;cmd=details&amp;referer=cart&amp;productId={SHOP_PRODUCT_CART_ID}">
                            {SHOP_PRODUCT_TITLE}
                        </a><!-- BEGIN attributes -->
                        <br />{SHOP_PRODUCT_OPTIONS}
                        <!-- END attributes --><!-- BEGIN minimumOrderQuantity -->
                        <br />{TXT_SHOP_MINIMUM_ORDER_QUANTITY}: {SHOP_PRODUCT_MINIMUM_ORDER_QUANTITY}
                        <!-- END minimumOrderQuantity -->
                    </td>
                    <td>
                        {SHOP_PRODUCT_ITEMPRICE}&nbsp;{SHOP_PRODUCT_ITEMPRICE_UNIT}
                    </td>
                    <td>
                        <a class="delete-icon" href="#" title="{TXT_SHOP_REMOVE_ITEM}" onclick="deleteProduct({SHOP_PRODUCT_CART_ID});
                                return false;">
                            <img style="height: 18px;" alt="{TXT_SHOP_REMOVE_ITEM}" src="./modules/Shop/View/Media/trash.png" />
                        </a>
                        <input type="text" name="quantity[{SHOP_PRODUCT_CART_ID}]" value="{SHOP_PRODUCT_QUANTITY}" id="quantity-{SHOP_PRODUCT_CART_ID}" class="shop_quantity" />
                    </td>
                    <td class="a_right">
                        {SHOP_PRODUCT_SALE_PRICE}&nbsp;{SHOP_PRODUCT_PRICE_UNIT}
                    </td>
                </tr>
                <!-- END shopCartRow -->
                <tr valign="top" class="row3 active">
                    <td colspan="3">{TXT_TOTALLY_GOODS}</td>
                    <td class="a_right">
                        {SHOP_PRODUCT_TOTAL_GOODS}&nbsp;{SHOP_PRICE_UNIT}
                    </td>
                </tr>
                <!-- BEGIN shopCouponTotal -->
                <tr valign="top" class="row3 active">
                    <td colspan="3">{SHOP_DISCOUNT_COUPON_TOTAL}</td>
                    <td class="a_right">
                        {SHOP_DISCOUNT_COUPON_TOTAL_AMOUNT}&nbsp;{SHOP_PRICE_UNIT}
                    </td>
                </tr>
                <!-- END shopCouponTotal -->
                <!-- BEGIN shopVatExcl -->
                <tr class="row1">
                    <td colspan="3" valign="top">
                        {TXT_TAX_PREFIX}
                    </td>
                    <td valign="top" nowrap="nowrap" class="a_right">
                        {SHOP_TOTAL_TAX_AMOUNT}
                    </td>
                </tr>
                <!-- END shopVatExcl -->
                <tr class="row3 active">
                    <td colspan="3" valign="top">
                        <strong>{TXT_INTER_TOTAL}</strong>
                    </td>
                    <td valign="top" nowrap="nowrap" class="a_right">
                        <strong>{SHOP_PRODUCT_TOTALPRICE_PLUS_VAT} {SHOP_PRODUCT_TOTALPRICE_UNIT}</strong>
                    </td>
                </tr>
                <!-- BEGIN shopVatIncl -->
                <tr class="row1">
                    <td colspan="3" valign="top">
                        {TXT_TAX_PREFIX}
                    </td>
                    <td valign="top" nowrap="nowrap" class="a_right">
                        {SHOP_TOTAL_TAX_AMOUNT}
                    </td>
                </tr>
                <!-- END shopVatIncl -->
                <!-- BEGIN shopCoupon -->
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr class="row3 active">
                    <td>
                        {TXT_SHOP_DISCOUNT_COUPON_CODE}
                    </td>
                    <td colspan="3" class="a_right">
                        <input type="text" maxlength="20" name="coupon_code" value="{SHOP_DISCOUNT_COUPON_CODE}" class="shop_cart_input" onchange="document.forms['shopForm'].submit();" />
                    </td>
                </tr>
                <!-- END shopCoupon -->
                <!-- BEGIN shopShippingCountry -->
                <tr class="row3 active">
                    <td valign="top">
                        <label>{TXT_SHIP_COUNTRY}</label>
                    </td>
                    <td colspan="3" valign="top" class="a_right">
                        <select class="form-control" name="countryId2" class="shop_cart_input" onchange="document.forms['shopForm'].submit()">
                            {SHOP_COUNTRIES_MENUOPTIONS}
                        </select>
                    </td>
                </tr>
                <!-- END shopShippingCountry -->
            </table>
        </div>
        <div class="cart-buttons">
            <input class="btn btn-default" type="submit" name="update" value="{TXT_UPDATE}" />
            <!-- BEGIN continue -->
                <input class="btn btn-default" type="submit" name="continue" class="continue-button" value="{TXT_NEXT} &gt;&gt;" />
            <!-- END continue -->
        </div>
    </form>
    <!-- END shopCart -->
    <div class="cart-links">
        <a href="index.php?section=Shop" title="{TXT_CONTINUE_SHOPPING}">{TXT_CONTINUE_SHOPPING}</a><br />
        <a href="index.php?section=Shop&amp;act=destroy" title="{TXT_EMPTY_CART}">{TXT_EMPTY_CART}</a>
    </div>
</div>
