<h2 class="page-grouping-title open">Anleitung</h2>
<div class="page-grouping-info">
    Eine der gr&ouml;ssten und meisterwarteten Neuerungen in Cloudrexx ist die <a href="https://www.cloudrexx.com/mehrsprachigkeit" target="_blank">Korrespondierende Mehrsprachigkeit</a>.<br />
    Ihre Website ist mehrsprachig gef&uuml;hrt. Ihre Startseite existiert beispielsweise in doppelter Ausf&uuml;hrung: In Deutsch und in Englisch.<br />
    In diesem Schritt geht es darum, die Seiten mit demselben Inhalt in den verschiedenen Sprachen zu verkn&uuml;pfen.<br >    Markieren Sie hierzu aus jeder Sprache die entsprechende Seite, damit das System diese zu einer einzigen Seite mit mehreren &Uuml;bersetzungen verkn&uuml;pfen kann.<br />
    Im obigen Beispiel: Markieren Sie die deutsche Startseite sowie die Englische und klicken Sie auf „Markierte Seiten verkn&uuml;pfen“.<br />
    Sofern eine Seite nur in einer Sprache existiert, m&uuml;ssen Sie diese nicht verkn&uuml;pfen.<br />
    Falls Sie eine Seite nicht mehr ben&ouml;tigen, markieren Sie diese und klicken Sie auf „Markierte Seiten l&ouml;schen“.<br />
    Klicken Sie auf "Seitenstruktur &uuml;bernehmen", sobald Sie alle gew&uuml;nschten Seiten verkn&uuml;pft haben.
</div>

<h2 class="page-grouping-title open">Zu verkn&uumlpfende Seiten</h2>
<div class="page-grouping-ungrouped">
    <div class="page-grouping-languages-scroll">
        <div class="page-grouping-languages-wrapper" style="{LANGUAGE_WRAPPER_WIDTH}">
            <!-- BEGIN language -->
            <div class="page-grouping-language" data-lang="{LANG_SHORT}">
                <h3 class="page-grouping-h3">{LANG_FULL}</h3>
                <div class="page-grouping-pages-scroll">
                    <div class="page-grouping-pages-border">
                        <!-- BEGIN page -->
                        <div class="page-grouping-page page-grouping-button {GROUPED}" data-id="{ID}" data-node="{NODE}" data-lang="{LANG}" data-level="{LEVEL}" data-sort="{SORT}" style="{MARGIN}">
                            {TITLE}
                        </div>
                        <!-- END page -->
                    </div>
                </div>
            </div>
            <!-- END language -->
        </div>
    </div>

    <div class="page-grouping-buttons">
        <div class="page-grouping-button-group page-grouping-button disabled">Markierte Seiten verkn&uuml;pfen</div>
        <div class="page-grouping-button-delete page-grouping-button disabled">Markierte Seiten l&ouml;schen</div>

        <input type="hidden" name="doGroup" id="doGroup" value="0" />
        <input type="hidden" name="pgUsername" id="pgUsername" value="{USERNAME}" />
        <input type="hidden" name="pgPassword" id="pgPassword" value="{PASSWORD}" />
        <input type="hidden" name="pgCmsVersion" id="pgCmsVersion" value="{CMS_VERSION}" />
        <input type="hidden" name="pgMigrateLangIds" id="pgMigrateLangIds" value="{MIGRATE_LANG_IDS}" />
        <input type="hidden" name="similarPages" id="similarPages" value="" />
        <input type="hidden" name="removePages" id="removePages" value="" />
    </div>

    <div class="page-grouping-show-removed-pages-wrapper">
        <div class="page-grouping-show-removed-pages">
            Gel&ouml;schte Seiten
            <div class="page-grouping-removed-pages"></div>
        </div>
    </div>
</div>

<h2 class="page-grouping-title">Verkn&uuml;pfte Seiten</h2>
<div class="page-grouping-grouped-scroll-x">
    <div class="page-grouping-grouped-scroll-y" style="{GROUPED_SCROLL_WIDTH}">
        <div class="page-grouping-grouped-border" style="{GROUPED_BORDER_WIDTH}">
            <!-- BEGIN groupedNode -->
            <div class="page-grouping-grouped-node" data-id="{ID}" data-level="{LEVEL}" data-sort="{SORT}" style="{STYLE}">
                <div class="page-grouping-ungroup">×</div>
                <!-- BEGIN groupedPage -->
                <div class="page-grouping-grouped-page {CLASS}" {DATA_ID} {DATA_LANG} style="{WIDTH}">{TITLE} ({LANG})</div>
                <!-- END groupedPage -->
            </div>
            <!-- END groupedNode -->
        </div>
    </div>
</div>

<h2 class="page-grouping-title">Erweiterte Funktionen</h2>
<div class="page-grouping-options">
    <div class="page-grouping-buttons">
        <div class="page-option-button-import page-option-button">Gruppierung importieren</div>
        <div class="page-option-button-export page-option-button">Gruppierung exportieren</div>
    </div>
</div>
