<div id="content-process">
    <!-- BEGIN processStatus -->
    <h1 class="first">{UPDATE_PROCESS_TITLE}</h1>

    <table class="adminlist">
        <tr>
            <th>{UPDATE_STATUS_TITLE}</th>
        </tr>
        <tr>
            <td>
                <!-- BEGIN updateProcessError -->
                <div class="message-alert">{UPDATE_ERROR_MSG}</div>
                <!-- END updateProcessError -->
                {UPDATE_STATUS}
            </td>
        </tr>
    </table>
    <!-- END processStatus -->

    <!-- BEGIN dialogContent -->
    <script type="text/javascript">
        cx.ready(function() {
            cx.ui.dialog({
                width:         1020,
                height:        830,
                modal:         true,
                closeOnEscape: false,
                dialogClass:   "content-migration-dialog",
                title:         "Inhaltsseiten gruppieren",
                content:       '{PROCESS_DIALOG_CONTENT}',

                close: function() {
                    executeGrouping();
                },
                buttons: {
                    "Seitenstruktur übernehmen": function() {
                        $J(this).dialog("close");
                    }
                }
            });
        });
    </script>

    <div style="margin: 180px 0 0 155px;">Bitte haben Sie einen Moment Geduld.<br />Das Update wird durchgeführt...<br /><br /><img src="template/contrexx/images/content/loading_animation.gif" width="208" height="13" alt="" /><div class="message-warning" style="width:190px">WICHTIG: Dieses Browserfenster darf während dem Update-Vorgang nicht geschlossen werden!</div></div>
    <!-- END dialogContent -->

    <!-- BEGIN ajaxDialogContent -->
    {PROCESS_DIALOG_CONTENT}
    <!-- END ajaxDialogContent -->

    <!-- BEGIN finish -->
    <h1>{TXT_UPDATE_UPDATE_FINISHED}</h1>
    Gratulation, Ihre Website wurde erfolgreich auf Cloudrexx Download {UPDATE_VERSION_INSTALLED} migriert!<br /><br />
    <h2 class="no-space-bottom">Nächste Schritte</h2>
    <h3>Anpassungen an Anwendungsseiten und dem Design</h3>
    Das Cloudrexx Update System kann benutzerspezifische Anpassungen nur bedingt automatisch migrieren. Daher ist es notwendig, dass nach dem Update einzelne Anpassungen noch manuell getätigt werden müssen.
    Eine Aufstellung, inkl. Anleitung der durchzuführenden Anpassungen finden Sie im Artikel <a href="http://wiki.cloudrexx.com/Version_{UPDATE_VERSION_NUMBER}" target="_blank">Cloudrexx {UPDATE_VERSION_INSTALLED} Update</a> des Cloudrexx Wikis.

    <h3>Lizenz erwerben</h3>
    Weitere Informationen zu den Cloudrexx EULAs entnehmen Sie bitte direkt von der Website des Herstellers der Cloudrexx Software: <a href="http://www.cloudrexx.com/kaufen" target="_blank">http://www.cloudrexx.com/kaufen</a>.

    <h3>Cronjobs</h3>
    Um den vollen Funktionsumfang verwenden zu können ist die einmalige Einrichtung
    eines &quot;Cronjobs&quot; zur zeitbasierten Ausführung von Aufgaben nötig.<br />
    In folgendem Artikel finden Sie eine entsprechende Anleitung: <a href="http://cloudrexx.info/13000055798" target="_blank">Cronjob einrichten</a>

    <h3>Webseite Management System</h3>
    Über folgende Links gelangen Sie zu Ihrer Website:
    <ul>
        <li><a href="{URL_FRONTEND}" target="_blank">Website (Frontend)</a></li>
        <li><a href="{URL_BACKEND}" target="_blank">Administrationskonsole (Backend)</a></li>
    </ul>

        <!-- BEGIN daylight_saving_time -->
        <div class="message-info">
            <h3 style="padding-top:0px;">Daylight Saving Time Hotfix</h3>
            Das System hat während dem Update festgestellt, dass Sie den "Daylight Saving Time Hotfix" noch nicht installiert hatten.<br />
            Folglich bitten wir Sie noch die nachstehenden SQL-Statements in der Datenbank Ihrer Cloudrexx-Installation auszuführen.
            <!-- <ul class="tab">
                <li><a href="javascript:void(0)" class="tablinks" onclick="switchTab(event, 'tab1')">Neue Komponente hinzufügen</a></li>
                <li><a href="javascript:void(0)" class="tablinks" onclick="switchTab(event, 'tab2')">Bestehende Einträge anpassen</a></li>
            </ul> -->
            <!-- <div id="tab1" class="tabcontent">
                <div class="code">INSERT INTO `contrexx_component` (`id`, `name`, `type`) VALUES (112, 'DateTime', 'core');
INSERT INTO `contrexx_modules` (`id`, `name`, `distributor`, `description_variable`, `status`, `is_required`, `is_core`, `is_active`, `is_licensed`) VALUES (112,'DateTime','Cloudrexx AG','TXT_CORE_DATETIME_DESCRIPTION','n',1,1,1,1);</div>
            </div> -->
            <div id="tab2" class="tabcontent" style="border-top:1px solid #ccc; display:block">
                <p>Bitte führen Sie nur die SQL-Statements von einem der nachstehenden Codefelder aus. D.h. entweder die Statements für "während der Winterzeit" oder für "während der Sommerzeit", auf keinen Fall aber beide!</p>
                <p>Die folgenden Abfragen beheben das Problem für im Sommer stattfindende Einträge der nächsten 10 Jahre, die <strong>während der Winterzeit erfasst</strong> wurden:</p>
                <div class="code">UPDATE
    `contrexx_module_calendar_event`
SET
    `startdate` = DATE_SUB(
        `startdate`,
        INTERVAL 1 HOUR
    )
WHERE
        `startdate` BETWEEN '2016-03-27 02:00:00' AND '2016-10-30 03:00:00' OR
        `startdate` BETWEEN '2017-03-26 02:00:00' AND '2017-10-29 03:00:00' OR
        `startdate` BETWEEN '2018-03-25 02:00:00' AND '2018-10-28 03:00:00' OR
        `startdate` BETWEEN '2019-03-31 02:00:00' AND '2019-10-27 03:00:00' OR
        `startdate` BETWEEN '2020-03-29 02:00:00' AND '2020-10-25 03:00:00' OR
        `startdate` BETWEEN '2021-03-28 02:00:00' AND '2021-10-31 03:00:00' OR
        `startdate` BETWEEN '2022-03-27 02:00:00' AND '2022-10-30 03:00:00' OR
        `startdate` BETWEEN '2023-03-26 02:00:00' AND '2023-10-29 03:00:00' OR
        `startdate` BETWEEN '2024-03-31 02:00:00' AND '2024-10-27 03:00:00' OR
        `startdate` BETWEEN '2025-03-30 02:00:00' AND '2025-10-26 03:00:00';
UPDATE
    `contrexx_module_calendar_event`
SET
    `enddate` = DATE_SUB(
        `enddate`,
        INTERVAL 1 HOUR
    )
WHERE
        `enddate` BETWEEN '2016-03-27 02:00:00' AND '2016-10-30 03:00:00' OR
        `enddate` BETWEEN '2017-03-26 02:00:00' AND '2017-10-29 03:00:00' OR
        `enddate` BETWEEN '2018-03-25 02:00:00' AND '2018-10-28 03:00:00' OR
        `enddate` BETWEEN '2019-03-31 02:00:00' AND '2019-10-27 03:00:00' OR
        `enddate` BETWEEN '2020-03-29 02:00:00' AND '2020-10-25 03:00:00' OR
        `enddate` BETWEEN '2021-03-28 02:00:00' AND '2021-10-31 03:00:00' OR
        `enddate` BETWEEN '2022-03-27 02:00:00' AND '2022-10-30 03:00:00' OR
        `enddate` BETWEEN '2023-03-26 02:00:00' AND '2023-10-29 03:00:00' OR
        `enddate` BETWEEN '2024-03-31 02:00:00' AND '2024-10-27 03:00:00' OR
        `enddate` BETWEEN '2025-03-30 02:00:00' AND '2025-10-26 03:00:00';</div>
                <p>Die folgenden Abfragen beheben das Problem für im Winter stattfindende Einträge der nächsten 10 Jahre, die <strong>während der Sommerzeit erfasst</strong> wurden:</p>
                <div class="code">UPDATE
    `contrexx_module_calendar_event`
SET
    `startdate` = DATE_ADD(
        `startdate`,
        INTERVAL 1 HOUR
    )
WHERE
        `startdate` NOT BETWEEN '2015-03-29 02:00:00' AND '2015-10-25 03:00:00' AND
        `startdate` NOT BETWEEN '2016-03-27 02:00:00' AND '2016-10-30 03:00:00' AND
        `startdate` NOT BETWEEN '2017-03-26 02:00:00' AND '2017-10-29 03:00:00' AND
        `startdate` NOT BETWEEN '2018-03-25 02:00:00' AND '2018-10-28 03:00:00' AND
        `startdate` NOT BETWEEN '2019-03-31 02:00:00' AND '2019-10-27 03:00:00' AND
        `startdate` NOT BETWEEN '2020-03-29 02:00:00' AND '2020-10-25 03:00:00' AND
        `startdate` NOT BETWEEN '2021-03-28 02:00:00' AND '2021-10-31 03:00:00' AND
        `startdate` NOT BETWEEN '2022-03-27 02:00:00' AND '2022-10-30 03:00:00' AND
        `startdate` NOT BETWEEN '2023-03-26 02:00:00' AND '2023-10-29 03:00:00' AND
        `startdate` NOT BETWEEN '2024-03-31 02:00:00' AND '2024-10-27 03:00:00' AND
        `startdate` NOT BETWEEN '2025-03-30 02:00:00' AND '2025-10-26 03:00:00' AND
        `startdate` > '2015-03-29 02:00:00';
UPDATE
    `contrexx_module_calendar_event`
SET
    `enddate` = DATE_ADD(
        `enddate`,
        INTERVAL 1 HOUR
    )
WHERE
        `enddate` NOT BETWEEN '2015-03-29 02:00:00' AND '2015-10-25 03:00:00' AND
        `enddate` NOT BETWEEN '2016-03-27 02:00:00' AND '2016-10-30 03:00:00' AND
        `enddate` NOT BETWEEN '2017-03-26 02:00:00' AND '2017-10-29 03:00:00' AND
        `enddate` NOT BETWEEN '2018-03-25 02:00:00' AND '2018-10-28 03:00:00' AND
        `enddate` NOT BETWEEN '2019-03-31 02:00:00' AND '2019-10-27 03:00:00' AND
        `enddate` NOT BETWEEN '2020-03-29 02:00:00' AND '2020-10-25 03:00:00' AND
        `enddate` NOT BETWEEN '2021-03-28 02:00:00' AND '2021-10-31 03:00:00' AND
        `enddate` NOT BETWEEN '2022-03-27 02:00:00' AND '2022-10-30 03:00:00' AND
        `enddate` NOT BETWEEN '2023-03-26 02:00:00' AND '2023-10-29 03:00:00' AND
        `enddate` NOT BETWEEN '2024-03-31 02:00:00' AND '2024-10-27 03:00:00' AND
        `enddate` NOT BETWEEN '2025-03-30 02:00:00' AND '2025-10-26 03:00:00' AND
        `enddate` > '2015-03-29 02:00:00';</div>
            </div>
            <script type="text/javascript">
                function switchTab(evt, tabName) {
                    // Declare all variables
                    var i, tabcontent, tablinks;

                    // Get all elements with class="tabcontent" and hide them
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i &lt; tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }

                    // Get all elements with class="tablinks" and remove the class "active"
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i &lt; tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }

                    // Show the current tab, and add an "active" class to the link that opened the tab
                    document.getElementById(tabName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                // Open "tab1" by default
                //document.getElementsByClassName("tablinks")[0].click();
            </script>
        </div>
        <!-- END daylight_saving_time -->

        <!-- BEGIN backed_files -->
        <div class="message-alert">
        <h3 style="padding-top:0px;">Modifizierte Dateien</h3>
        Während dem Updatevorgang hat das System festgestellt, das Ihre Website Erweiterungen zum Standardfunktionsumfang (Modifikationen am Quellcode) enthält.<br />
        Damit Ihre individuellen Erweiterungen nicht verloren gehen, wurde von allen modifizierten Dateien eine Sicherungskopie im Verzeichnis <strong>/customizing</strong> angelegt.<br />
        Sollten die angepassten Dateien bereits im /customizing Ordner vorhanden gewesen sein, wurden diese zu <strong>&lt;Dateiname&gt;_&lt;Ausgangsversion&gt;</strong> umbenannt.<br /><br />
        Ihre individuellen Erweiterungen müssen nun auf die neue Architektur dieser Cloudrexx Version portiert werden, damit diese nun nach dem Update wieder funktionieren und Einsatzbereit sind. Der folende Wiki-Artikel unterstützt Sie bei der portierung Ihrer Erweiterungen auf die neue Version: <a href="http://wiki.cloudrexx.com/Category:Migration_Guide" title="Migration Guide" target="_blank">Migration Guide</a><br />
        Liste der modifizierten Dateien:
        <ul style="padding-top:10px;">
        <!-- BEGIN backed_file -->
            <li style="padding-top:7px;">
                <strong>Datei:</strong> {BACKUP_FILE_SRC}<br />
                <strong>Sicherung:</strong> {BACKUP_FILE_DST}
            </li>
        <!-- END backed_file -->
        </ul>
        </div>
        <!-- END backed_files -->

        <!-- BEGIN changed_cmds -->
        <div class="message-alert">
        <h3 style="padding-top:0px;">Modifizierte Inhaltsseiten</h3>
        Während dem Updatevorgang hat das System festgestellt, eine oder mehrere Inhaltsseiten nicht mehr gültige Angaben für die Einstellung &quot;cmd&quot; enthält.<br />
        Damit Ihre Webseite nach dem Update trotzdem funktioniert, wurde die entsprechenden Einträge automatisch angepasst.<br />
        Liste der modifizierten Inhaltsseiten1:
        <ul style="padding-top:10px;">
        <!-- BEGIN changed_cmd -->
            <li style="padding-top:7px;">
                Cmd der Seite &quot;{CHANGED_CMD_PAGE_TITLE}&quot; wurde zu &quot;{CHANGED_CMD_NEW_CMD}&quot; geändert (war &quot;{CHANGED_CMD_ORIG_CMD}&quot;)
            </li>
        <!-- END changed_cmd -->
        </ul>
        </div>
        <!-- END changed_cmds -->
    <!-- END finish -->

 </div>
