<!-- START guestbook_edit.html -->
{GUESTBOOK_JAVASCRIPT}
<form name="guestbookForm" action="?cmd=GuestBook&amp;act=update&amp;id={GUESTBOOK_ID}" method="post" onsubmit="return validate(this)">
  <table class="adminlist" border="0" width="100%" cellpadding="3" cellspacing="0">
    <tr>
      <th nowrap="nowrap" colspan="2">{TXT_EDIT_ENTRY}</th>
    </tr>
    <tr class="row1" valign="top">
      <td nowrap="nowrap">{TXT_FORENAME}/{TXT_NAME}&nbsp;*</td>
      <td>
        <input style="width: 172px;" maxlength="255" name="forename" id="forename" value="{GUESTBOOK_FORENAME}" size="40" />
        <input style="width: 172px;" maxlength="255" name="name" id="name" value="{GUESTBOOK_NAME}" size="40" />
      </td>
    </tr>
    <tr class="row2" valign="top">
      <td nowrap="nowrap">{TXT_COMMENT}&nbsp;*</td>
      <td>
        <textarea style="width: 350px;" name="comment" id="comment" rows="6" cols="60">{GUESTBOOK_COMMENT}</textarea>
      </td>
    </tr>
    <tr class="row1" valign="top">
      <td nowrap="nowrap">{TXT_LOCATION}&nbsp;*</td>
      <td>
        <input style="width: 350px;" maxlength="255" name="location" id="location" value="{GUESTBOOK_LOCATION}" size="40" />
      </td>
    </tr>
    <tr class="row2" valign="top">
      <td nowrap="nowrap">{TXT_SEX}&nbsp;*</td>
      <td>
        <input type="radio" value="F" name="malefemale" {GUESTBOOK_CHECKED_F} />
        {TXT_FEMALE}
        <input type="radio" value="M" name="malefemale" {GUESTBOOK_CHECKED_M} />
        {TXT_MALE}
        </td>
    </tr>
    <tr class="row1" valign="top">
      <td nowrap="nowrap">{TXT_EMAIL}&nbsp;*</td>
      <td>
        <input style="width: 350px;" maxlength="255" size="40" name="email" id="email" value="{GUESTBOOK_MAIL}" />
      </td>
    </tr>
    <tr class="row2" valign="top">
      <td nowrap="nowrap">{TXT_HOMEPAGE}</td>
      <td>
        <input style="width: 350px;" maxlength="255" size="40" name="url" value="{GUESTBOOK_URL}" />
      </td>
    </tr>
    <tr class="row1" valign="top">
      <td nowrap="nowrap">{TXT_DATE}</td>
      <td>
        <input style="width: 350px;" maxlength="255" size="40" name="datetime" value="{GUESTBOOK_DATE}" />
      </td>
    </tr>
  </table>
  <br />
  <input type="reset" value="{TXT_RESET}" name="Submit" />
  <input type="submit" value="{TXT_STORE}" name="Submit" />
  <br />
</form>
<!-- END guestbook_edit.html -->
