<!-- START coreModule_frontendEditing_toolbarCache.html -->
<div id="fe_toolbar" style="
    /* Those are from Main.css but need to be hardcoded in cache */
    top: -53px;
    font-family: Arial, sans-serif;
    z-index: 100;
    position: fixed;
    left: 0;
    width: 100%;
    height: 53px;
    background: #0071bc;
    -moz-box-shadow: 0px 0 9px #0c8ccd;
    -webkit-box-shadow: 0px 0 9px #0c8ccd;
    box-shadow: 0px 0 9px #0c8ccd;
    font-size: 14px;
    line-height: 21px;
    font-family: Arial, sans-serif;
">
    <div id="fe_toolbar_tab" style="
        /* Those are from Main.css but need to be hardcoded in cache */
        position: absolute;
        right: 20px;
        top: 53px;
        background: #0571ba;
        color: #fff;
        padding: 3px 10px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 13px;
        cursor: pointer;
    " onclick="
        /* This is specific to the cached FE loader */
        var me = document.getElementById('fe_toolbar_tab');
        me.innerHTML = '&lt;img src=&quot;/lib/javascript/jquery/jstree/themes/default/throbber.gif&quot; alt=&quot;Loading...&quot; /&gt;';
        me.style.background = 'white';
        document.cookie = 'fe_toolbar=true;path=/';
        window.location = window.location;
    ">
        {TXT_FRONTEND_EDITING_SHOW_TOOLBAR}
    </div>
</div>
<!-- END core_module_frontendEditing_toolbarCache.html -->
