.mediaBrowserfolderWidget .removeFile {
    position: relative;
    margin-right: 0;
    cursor: pointer;
    background-color: #ddd;
    text-align: center;
    border-left: 1px solid #ddd;
    display: block;
    height: 100%;
    width: 40px;
}

.mediaBrowserfolderWidget .removeFile:before {
    background: url("../Media/Icons/remove.png") no-repeat center center;
    background-size: 16px;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}

.mediaBrowserfolderWidget {
    display: inline-block;
    padding: 0;
}

#contactForm div.mediaBrowserfolderWidget ul,
div.mediaBrowserfolderWidget ul {
    padding: 0;
    margin:0;
    width: 100%;
}

#contactForm .contactFormUpload .mediaBrowserfolderWidget ul.filelist li,
.mediaBrowserfolderWidget ul.filelist li {
    list-style:none;
    background:none;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px;
    text-align: left;
    position: relative;
}

.mediaBrowserfolderWidget ul li span.actions {
    text-align: right;
    width: auto;
    padding: 0;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
}

.folderWidget .mediaBrowserfolderWidget ul li,
#contactForm .contactFormUpload  ul li {
    list-style-type: none;
    padding: 15px 75px 15px 15px;
    text-indent: 0;
    position: relative;
    margin-bottom: 5px;
}

.contactFormClass_multi_file, .contactFormClass_file {
    width: 100%;
}

.mediaBrowserfolderWidget .removeFile:hover {
    background-color: #D4D4D4;
}