<!-- START index_content.html -->
<link href="/core/Core/View/Style/calendar.css" rel="stylesheet" type="text/css" />

<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td class="content_wrapper left"><div id="navigation_wrapper">{NAVIGATION_OUTPUT}</div></td>
        <td class="content_wrapper right"><div id="content">{CONTENT_OUTPUT}</div></td>
    </tr>
</table>
<!-- END index_content.html -->
