<!-- start login_lostpw.html -->
{JAVASCRIPT}
<script type="text/javascript">
/* <![CDATA[ */
cx.jQuery(document).ready(function() {
    cx.jQuery('form').submit(function(e) {
        if (cx.jQuery('#email').val() == '') {
            cx.jQuery('#email').addClass('error').focus();
            cx.jQuery('#no_email').show();
            e.preventDefault();
        }
    });
});
/* ]]> */
</script>

<div id="content_login_center" class="password_lost">
    <div id="content_login">
        <h1>{TXT_LOGIN_RESET_PASSWORD}</h1>

        <!-- BEGIN error_message -->
        <div class="alertbox">{LOGIN_ERROR_MESSAGE}</div>
        <!-- END error_message -->
        <!-- BEGIN success_message -->
        <div class="okbox">{LOGIN_SUCCESS_MESSAGE}</div>
        <!-- END success_message -->

        <!-- BEGIN login_lost_password -->
        <form method="post" action="index.php?cmd=Login&amp;act=lostpw" id="asdf">
            <div>{TXT_LOGIN_LOST_PASSWORD}</div>
            <div>
                <div class="error" id="no_email" style="display: none;">{TXT_LOGIN_ENTER_A_EMAIL}</div>
                <label for="email">{TXT_LOGIN_EMAIL}:</label><br />
                <input tabindex="1" type="text" name="email" id="email" style="width: 345px;" />
                <img src="/core_modules/Login/View/Media/lost_pw.gif" width="32" height="32" style="margin-left: 5px;" alt="login key" />
            </div>
            <div>
                <input tabindex="2" type="submit" name="restore_pw" value="{TXT_LOGIN_RESET_PASSWORD}" />
                <input tabindex="3" type="button" value="{TXT_LOGIN_BACK_TO_LOGIN}" onclick="window.location.href='index.php?cmd=Login'" />
            </div>
        </form>
        <!-- END login_lost_password -->

        <!-- BEGIN back_to_login -->
        <div>
            <input tabindex="1" type="button" value="{TXT_LOGIN_BACK_TO_LOGIN}" onclick="window.location.href='index.php'" />
        </div>
        <!-- END back_to_login -->
    </div>
</div>
<!-- end login_lostpw.html -->
