<!-- START module_calendar_settings_form.html -->
<script language="JavaScript" type="text/javascript">
var lastId      = {CALENDAR_INPUTFIELD_LAST_ID};
var lastRow     = {CALENDAR_INPUTFIELD_LAST_ROW};
var BlankField  = '';

function appendField(){
    lastId = lastId + 1;

    if(lastRow == 'row1') {
      lastRow = 'row2';
    } else {
      lastRow = 'row1';
    }

    var tmpBlankField1 = BlankField.replace(/FIELD_ID/g, lastId);
    var tmpBlankField2 = tmpBlankField1.replace(/FIELD_ROW/g, lastRow);

    $J('#inputfields').append(tmpBlankField2);
    $J('#inputfield_'+lastId).css('display', 'none');
    $J('#inputfield_'+lastId).fadeIn("slow");
}

function deleteField(fieldId){
    if (confirm('{TXT_CALENDAR_CONFIRM_DELETE_DATA}\n{TXT_CALENDAR_ACTION_IS_IRREVERSIBLE}')) {
        $J('#inputfield_'+fieldId).fadeOut("slow", function(){ $J('#inputfield_'+fieldId).remove();});
    }
}

function ExpandMinimize(toggle, id) {

    if (toggle != "lang_name") {
        var masterValue = $J("tr#inputfield_"+id+" .lang_"+toggle+"_master").val();
        $J("tr#inputfield_"+id+" #inputfield_"+id+"_"+toggle+"_Expanded input").each(function(){
            if ($J(this).val() == '') {
                $J(this).val(masterValue);
            }
        });
    }

    elm1 = document.getElementById('inputfield_' + id + '_' + toggle + '_Minimized');
    elm2 = document.getElementById('inputfield_' + id + '_' + toggle + '_Expanded');

    elm1.style.display = (elm1.style.display=='none') ? 'block' : 'none';
    elm2.style.display = (elm2.style.display=='none') ? 'block' : 'none';
}
$J(function(){
    calendarLoadFormFields();
});
function calendarLoadFormFields() {
    var formData = {CALENDAR_FORM_DATA};
    BlankField = $J("#blankField").html();

    $J(formData).each(function(index, data){
        $J('#inputfields').append(getField(data));
    });
}
function getField(data) {
    var decodeHtml = function (html) {
        var txt = document.createElement('textarea');
        txt.innerHTML = html;
        return txt.value;
    };
    var tmpBlankField1 = BlankField.replace(/FIELD_ID/g, data.id);
    tmpBlankField1 = tmpBlankField1.replace(/FIELD_ROW/g, data.row);
    $field = $J(tmpBlankField1);
    $field.find('.lang_name_master').val(decodeHtml(data.name_master));
    $field.find('.sort_order').val(data.order);
    $field.find('.sort_order').val(data.order);
    $field.find('.field_type').val(data.type);
    $field.find('.lang_default_value_master').val(decodeHtml(data.default_value_master));
    if (data.required == '1') {
        $field.find('.field_req').attr('checked', 'checked');
    }
    $field.find('.field_afflications').val(data.affiliation);

    var lang_name = $J.parseJSON(data.field_value);
    $J.each(lang_name, function(index, value){
        $field.find('.inputNamefield_'+index).val(decodeHtml(value));
    });

    var lang_default_value = $J.parseJSON(data.default_field_value);
    $J.each(lang_default_value, function(index, value){
        $field.find('.inputDefaultfield_'+index).val(decodeHtml(value));
    });

    changeFieldType($field);

    return $field;
}
function changeFieldType(container) {
    switch(container.find('.field_type').val()) {
        case 'fieldset':
            container.find(".field_req").attr('disabled', 'disabled').hide();
        case 'agb':
            container.find(".field_afflications").attr('disabled', 'disabled').hide();
            container.find(".col_default_value :input").attr('disabled', 'disabled').hide();
            break;
        default:
            container.find(".field_req").removeAttr('disabled').show();
            container.find(".field_afflications").removeAttr('disabled').show();
            container.find(".col_default_value :input").removeAttr('disabled').show();
            break;
    }
}
</script>
<script id="blankField" type="jquery/tmpl">
    <tr class="FIELD_ROW" id="inputfield_FIELD_ID">
    <td valign="top" style="text-align: center;">FIELD_ID</td>
    <td valign="top" style="text-align: center;">
        <input class="sort_order" name="inputfield[FIELD_ID][order]" type="text" value="99" style="width: 20px;" onfocus="this.select();" />&nbsp;
    </td>
    <td valign="top">
        <div id="inputfield_FIELD_ID_name_Minimized" style="display: block;">
            <input class='lang_name_master' name="inputfield[FIELD_ID][name][0]" maxlength="255" style="width: 200px;" type="text" value="" />
        </div>
        <div id="inputfield_FIELD_ID_name_Expanded" style="display: none;">
            <!-- BEGIN inputfieldNameList -->
            <input class="inputNamefield_{CALENDAR_INPUTFIELD_LANG_ID}" name="inputfield[FIELD_ID][name][{CALENDAR_INPUTFIELD_LANG_ID}]" maxlength="255" type="text" style="width: 179px; margin-bottom: 2px; padding-left: 21px; background: #ffffff url('/core/Country/View/Media/Flag/flag_{CALENDAR_INPUTFIELD_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{CALENDAR_INPUTFIELD_LANG_NAME}" value="" /><br />
            <!--  END inputfieldNameList -->
        </div>
    </td>
    <td valign="top">
        <select onChange="changeFieldType($J(this).closest('#inputfield_FIELD_ID'));" class="field_type" name="inputfield[FIELD_ID][type]" style="width: 140px">
            <optgroup label="{TXT_CALENDAR_FIELDS}">
            <!-- BEGIN inputfieldTypes -->
            <option value="{CALENDAR_FORM_FIELD_TYPE}">{TXT_CALENDAR_FORM_FIELD_TYPE}</option>
            <!-- END inputfieldTypes -->
            </optgroup>
            <optgroup label="{TXT_CALENDAR_REGISTRATION_DATA}">
            <!-- BEGIN inputRegfieldTypes -->
            <option value="{CALENDAR_FORM_FIELD_TYPE}">{TXT_CALENDAR_FORM_FIELD_TYPE}</option>
            <!-- END inputRegfieldTypes -->
            </optgroup>
        </select>
    </td>
    <td valign="top" class="col_default_value">
        <div id="inputfield_FIELD_ID_default_value_Minimized" style="display: block;">
            <input class="lang_default_value_master" name="inputfield[FIELD_ID][default_value][0]" maxlength="16777215" style="width: 200px;" type="text" value="" />
        </div>
        <div id="inputfield_FIELD_ID_default_value_Expanded" style="display: none;">
            <!-- BEGIN inputfieldDefaultValueList -->
            <input class="inputDefaultfield_{CALENDAR_INPUTFIELD_LANG_ID}" name="inputfield[FIELD_ID][default_value][{CALENDAR_INPUTFIELD_LANG_ID}]" maxlength="16777215" type="text" style="width: 179px; margin-bottom: 2px; padding-left: 21px; background: #ffffff url('/core/Country/View/Media/Flag/flag_{CALENDAR_INPUTFIELD_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{CALENDAR_INPUTFIELD_LANG_NAME}" value="{CALENDAR_INPUTFIELD_DEFAULT_VALUE}" /><br />
            <!-- END inputfieldDefaultValueList -->
        </div>
    </td>
    <td valign="top" style="text-align: center;">
        <input class="field_req" name="inputfield[FIELD_ID][required]" type="checkbox" value="1"/>
    </td>
    <td valign="top">
        <!-- select class="field_afflications" name="inputfield[FIELD_ID][affiliation]" style="width: 140px">
            <!-- BEGIN fieldAfflications -->
            <option value="{CALENDAR_FORM_FIELD_TYPE}">{TXT_CALENDAR_FORM_FIELD_TYPE}</option>
            <!-- END fieldAfflications -->
        </select -->
    </td>
    <td valign="top" style="line-height: 19px;" nowrap="nowrap">
        <div id="inputfield_FIELD_ID_lang_name_Minimized" style="display: {CALENDAR_DISPLAY_EXPAND};">
            <a href="javascript:ExpandMinimize('name', 'FIELD_ID'); ExpandMinimize('default_value', 'FIELD_ID'); javascript:ExpandMinimize('lang_name', 'FIELD_ID');" >{TXT_CALENDAR_EXPAND}&nbsp;&raquo;</a>
        </div>
        <div id="inputfield_FIELD_ID_lang_name_Expanded" style="display: none;">
            <div class="pull-left width-50">
            <!-- BEGIN inputfieldLanguagesList -->
            {CALENDAR_INPUTFIELD_LANG_NAME}&nbsp;&nbsp;&nbsp;<br />
            <!-- END inputfieldLanguagesList -->
            </div>
            <a class="pull-left width-50" href="javascript:ExpandMinimize('name', 'FIELD_ID');ExpandMinimize('default_value', 'FIELD_ID'); javascript:ExpandMinimize('lang_name', 'FIELD_ID');">&laquo;&nbsp;{TXT_CALENDAR_MINIMIZE}</a>
        </div>
    </td>
    <td style="text-align: right;" valign="top">
        <a href="javascript::void(0);" onclick="deleteField(FIELD_ID);" title="{TXT_CALENDAR_DELETE}"><img style="vertical-align: middle;" src="/core/Core/View/Media/icons/delete.gif" alt="{TXT_CALENDAR_DELETE}" width="17" border="0" height="17"></a>
    </td>
</tr>
</script>
<style type="text/css">
    .pull-left{float: left;}
    .width-50{width: 50%;}
</style>
<form name="formModifyForm" method="post" action="index.php?cmd={CALENDAR_MODULE_NAME}&act=settings&tpl=forms">
    <input name="formId" type="hidden" value="{CALENDAR_FORM_ID}" />
  <table id="form" style="width: 100%; border-spacing: 0px;" class="adminlist" cellspacing="0" cellpadding="3">
      <tr>
          <th colspan="2">{TXT_CALENDAR_REGISTRATION_FORM_TITLE}</th>
      </tr>
        <tr class="row1">
            <td width="87">{TXT_CALENDAR_TITLE}</td>
            <td><input name="formTitle" maxlength="255" style="width: 200px;" type="text" value="{CALENDAR_FORM_TITLE}" /></td>
        </tr>
    </table>
    <table id="inputfields" style="width: 100%; border-spacing: 0px;" class="adminlist" cellspacing="0" cellpadding="3">
      <tr class="row3">
            <td style="text-align: center; font-weight: bold" width="1%" nowrap="nowrap">&nbsp;ID&nbsp;</td>
            <td style="text-align: center; font-weight: bold" width="1%" nowrap="nowrap">&nbsp;{TXT_CALENDAR_SORT}&nbsp;</td>
            <td style="text-align: left; font-weight: bold" width="1%" nowrap="nowrap">{TXT_CALENDAR_FIELD_NAME}</td>
            <td style="text-align: left; font-weight: bold" width="1%" nowrap="nowrap">{TXT_CALENDAR_FIELD_TYPE}</td>
            <td style="text-align: left; font-weight: bold" width="1%" nowrap="nowrap">{TXT_CALENDAR_DEFAULT_VALUES}</td>
            <td style="text-align: left; font-weight: bold" width="1%" nowrap="nowrap">&nbsp;&nbsp;{TXT_CALENDAR_FIELD_REQUIRED}&nbsp;&nbsp;</td>
            <td style="text-align: left; font-weight: bold" width="1%" nowrap="nowrap"><!-- {TXT_CALENDAR_FIELD_AFFILIATION} --></td>
            <td colspan="2" style="text-align: right; font-weight: bold" width="90%" nowrap="nowrap">{TXT_CALENDAR_ACTIONS}</td>
        </tr>
    </table>
    <input type="button" onclick="appendField();" name="newInputfiels" value="{TXT_CALENDAR_NEW_INPUTFIELD}" style="margin-left: 96px; margin-top: 6px;" />
    <br />
    <input type="submit" name="submitModifyForm" value="{TXT_CALENDAR_SAVE}" />
</form>
<!-- END module_calendar_settings_form.html -->
