<!-- START module_feed_newsml_details.html -->
<script language="JavaScript" type="text/javascript">
<!--
function deleteNewsMLDoc(providerId, publicIdentifier)
{
    if(confirm("{TXT_CONFIRM_DELETE_NEWS_MSG}\n{TXT_FEED_ACTION_COULD_NOT_BE_UNDONE}"))
    {
        window.location.href = "index.php?cmd=Feed&{CSRF_PARAM}&act=newsML&tpl=deleteDocument&providerId="+providerId+"&publicIdentifier="+publicIdentifier;
    }
}

function deleteNewsMLDocs()
{
  if (confirm("{TXT_CONFIRM_DELETE_NEWS_MSGS}\n{TXT_FEED_ACTION_COULD_NOT_BE_UNDONE}")) {
    return true;
  } else {
    return false;
  }
}
//-->
</script>
<form name="form_newsml" action="index.php?cmd=Feed&amp;act=newsML&amp;tpl=deleteDocuments&amp;providerId={FEED_NEWSML_PROVIDERID}" method="post" onsubmit="return deleteNewsMLDocs()">
  <table cellspacing="0" cellpadding="0" width="100%" border="0" class="adminlist">
    <tbody>
      <tr>
        <th colspan="4">{FEED_NEWSML_TITLE}</th>
      </tr>
      <!-- BEGIN feed_newsml_nodata -->
        <tr class="row1">
          <td colspan="4">{TXT_FEED_NO_NEWS_MSGS_PRESENT}</td>
        </tr>
      </tbody>
    </table>
  <!-- END feed_newsml_nodata -->
  <!-- BEGIN feed_newsml_data -->
        <tr class="row3">
          <td height="20" style="text-align:center;" width="1%"><b>#</b></td>
          <td height="20" width="50%"><b>{TXT_FEED_TITLE}</b></td>
          <td height="20" width="44%"><b>{TXT_FEED_DATE}</b></td>
          <td height="20" width="5%" style="text-align:right;"><b>{TXT_FEED_FUNCTIONS}</b></td>
        </tr>
        <!-- BEGIN feed_newsml_list -->
          <tr class="{FEED_NEWSML_LIST_ROW_CLASS}">
            <td height="20" width="1%" style="text-align:center;"><input type="checkbox" name="selectedNewsMLDocId[]" id="selectedNewsMLDocId" value="{FEED_NEWSML_ID}" /></td>
            <td height="20" width="50%"><a href="/index.php?section=Feed&amp;cmd=newsML&amp;id={FEED_NEWSML_ID}&amp;catid={FEED_NEWSML_CATID}" title="{TXT_FEED_SHOW_NEWS_MSG}" target="_blank">{FEED_NEWSML_TITLE}</a></td>
            <td height="20" width="44%">{FEED_NEWSML_DATE}</td>
            <td height="20" width="5%" style="text-align:right;"><a href="/index.php?section=Feed&amp;cmd=newsML&amp;id={FEED_NEWSML_ID}" target="_blank" title="{TXT_FEED_SHOW_NEWS_MSG}"><img src="/core/Core/View/Media/icons/details.gif" alt="{TXT_FEED_SHOW_NEWS_MSG}" width="14" height="16" border="0" /></a> <a href="javascript:{}" title="{TXT_FEED_DELETE_NEWS_MSG}" onclick="deleteNewsMLDoc({FEED_NEWSML_PROVIDERID}, '{FEED_NEWSML_ID}');" ><img src="/core/Core/View/Media/icons/delete.gif" width="17" height="17" alt="{TXT_FEED_DELETE_NEWS_MSG}" border="0" /></a></td>
          </tr>
        <!-- END feed_newsml_list -->
      </tbody>
    </table>
    <img src="/core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_FEED_MARKED}:" />
    <a href="javascript:{}" onclick="changeCheckboxes('form_newsml','selectedNewsMLDocId[]',true); return false;">{TXT_FEED_MARK_ALL}</a>&nbsp;/&nbsp;
    <a href="javascript:{}" onclick="changeCheckboxes('form_newsml','selectedNewsMLDocId[]',false); return false;">{TXT_FEED_REMOVE_CHOICE}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="delete" value="{TXT_FEED_DELETE_MARKED}" />&nbsp;&nbsp;
    <br />
    <br />
    {FEED_NEWSML_LIST_PARSING}
  <!-- END feed_newsml_data -->
</form>
<br />
<input type="button" value="{TXT_FEED_BACK}" onclick="window.history.back()" />
<!-- END module_feed_newsml_details.html -->
