<!-- START module_feed.html -->
<script language="JavaScript">
    function formCheck()
    {
        if(document.form.form_category.value == "0")
        {
            alert("{TXT_FEED_FORMCHECK_CATEGORY}");
            document.form.form_category.focus();
            return false;
        }
        if(document.form.form_name.value == "")
        {
            alert("{TXT_FEED_FORMCHECK_NAME}");
            document.form.form_name.focus();
            return false;
        }
        if(document.form.form_link.value == "" && document.form.form_file_name.value == "0")
        {
            alert("{TXT_FEED_FORMCHECK_LINK_FILE}");
            document.form.form_link.focus();
            return false;
        }
        if(document.form.form_link.value != "" && document.form.form_file_name.value != "0")
        {
            alert("{TXT_FEED_FORMCHECK_LINK_FILE}");
            document.form.form_link.focus();
            return false;
        }
        if(document.form.form_articles.value == "")
        {
            alert("{TXT_FEED_FORMCHECK_ARTICLES}");
            document.form.form_articles.focus();
            return false;
        }
        if(document.form.form_articles.value > 50)
        {
            alert("{TXT_FEED_FORMCHECK_ARTICLES}");
            document.form.form_articles.focus();
            return false;
        }
        if(document.form.form_cache.value == "")
        {
            alert("{TXT_FEED_FORMCHECK_CACHE}");
            document.form.form_cache.focus();
            return false;
        }
        if(document.form.form_image.value == "")
        {
            alert("{TXT_FEED_FORMCHECK_IMAGE}");
            document.form.form_image.focus();
            return false;
        }
        if(document.form.form_status.value == "")
        {
            alert("{TXT_FEED_FORMCHECK_STATUS}");
            document.form.form_status.focus();
            return false;
        }
    }
    function sortByCategory()
    {
       sort = document.form2.form_show_category.value;
       window.location.replace("index.php?cmd=Feed&{CSRF_PARAM}&sort="+sort);
    }
    function editNews(id)
    {
        window.location.replace("index.php?cmd=Feed&{CSRF_PARAM}&act=edit&id="+id);
    }
    function refreshNews(id)
    {
        window.location.replace("index.php?cmd=Feed&{CSRF_PARAM}&ref=1&id="+id);
    }
    function showNews(id)
    {
        var l = (screen.availWidth - 750) / 2;
        var t = (screen.availHeight - 50 - 500) / 2;
        window.open("index.php?cmd=Feed&{CSRF_PARAM}&show=1&id="+id, "", "left="+l+",top="+t+",width=750,height=550,scrollbars=yes");
    }
    function selectTodoCategory()
    {
        if(document.form2.form_select_todo.value == "sort")
        {
            document.form2.form_sort.value = "1";
            document.form2.submit();
        }
        if(document.form2.ischecked.value != "0")
        {
            if(document.form2.form_select_todo.value == "activate")
            {
                document.form2.form_activate.value = "1";
                document.form2.submit();
            }
            if(document.form2.form_select_todo.value == "deactivate")
            {
                document.form2.form_deactivate.value = "1";
                document.form2.submit();
            }
            if(document.form2.form_select_todo.value == "delete")
            {
                if(confirm("{TXT_FEED_DELETE_CONFIRM}"))
                {
                    document.form2.form_delete.value = "1";
                    document.form2.submit();
                }
            }
        }
        else
        {
            if(document.form2.form_select_todo.value != "sort")
            {
                alert("{TXT_FEED_NO_SELECT_OPERATION}");
            }
        }
        document.form2.form_select_todo.value = "0";
    }
    function setCheckboxes(do_check)
    {
        with(document.form2)
        {
            var box      = elements['form_selected[]'];
            var box_cnt  = (typeof(box.length) != 'undefined') ? box.length : 0;

            if(box_cnt)
            {
                for(var i = 0; i < box_cnt; i++)
                {
                    box[i].checked = do_check;
                }
            }
            else
            {
                box.checked = do_check;
            }
        }
        if(do_check == true)
        {
            document.form2.ischecked.value = "{FEED_TOTAL_RECORDS}";
        }
        else
        {
            document.form2.ischecked.value = "0";
        }
        return true;
    }
    function isChecked(isitchecked){
        if(isitchecked == true)
        {
            document.form2.ischecked.value++;
        }
        else
        {
            document.form2.ischecked.value--;
        }
    }
</script>
<form action="index.php?cmd=Feed&new=1" name="form" method="POST" style="padding:0px; margin:0px;" onSubmit="return formCheck();">
    <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
        <tr>
            <th colspan="4">{TXT_FEED_INSERT_NEW_FEED}</th>
        </tr>
        <tr class="row1">
            <td width="180">{TXT_FEED_CATEGORY}:</td>
            <td>
                <select name="form_category" style="width: 302px">
                    <option value="0">- {TXT_FEED_CHOOSE_CATEGORY}</option>
                    <!-- BEGIN feed_table_option -->
                    <option value="{FEED_CATEGORY_ID}">{FEED_CATEGORY}</option>
                    <!-- END feed_table_option -->
                   </select>
               </td>
               <td width="180">{TXT_FEED_NAME}:</td>
               <td><input type="text" style="width: 300px" name="form_name"></td>
        </tr>
        <tr class="row2">
            <td>{TXT_FEED_LINK}:</td>
            <td><input type="text"  style="width: 300px" name="form_link"></td>
            <td>{TXT_FEED_FILE_NAME}:</td>
            <td>
                <select name="form_file_name" style="width: 302px">
                    <option value="0">- {TXT_FEED_CHOOSE_FILE_NAME}</option>
                    <!-- BEGIN feed_table_option_name -->
                    <option value="{FEED_NAME}">{FEED_NAME}</option>
                    <!-- END feed_table_option_name -->
                </select>
            </td>
        </tr>
        <tr class="row1">
            <td>{TXT_FEED_NUMBER_ARTICLES}:</td>
            <td><input type="text" size="5" name="form_articles" style="width: 300px"></td>
            <td>{TXT_FEED_CACHE_TIME}:</td>
            <td><input type="text" size="10" name="form_cache" value="3600" style="width: 300px"></td>
        </tr>
        <tr class="row2">
            <td>{TXT_FEED_SHOW_LOGO}:</td>
            <td>
                <select name="form_image" style="width: 302px">
                    <option value="0">{TXT_FEED_NO}</option>
                    <option value="1" selected>{TXT_FEED_YES}</option>
                </select>
            </td>
            <td>{TXT_FEED_STATUS}:</td>
            <td>
                <select name="form_status" style="width: 302px">
                    <option value="0">{TXT_FEED_INACTIVE}</option>
                    <option value="1" selected>{TXT_FEED_ACTIVE}</option>
                </select>
            </td>
        </tr>
    </table>
    <br><input type="submit" value="{TXT_FEED_SAVE}">
</form><br>
<form action="?cmd=Feed&chg=1" name="form2" method="POST" style="padding:0px; margin:0px;">
<table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
    <tr>
        <th width="25"><center>#</center></th>
        <th width="70">{TXT_FEED_SORTING}</th>
        <th width="40">{TXT_FEED_STATUS}</th>
        <th width="35">{TXT_FEED_ID}</th>
        <th>{TXT_FEED_NEWS_NAME}</th>
        <th width="60">{TXT_FEED_LANGUAGE}</td>
        <th width="150">
            <select name="form_show_category" onChange="sortByCategory();">
                <option value="0">- {TXT_FEED_ALL_CATEGORIES}</option>
                <!-- BEGIN feed_category_option -->
                <option value="{FEED_CATEGORY_ID}"{FEED_SELECTED}>{FEED_CATEGORY}</option>
                <!-- END feed_category_option -->
               </select>
        </th>
        <th width="55">{TXT_FEED_ARTICLE}</th>
        <th width="70" style="white-space: nowrap;">{TXT_FEED_CACHE_TIME}</th>
        <th width="150" style="white-space: nowrap;">{TXT_FEED_LAST_UPDATE}</th>
        <th width="20">&nbsp;</th>
        <th width="20">&nbsp;</th>
    </tr>
    <input type="hidden" name="ischecked" value="0">
    <!-- BEGIN feed_table_row -->
    <tr class="{FEED_CLASS}">
        <td><input type="checkbox" name="form_selected[]" value="{FEED_ID}" onclick="isChecked(this.checked);" hidefocus></td>
        <td align="center">
            <input type="hidden" name="form_id[]" value="{FEED_ID}">
            <input type="text" name="form_pos[]" value="{FEED_POS}" style="width:25px; text-align:right; padding:2px;">
        </td>
        <td align="center"><img src="/core/Core/View/Media/icons/led_{FEED_STATUS}.gif"></td>
        <td align="center">{FEED_ID}</td>
        <td><nobr><a href="javascript:editNews({FEED_ID})" title="{TXT_FEED_EDIT}" hidefocus>{FEED_NAME}</a></nobr></td>
        <td align="center">[{FEED_LANG}]</td>
        <td><nobr>{FEED_CATEGORY}</nobr></td>
        <td align="center">{FEED_ARTICLE}</td>
        <td align="center">{FEED_CACHE}</td>
        <td align="center">{FEED_TIME}</td>
        <td align="center">
            <a href="javascript:refreshNews({FEED_ID})" title="{TXT_FEED_UPDATE}" hidefocus>
                <img src="/core/Core/View/Media/icons/refresh.png" border="0">
            </a>
        </td>
        <td align="center">
            <a href="javascript:showNews({FEED_ID})" title="{TXT_FEED_PREVIEW}" hidefocus>
                <img src="/core/Core/View/Media/icons/pages.gif" border="0">
            </a>
        </td>
    </tr>
    <!-- END feed_table_row -->
</table>
<!-- BEGIN feed_table_hidden -->
<table cellspacing="0" cellpadding="3" width="100%" border="0">
    <tr>
        <td>
            <img src="/core/Core/View/Media/icons/arrow.gif">
            <a href="" onclick="setCheckboxes(true); return false;" hidefocus>{TXT_FEED_MARK_ALL}</a> /
            <a href="" onclick="setCheckboxes(false); return false;" hidefocus>{TXT_FEED_REMOVE_CHOICE}</a>
            <img src="/core/Core/View/Media/icons/strike.gif">
            <select name="form_select_todo" onchange="selectTodoCategory();">
                <option value="0" selected>{TXT_FEED_SELECT_OPERATION}:</option>
                <option value="sort">{TXT_FEED_SAVE_SORTING}</option>
                <option value="activate">{TXT_FEED_ACTIVATE_NEWS_FEED}</option>
                <option value="deactivate">{TXT_FEED_DEACTIVATE_NEWS_FEED}</option>
                <option value="delete">{TXT_FEED_DELETE_NEWS_FEED}</option>
            </select>
            <input type="hidden" name="form_sort" value="">
            <input type="hidden" name="form_activate" value="">
            <input type="hidden" name="form_deactivate" value="">
            <input type="hidden" name="form_delete" value="">
        </td>
        <td width="20">{FEED_RECORDS_HIDDEN}</td>
    </tr>
</table>
<!-- END feed_table_hidden -->
</form>
<br>
{FEED_CATEGORY_PAGING}
<!-- END module_feed.html -->
