<tr class="row2">
    <td width="60%"><input type="hidden" id="contact_{CRM_CONTACT_ID}" name="companyContacts[]" value="{CRM_CONTACT_ID}" />{CRM_CONTACT_NAME}</td>
    <td width="38%">&nbsp;</td>
    <td width="2%"><div align="right"><a class="removeContact_{CRM_CONTACT_ID}" href="javascript:void(0)"><img border="0" src="/core/Core/View/Media/icons/delete.gif" alt="Delete" title="Delete"></a></div></td>
</tr>
