<div class="contact row form-group">
    <label for="contactFormFieldId_{CONTACT_FORM_FIELD_ID}">{CONTACT_FORM_FIELD_LABEL}<!-- BEGIN contact_form_field_required --> <strong class="is_required">*</strong><!-- END contact_form_field_required --></label>
    <div class="contactFormUpload"
        id="contactFormUpload_{CONTACT_FORM_FIELD_ID}">
        {CONTACT_UPLOADER_FOLDER_WIDGET}
        <input type="hidden" name="contactFormUploadId_{CONTACT_FORM_FIELD_ID}"
            value="{CONTACT_FORM_FIELD_VALUE}" />
        <input class="contactFormClass_multi_file"
            id="contactFormFieldId_{CONTACT_FORM_FIELD_ID}" type="file"
            name="contactFormField_{CONTACT_FORM_FIELD_ID}" disabled="disabled" />
    </div>
</div>
