<div class="contact row form-group">
    <label>{CONTACT_FORM_FIELD_LABEL}<!-- BEGIN contact_form_field_required --> <strong class="is_required">*</strong><!-- END contact_form_field_required --></label>
    <div class="contactFormGroup"
        id="contactFormFieldId_{CONTACT_FORM_FIELD_ID}">
        <!-- BEGIN contact_form_field_options -->
        <div class="radio">
            <label class="noCaption"
                for="contactFormField_{CONTACT_FORM_FIELD_OPTION_KEY}_{CONTACT_FORM_FIELD_OPTION_FIELD_ID}">
                <input class="contactFormClass_radio" type="radio"
                name="contactFormField_{CONTACT_FORM_FIELD_OPTION_FIELD_ID}"
                id="contactFormField_{CONTACT_FORM_FIELD_OPTION_KEY}_{CONTACT_FORM_FIELD_OPTION_FIELD_ID}"
                {CONTACT_FORM_FIELD_SELECTED}
                value="{CONTACT_FORM_FIELD_VALUE}" /> {CONTACT_FORM_FIELD_VALUE}
            </label>
        </div>
        <!-- END contact_form_field_options -->
    </div>
</div>
