<style type="text/css">
<!--
    .noborder{
        border: 0px;
        background-color: #F4F7FF;
    }

// -->
</style>
<script type="text/javascript">
// <![CDATA[

function getThemesZipFileUploader() {
    $J('#local-archive-uploader').trigger('click');
}

function themesZipFileUploaderCallback(callback) {
    if (typeof callback[0] !== 'undefined') {
        var data       = callback[0].split('/'),
            fileName   = data.pop();
        $J('#localarchive').val(fileName);
    }
}
var init = function() {	
    form 	=	document.getElementById("manageform");
    dweb 	=	document.getElementById("web");
    dlocal 	= 	document.getElementById("local");
    dfilesystem = 	document.getElementById("filesystem");
    ilocal 	= 	document.getElementById("localarchive");
    iremote     = 	document.getElementById("remotearchive");
    ifilesystem =       document.getElementById("existingdirName");
    document.getElementById("radiolocal").className = 'noborder';
    document.getElementById("radioremote").className = 'noborder';
}

var importArchive = function() {
    if (dlocal.style.display == "block") {
        if (ilocal.value != "") {
            form.action = "index.php?cmd=ViewManager&act=import&import=local";
        } else {
            alert("{TXT_THEME_NO_FILE_SPECIFIED}!");
            return false;
        }
    } else if (dweb.style.display == "block") {
        if (iremote.value != 'http://' && iremote.value != '' ) {
            form.action = "index.php?cmd=ViewManager&act=import&import=remote";
        } else {
            alert("{TXT_THEME_NO_URL_SPECIFIED}!");
            return false;
        }
    } else {
        if (ifilesystem.value != '') {
            form.action = "index.php?cmd=ViewManager&act=import&import=filesystem";
        } else {
            alert("No dir selected");
            return false;
        }
    }
    return true;
}

var importSelect = function(div) {
    switch(div) {
        case 'local':
            dlocal.style.display = "block";
            dweb.style.display = "none";
            dfilesystem.style.display = "none";
            break;
        case 'web':
            dlocal.style.display = "none";
            dweb.style.display = "block";
            dfilesystem.style.display = "none";
            break;
        case 'filesystem':
            dlocal.style.display = "none";
            dweb.style.display = "none";
            dfilesystem.style.display = "block";
            break;
    }    
}

$J(document).ready(function() {
    init();
});

// ]]>
</script>
<div id="subnavbar_level2">
    <ul>
        <!-- BEGIN view_manager_manage_theme -->
        <li><a href="index.php?cmd=ViewManager&amp;act=templates" title="{TXT_THEMES_EDIT}">{TXT_THEMES_EDIT}</a></li>
        <li><a href="index.php?cmd=ViewManager&amp;act=newDir" title="{TXT_THEMES_CREATE}">{TXT_THEMES_CREATE}</a></li>
        <!-- END view_manager_manage_theme -->
        <li><a class="active" href="index.php?cmd=ViewManager&amp;act=import" title="{TXT_THEME_IMPORT}">{TXT_THEME_IMPORT}</a></li>
    </ul>
</div>

<form name="themesForm" id="manageform" action="index.php?cmd=ViewManager&amp;act=import&amp;import=1" method="post" enctype="multipart/form-data">
    <table summary="" style="width:100%" border="0" cellspacing="0" cellpadding="3"  class="adminlist">
        <tr style="white-space: nowrap;">
            <th colspan="2">
                {TXT_THEME_IMPORT_THEME}
            </th>
        </tr>
        <tr class="row3" style="white-space: nowrap;">
            <td colspan="2">
                {TXT_VIEWMANAGER_THEME_SELECTION_TXT}
            </td>
        </tr>
        <tr class="row1">
            <td width="250">{TXT_VIEWMANAGER_SOURCE}</td>
            <td>
                <div>
                    <input id="radiolocal" class="hidden" onclick="importSelect(this.value);" type="radio" name="src" value="local" checked="checked" /><label for="radiolocal">{TXT_THEME_LOCAL_FILE}</label>
                    <br />
                    <input id="radioremote" class="hidden" onclick="importSelect(this.value);" type="radio" name="src" value="web" /><label for="radioremote">{TXT_THEME_SPECIFY_URL}</label>
                    <br />
                    <input id="radiofilesystem" class="hidden" onclick="importSelect(this.value);" type="radio" name="src" value="filesystem" /><label for="radiofilesystem">{TXT_THEME_FILESYSTEM}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>{TXT_VIEWMANAGER_THEME}</td>
            <td>
                <div id="local" style="display: block; float: left;">
                    <input type="hidden" value="{THEMES_UPLOADER_ID}" name="importUploaderId" />
                    <input type="text" name="importlocal" id="localarchive" style="width:300px;"  />&nbsp;
                    <input type="button" value="{TXT_SELECT_FILE}"  onclick="getThemesZipFileUploader();"/>
                </div>

                <div id="web" style="display: none; float: left;">
                    <input style="width:300px;" type="text" id="remotearchive" name="importremote" size="30" value="http://" />
                </div>

                <div id="filesystem" style="display: none; float: none;">
                    <select name="existingdirName" id="existingdirName" style="width: 300px;">{THEMES_MENU}</select>
                </div>
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" name="import" onclick="return importArchive();" value="{TXT_THEME_DO_IMPORT}" style="float: left;" />
</form>
{THEMES_UPLOADER_CODE}
