<div id="media_div">

    <!-- BEGIN messages -->
    <div class="message_{MESSAGE_CLASS}">{MESSAGE_TEXT}</div>
    <!-- END messages -->

    <!-- BEGIN media_archive_search_form -->
    <div class="mediaSearchForm">
        <form method="get" action="index.php">
            <input type="hidden" name="section" value="{MEDIA_ARCHIVE_NAME}" />
            <input type="hidden" name="path" value="{MEDIA_ARCHIVE_PATH}" />
            <input type="text" value="{MEDIA_SEARCH_TERM}" placeholder="{TXT_MEDIA_SEARCH_TERM}" name="term" class="mediaSearchBox searchbox" />
            <input class="mediaButtonSearch" value="{TXT_MEDIA_SEARCH}" type="submit">
        </form>
    </div>
    <!-- END media_archive_search_form -->
    <div class="table-responsive">
        <table id="media" class="table">
            <tbody>
                <tr>
                    <th style="text-align: center;"><strong>#</strong></th>
                    <th colspan="2"><a title="{TXT_MEDIA_SORT}" href="{MEDIA_NAME_HREF}">{TXT_MEDIA_FILE_NAME}</a>&nbsp;{MEDIA_NAME_ICON}</th>
                    <th style="white-space: nowrap; text-align: left"><a title="{TXT_MEDIA_SORT}" name="sort_size" href="{MEDIA_SIZE_HREF}">{TXT_MEDIA_FILE_SIZE}</a>&nbsp;{MEDIA_SIZE_ICON}</th>
                    <th style="white-space: nowrap; text-align: left"><a title="{TXT_MEDIA_SORT}" name="sort_type" href="{MEDIA_TYPE_HREF}">{TXT_MEDIA_FILE_TYPE}</a>&nbsp;{MEDIA_TYPE_ICON}</th>
                    <th style="white-space: nowrap; text-align: left;"><a title="{TXT_MEDIA_SORT}" name="sort_date" href="{MEDIA_DATE_HREF}">{TXT_MEDIA_FILE_DATE}</a>&nbsp;{MEDIA_DATE_ICON}</th>
                    <!-- BEGIN manage_access_header -->
                    <th style="white-space: nowrap; text-align: left;">&nbsp;</th>
                    <!-- END manage_access_header -->
                </tr>
                <tr class="active">
                    <td  style="width: 20px; text-align: center;"><img height="16" width="16" title="base" alt="base" src="core_modules/Media/View/Media/_base.gif" /></td>
                    <td colspan="5"><a title="{MEDIA_TREE_NAV_MAIN}" href="{MEDIA_TREE_NAV_MAIN_HREF}">{MEDIA_TREE_NAV_MAIN}</a>              <!-- BEGIN mediaTreeNavigation -->             <a href="{MEDIA_TREE_NAV_DIR_HREF}">&nbsp;{MEDIA_TREE_NAV_DIR} /</a>              <!-- END mediaTreeNavigation --></td>
                </tr>
                <!-- BEGIN mediaDirectoryTree -->
                <tr class="{MEDIA_DIR_TREE_ROW}">
                    <td>&nbsp;</td>
                    <td style="text-align: center;"><img height="16" width="16" title="icon" alt="icon" src="{MEDIA_FILE_ICON}" /></td>
                    <td class="file_name" style="width: 100%;"><a title="{MEDIA_FILE_NAME}" href="{MEDIA_FILE_NAME_HREF}">{MEDIA_FILE_NAME}</a></td>
                    <td class="file_size" style="white-space: nowrap; text-align: left;">&nbsp;{MEDIA_FILE_SIZE}</td>
                    <td style="white-space: nowrap; text-align: left;">&nbsp;{MEDIA_FILE_TYPE}</td>
                    <td style="white-space: nowrap; text-align: left;">&nbsp;{MEDIA_FILE_DATE}</td>
                    <!-- BEGIN manage_access_option -->
                    <td style="white-space: nowrap; text-align: left;">
                        <a data-action-url="{MEDIA_FILE_RENAME_HREF}" title="{MEDIA_RENAME_TITLE} {MEDIA_FILE_NAME}" class="rename_btn" href="javascript:void(0);">
                            <img alt="" src="core_modules/Access/View/Media/edit.gif" />
                        </a>           
                        <a title="{MEDIA_DELETE_TITLE} {MEDIA_FILE_NAME}" onclick="return mediaConfirmDelete();" href="{MEDIA_FILE_DELETE_HREF}">
                            <img alt="" src="core_modules/Access/View/Media/delete.gif" />
                        </a>
                    </td>
                    <!-- END manage_access_option -->
                </tr>
                <!-- END mediaDirectoryTree -->         <!-- BEGIN mediaEmptyDirectory -->
                <tr class="row1">
                    <td>&nbsp;</td>
                    <td colspan="6">{TXT_MEDIA_DIR_EMPTY}</td>
                </tr>
                <!-- END mediaEmptyDirectory -->
            </tbody>
        </table>
    </div>
    <!-- BEGIN media_simple_file_upload -->
    <h3>{TXT_MEDIA_ADD_NEW_FILE}</h3>
    {MEDIA_UPLOADER_CODE}
    <script type="text/javascript">
        function mediaCallbackJs(callback) {
            window.location = '{REDIRECT_URL}';
        }
    </script>
    <!-- END media_simple_file_upload -->
    <!-- BEGIN media_create_directory -->
    <h3>{TXT_MEDIA_CREATE_DIRECTORY}</h3>
    <form name="media_create_directory" method="post" action="{MEDIA_CREATE_DIRECTORY_URL}">
        <fieldset><legend>{TXT_MEDIA_CREATE_NEW_DIRECTORY}</legend>
            <input type="text" name="media_directory_name" value="" /> 
            <input class="btn btn-default" type="submit" value="{TXT_MEDIA_CREATE_DIRECTORY}" />
        </fieldset>
    </form>
    <!-- END media_create_directory -->
</div>
{MEDIA_JAVASCRIPT}