<script type="text/javascript">
    <!--
        function toggle(target) {
        obj = document.getElementById(target);
        obj.style.display = (obj.style.display == 'none') ? 'inline' : 'none';
        if (obj.style.display == 'none' && target == 'hiddenSearch') {
            document.getElementById('searchCheck').value = 'norm';
        } else if (obj.style.display == 'inline' && target == 'hiddenSearch') {
            document.getElementById('searchCheck').value = 'exp';
        }
    }
    function CheckForm(forceTerms) {
        var errorMsg = "";
        with (document.formEntry) {
            if (type.value == "") {
                errorMsg = errorMsg + "- {TXT_MARKET_TYPE}\n";
            }
            if (title.value == "") {
                errorMsg = errorMsg + "- {TXT_MARKET_TITLE_ENTRY}\n";
            }
            if (description.value == "") {
                errorMsg = errorMsg + "- {TXT_MARKET_DESCRIPTION}\n";
            }
            if (cat.value == "") {
                errorMsg = errorMsg + "- {TXT_MARKET_CATEGORIE}\n";
            }
            if (price.value == "" && !forfree.checked && !agreement.checked) {
                errorMsg = errorMsg + "- {TXT_MARKET_PRICE}\n";
            }
            {END_DATE_JS}
            if (userdetails.value == "") {
                errorMsg = errorMsg + "- {TXT_MARKET_USER_DETAIL}\n";
            }
            if (name.value == "") {
                errorMsg = errorMsg + "- {TXT_MARKET_NAME}\n";
            }
            if (email.value == "") {
                errorMsg = errorMsg + "- {TXT_MARKET_EMAIL}\n";
            } else {
                if (!matchType('^[_a-zA-Z0-9-]+(.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(.[a-zA-Z0-9-]+)*.(([0-9]{1,3})|([a-zA-Z]{2,3})|(aero|coop|info|museum|name))$', email.value)) {
                    errorMsg = errorMsg + "- {TXT_MARKET_EMAIL}\n";
                }
            }
            if (forceTerms && !confirm.checked) {
                errorMsg = errorMsg + "- {TXT_MARKET_CONFIRM_TERMS}"
            }
            if (errorMsg != "")
            {
                alert("{TXT_MARKET_FIELDS_REQUIRED}n{TXT_MARKET_THOSE_FIELDS_ARE_EMPTY}\n" + errorMsg);
                return false;
            } else {
                return true;
            }
        }
    }
    function matchType(pattern, value) {
        var reg = new RegExp(pattern);
        if (value.match(reg)) {
            return true;
        }
        return false;
    }
    --></script>
<div id="market">
    <form name="formEntry" enctype="multipart/form-data" method="post" action="index.php?section=Market&cmd=confirm" onsubmit="return CheckForm({MARKET_FORCE_TERMS})">
        <input type="hidden" name="id" value="{MARKET_ENTRY_ID}" >
        <p><label>{TXT_MARKET_TYPE}<font color="red"> *</font></label>
            <span class="radio">
                <label class="description" for="offer"> <input type="radio" name="type" value="offer" {MARKET_ENTRY_TYPE_OFFER} />{TXT_MARKET_OFFER}</label>
            </span>
        </p>
        <p>
            <span class="radio">
                <label class="description" for="search">
                    <input type="radio" name="type" value="search" {MARKET_ENTRY_TYPE_SEARCH} />{TXT_MARKET_SEARCH}</label>
            </span>
        </p>
        <p><label for="title">{TXT_MARKET_TITLE_ENTRY}<font color="red"> *</font></label><input id="title" name="title" value="" type="text"></p>
        <p><label for="description">{TXT_MARKET_DESCRIPTION}<font color="red"> *</font></label><textarea id="description" name="description"></textarea></p>
        <p><span class="checkbox">
<label for="premium"><input type="checkbox" id="premium" name="premium" value="1" />{TXT_MARKET_PREMIUM}</label>
</span>
</p>
        <p><label for="pic">{TXT_MARKET_PICTURE}</label>{ENTRY_PICTURE}<input type="file" id="pic" name="pic"></p>
        <p><label for="cat">{TXT_MARKET_CATEGORIE}<font color="red"> *</font></label><select id="cat" name="cat">{MARKET_CATEGORIES}</select></p>
        <p><label for="price">{TXT_MARKET_PRICE}<font color="red"> *</font></label><input type="text" id="price" name="price" maxlength="100" value=""></p>
        <p>
<span class="checkbox">
<label class="description" for="forfree"><input type="checkbox" name="forfree" id="forfree" value="1" />{TXT_MARKET_FOR_FREE}</label>
</span>
</p>
        <p>
<span class="checkbox">
<label class="description" for="agreement"><input type="checkbox" name="agreement" id="agreement" value="1" />{TXT_MARKET_AGREEMENT}</label>
</span>
</p>
        <!-- BEGIN end_date_dropdown -->
            <p><label for="days">{TXT_MARKET_END_DATE}<font color="red"> *</font></label><select id="days" name="days" style="width: 100px;">{MARKET_DAYS_ONLINE}</select></p>
        <!-- END end_date_dropdown -->
        <p><label for="name">{TXT_MARKET_NAME}<font color="red"> *</font></label><input id="name" name="name" value="" type="text"></p>
        <p><label for="email">{TXT_MARKET_EMAIL}<font color="red"> *</font></label><input id="email" name="email" value="" type="text"></p>
        <p>
<label>{TXT_MARKET_USER_DETAIL}<font color="red"> *</font></label>
<span class="radio">
<label class="description" for="userdetails_on"><input type="radio" id="userdetails_on" name="userdetails" value="1" {MARKET_ENTRY_USERDETAILS_ON} />{TXT_MARKET_DETAIL_SHOW}</label>
</span>
</p>
        <p>
<span class="radio">
<label class="description" for="userdetails_off"><input type="radio" name="userdetails" id="userdetails_off" value="0" {MARKET_ENTRY_USERDETAILS_OFF} />{TXT_MARKET_DETAIL_HIDE}</label></span></p>
        <!-- BEGIN spez_fields -->
            <p><label>{TXT_MARKET_SPEZ_FIELD_NAME}</label>{MARKET_SPEZ_FIELD_INPUT}</p>
        <!-- END spez_fields -->
      <p><label><input name="confirm" type="checkbox">&nbsp;{TXT_MARKET_TERMS}</label></p>
        <p><input class="btn btn-default" type="submit" name="submitEntry" value="{TXT_MARKET_SAVE}" /></p>
	</form>
</div>