<!-- START module_market_overview.html -->
<script language="JavaScript" type="text/javascript">
// <![CDATA[
function deleteCategory(catId){ 
    if(confirm('{TXT_DELETE_CATEGORY}')) 
        window.location.replace("index.php?cmd=Market&{CSRF_PARAM}&act=deleteCategorie&id="+catId);
}

function selectMultiAction()
{
	with (document.frmShowCategories) {
		switch (frmShowCategories_MultiAction.value) {
			case 'activate':
				action='index.php?cmd=Market&act=statusCategorie';
				submit();
			break;
			case 'deactivate':
				action='index.php?cmd=Market&act=statusCategorie';
				submit();
			break;
			case 'delete':
				if (confirm('{TXT_DELETE_CATEGORY}')) {
					action='index.php?cmd=Market&act=deleteCategorie';
					submit();
				}
			break;
			default: //do nothing			
		}
	}
}
// ]]>
</script>
<form name="frmShowCategories" method="post" action="index.php?cmd=Market&amp;act=sortCategorie">
<table width="100%" cellspacing="0" cellpadding="3" border="0" align="top" class="adminlist">
	<tr>
		<th width="1%"><div align="left">#</div></th>
		<th width="1%"><div align="left"></div></th>
		<th width="22%"><div align="left">{TXT_NAME}</div></th>
		<th width="43%"><div align="left">{TXT_DESC}</div></th>
		<th width="10%" nowrap="nowrap" align="center"><div align="left">{TXT_ENTRIES_COUNT}</div></th>
		<th width="10%" nowrap="nowrap"><div align="right">{TXT_ACTION}&nbsp;</div></th>
	</tr>
	<!-- BEGIN showCategories -->
	<tr class="row{CAT_ROWCLASS}">
		<td width="1%"><input type="checkbox" name="selectedCategoryId[]" id="selectedCategoryId" value="{CAT_ID}"></td>
		<td width="1%"><a href="index.php?cmd=Market&amp;act=statusCategorie&amp;id={CAT_ID},{CAT_STATUS}" target="_self"><img src="../core/Core/View/Media/icons/{CAT_ICON}.gif" border="0" alt="" /></a></td>
		<td width="1%" nowrap="nowrap"><img src="../core/Core/View/Media/icons/folder_on.gif" border="0" alt="" />&nbsp;&nbsp;<input type="text" name="sortCategory[{CAT_ID}]" value="{CAT_SORTING}" maxlength="2" size="1" />&nbsp;<a href="index.php?cmd=Market&amp;act=entries&amp;catid={CAT_ID}">&nbsp;{CAT_NAME}</a>
		</td>
		<td align="justify">{CAT_DESCRIPTION}&nbsp;</td>
		<td align="center">{CAT_COUNT_ENTRIES}&nbsp;</td>
		<td align="right" nowrap="nowrap">
			<div align="right">
				<a href="index.php?cmd=Market&amp;act=editCategorie&amp;id={CAT_ID}" target="_self"><img alt="{TXT_IMG_EDIT}" title="{TXT_IMG_EDIT}" src="../core/Core/View/Media/icons/edit.gif" border="0" /></a>
				<a href="javascript:deleteCategory({CAT_ID});" target="_self"><img alt="{TXT_IMG_DEL}" src="../core/Core/View/Media/icons/delete.gif" border="0" title="{TXT_IMG_DEL}" /></a> 
			</div>
		</td>
	</tr>
	<!-- END showCategories -->
</table>
<br />
<input type="submit" value="{TXT_SAVE_ORDER}" style="margin-left:76px;" />
<table cellpadding="2" cellspacing="0" border="0">
	<tr>
		<td>
			<img src="../core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_MARKED}:" />
			<a href="#" onClick="changeCheckboxes('frmShowCategories','selectedCategoryId[]',true); return false;">{TXT_SELECT_ALL}</a> /
			<a href="#" onClick="changeCheckboxes('frmShowCategories','selectedCategoryId[]',false); return false;">{TXT_DESELECT_ALL}</a>
			<img src="../core/Core/View/Media/icons/strike.gif">
			<select name="frmShowCategories_MultiAction" onChange="selectMultiAction();">
				<option value="0">{TXT_SELECT_ACTION}</option>
				<option value="delete">{TXT_DELETE}</option>
				<option value="activate">{TXT_ACTIVATE}</option>
				<option value="deactivate">{TXT_DEACTIVATE}</option>
			</select>
		</td>
	</tr>
</table>
</form>
<!-- END module_market_overview.html -->
