<!-- START module_market_overview.html -->
<script language="JavaScript" type="text/javascript">
// <![CDATA[
function deleteEntry(entryId){ 
    if (confirm('{TXT_DELETE_ENTRY}')) 
        window.location.replace("index.php?cmd=Market&{CSRF_PARAM}&act=deleteEntry&id="+entryId);
}

function selectMultiAction()
{
	with (document.frmShowEntries) {
		switch (frmShowEntries_MultiAction.value) {
			case 'activate':
				action='index.php?cmd=Market&act=statusEntry';
				submit();
			break;
			case 'deactivate':
				action='index.php?cmd=Market&act=statusEntry';
				submit();
			break;
			case 'delete':
				if (confirm('{TXT_DELETE_ENTRY}')) {
					action='index.php?cmd=Market&act=deleteEntry';
					submit();
				}
			break;
			default: //do nothing
		}
	}
}
// ]]>
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="3" class="adminlist">
    <tr>
        <th>{TXT_CORE_FILTER}</th>
    </tr>
    <tr class="row1"> 
        <td>
          <form action="index.php?cmd=Market&act=entries" method="post">
            <input type="text" name="term" value="{TXT_SEARCH}" class="search" style="width: 240px" onclick="if(this.value=='{TXT_SEARCH}'){this.value=''}" />
            <input type="submit" name="submit" value="{TXT_SEARCH}" />
          </form>
        </td>
    </tr>
</table>
<br>
<form name="frmShowEntries" method="post">
<table width="100%" class="adminlist">
    <tr>
        <th colspan="10">{TXT_CORE_MARKET_TITLE}</th>
    </tr>
	<tr class="row3">
	 	<td width="1%" style="text-align: center;">#</td>
		<td width="1%" style="text-align: center;"><a href="index.php?cmd=Market&amp;act=entries&amp;sort=id{ENTRY_SORT_ID}" target="_self">ID</a></td>
		<td width="1%" style="text-align: center;"><a href="index.php?cmd=Market&amp;act=entries&amp;sort=status{ENTRY_SORT_ID}" target="_self">{TXT_STATUS}</a></td>
        <td width="1%">{TXT_CORE_SORTING_ORDER}</td>
		<td><a href="index.php?cmd=Market&amp;act=entries&amp;sort=title{ENTRY_SORT_ID}" target="_self">{TXT_MARKET_TITLE}</a></td>
		<td>{TXT_DESC}</td>
		<td><a href="index.php?cmd=Market&amp;act=entries&amp;sort=type{ENTRY_SORT_ID}" target="_self">{TXT_TYP}</a></td>
		<td><a href="index.php?cmd=Market&amp;act=entries&amp;sort=regdate{ENTRY_SORT_ID}" target="_self">{TXT_DATE}</a></td>
		<td nowrap="nowrap"><a href="index.php?cmd=Market&amp;act=entries&amp;sort=addedby{ENTRY_SORT_ID}" target="_self">{TXT_ADDEDBY}</a></td>
		<td style="text-align: right;">{TXT_ACTION}</td>
	</tr>
	<!-- BEGIN showEntries -->
	<tr class="row{ENTRY_ROWCLASS}">
	    <td><input type="checkbox" name="selectedEntryId[]" id="selectedEntryId" value="{ENTRY_ID}"></td>
		<td style="text-align: center;">{ENTRY_ID}</td>
		<td style="text-align: center;"><a href="index.php?cmd=Market&amp;act=statusEntry&amp;id={ENTRY_ID},{ENTRY_STATUS}{ENTRY_SORT_ID_STATUS}" target="_self"><img src="../core/Core/View/Media/icons/{ENTRY_ICON}.gif" border="0" alt="" /></a></td>
        <td><input type="text" name="entrySortNr[{ENTRY_ID}]" value="{ENTRY_SORT_ORDER}" style="width: 40px;" /></td>
		<td nowrap="nowrap">{ENTRY_TITLE}</td>
		<td>{ENTRY_DESCRIPTION}</td>
		<td nowrap="nowrap">{ENTRY_TYPE}</td>
		<td>{ENTRY_DATE}</td>
		<td>{ENTRY_ADDEDBY}</td>
		<td nowrap="nowrap" style="text-align: right;">
            <a href="index.php?cmd=Market&amp;act=copyEntry&amp;id={ENTRY_ID}" target="_self" title="{TXT_IMG_COPY}"><img alt="{TXT_IMG_COPY}" src="../core/Core/View/Media/icons/copy.gif" border="0" /></a>
            <a href="index.php?cmd=Market&amp;act=editEntry&amp;id={ENTRY_ID}" target="_self"><img alt="{TXT_IMG_EDIT}" title="{TXT_IMG_EDIT}" src="../core/Core/View/Media/icons/edit.gif" border="0" /></a> 
            <a href="javascript:deleteEntry({ENTRY_ID});" target="_self"><img alt="{TXT_IMG_DEL}" src="../core/Core/View/Media/icons/delete.gif" border="0" title="{TXT_IMG_DEL}" /></a> 
		</td>
	</tr>
	<!-- END showEntries -->
</table>
<br />
<input type="submit" name="market_store_order" value="{TXT_SAVE_ORDER}" style="margin-left:100px;" />
<table cellpadding="2" cellspacing="0" border="0">
	<tr>
		<td>
			<img src="../core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_MARKED}:" />
			<a href="#" onClick="changeCheckboxes('frmShowEntries','selectedEntryId[]',true); return false;">{TXT_SELECT_ALL}</a> / 
			<a href="#" onClick="changeCheckboxes('frmShowEntries','selectedEntryId[]',false); return false;">{TXT_DESELECT_ALL}</a>
			<img src="../core/Core/View/Media/icons/strike.gif">
			<select name="frmShowEntries_MultiAction" onChange="selectMultiAction();">
				<option value="0">{TXT_SELECT_ACTION}</option>
				<option value="delete">{TXT_DELETE}</option>
				<option value="activate">{TXT_ACTIVATE}</option>
				<option value="deactivate">{TXT_DEACTIVATE}</option>
			</select>
		</td>
	</tr>
</table>
</form>
<!-- END module_market_overview.html -->
