<!-- START module_news_teasers_frame_templates.html -->
<script language="javascript" type="text/javascript">
<!--
function confirmDeleteFrameTemplate() {
  if (confirm('{TXT_CONFIRM_DELETE_BOX_TPL_TEXT}')) {
    return true;
  } else {
    return false;
  }
}
// -->
</script>
<table class="adminlist" cellspacing="0" cellpadding="3" width="100%" border="0">
  <tr>
    <th colspan="2">{TXT_TEASER_BOX_TEMPLATES}</th>
  </tr>
  <tr class="row3">
    <td><b>{TXT_DESCRIPTION}</b></td>
    <td style="text-align:right;"><b>{TXT_FUNCTIONS}</b></td>
  </tr>
  <!-- BEGIN news_teaser_frame_template_list -->
    <tr class="{NEWS_TEASER_FRAME_TPL_ROW_CLASS}">
      <td width="15%"><a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=editFrameTemplate&amp;templateId={NEWS_TEASER_FRAME_TPL_ID}" title="{TXT_EDIT_BOX_TEMPLATE}">{NEWS_TEASER_FRAME_TPL_DESCRIPTION}</a></td>
      <td width="5%" style="text-align: right;">
        <a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=editFrameTemplate&amp;templateId={NEWS_TEASER_FRAME_TPL_ID}" title="{TXT_EDIT_BOX_TEMPLATE}"><img src="/core/Core/View/Media/icons/edit.gif" alt="{TXT_EDIT_BOX_TEMPLATE}" width="16" height="16" border="0" /></a>
        <a href="index.php?cmd=News&amp;act=settings&amp;tpl=teasers&amp;tpl2=deleteFrameTemplate&amp;id={NEWS_TEASER_FRAME_TPL_ID}" onclick="return confirmDeleteFrameTemplate()" title="{TXT_DELETE_TEMPLATE}"><img src="/core/Core/View/Media/icons/delete.gif" alt="{TXT_DELETE_TEMPLATE}" width="17" height="17" border="0" /></a>
      </td>
    </tr>
  <!-- END news_teaser_frame_template_list -->
</table>
<br />
<input type="button" onclick="window.location.replace('index.php?cmd=News&{CSRF_PARAM}&act=settings&tpl=teasers&tpl2=editFrameTemplate&templateId=0')" value="{TXT_ADD_TEMPLATE}" />
<!-- END module_news_teasers_frame_templates.html -->
