<script type="text/javascript">
    $J(document).ready(function() {
        $J('#remove-tag-filter').click(function () {
            $J('#tag-filter-value').val('');
            $J('#filter-form').submit();
        });
        $J('.news-image').each(function() {
            if ($J.trim($J(this).html()) == '') {
                $J(this).siblings('.news-text').css('width', '100%');
                $J(this).remove();
            }
        });
        $J('#news li:last').css('border', 0);
    });
</script>
<!-- BEGIN news_status_message -->
{TXT_NEWS_NO_NEWS_FOUND}
<!-- END news_status_message -->
<!-- BEGIN news_menu -->
<form name="formNews" id="filter-form" method="post" action="index.php?section=News&amp;cmd={NEWS_CMD}">
    {NEWS_CAT_DROPDOWNMENU}
    <!-- BEGIN news_tag_filter_container -->
    <div class="news-frm-full-width tag-filter-cont"> 
        <div id="tag-filter">
            <p>{NEWS_TAG_FILTER_NAME}</p>
            <p id="remove-tag-filter">&nbsp;</p>
        </div>
        <input type="hidden" name="tag" id='tag-filter-value' value="{NEWS_TAG_FILTER_NAME}" />
    </div>
    <!-- END news_tag_filter_container -->
</form>
<!-- END news_menu -->
<!-- BEGIN news_list -->
<ul id="news">
    <!-- BEGIN newsrow -->
    <li class="{NEWS_CSS} container-fluid">
        <h3>{NEWS_LINK_TITLE}</h3>
        <div class="row">
            <div class="news-image col-md-2">{NEWS_IMAGE}</div>
            <div class="news-text col-md-10">
                <div class="news-teaser">{NEWS_TEASER}</div>
                <div class="news-info">
                    {NEWS_DATE} &bull; {NEWS_CATEGORY}
                    <!-- BEGIN news_comments_count --> &bull; {NEWS_COUNT_COMMENTS}<!-- END news_comments_count -->
                    <!-- BEGIN news_tags_container -->
                    <span class="newsTags">
                        &bull;
                        <span class="tagCont">
                            <!-- BEGIN news_tag_list -->
                            {NEWS_TAG_LINK}
                            <!-- END news_tag_list -->
                        </span>
                    </span>
                    <!-- END news_tags_container -->
                </div>
            </div>
        </div>
    </li>
    <!-- END newsrow -->
</ul>
<!-- END news_list -->
{NEWS_PAGING}
